---
type Props = {
  class?: string;
};

const props = Astro.props;
---

<button class={`${props.class} alku-button`}><slot /></button>

<style>
  .alku-button {
    background: linear-gradient(
      to bottom,
      var(--ak-accent-color-9),
      var(--ak-accent-color-10)
    );
    border: var(--ak-border-width-1) solid var(--ak-accent-color-9);
    border-radius: var(--ak-border-radius-3);
    box-shadow:
      inset 0 -1px 1px 0px var(--ak-color-black-a6),
      inset 0 1px 1px 0px var(--ak-color-white-a9);
    color: var(--ak-accent-color-contrast);
    font-size: var(--ak-font-size-2);
    font-weight: var(--ak-font-weight-medium);
    height: 32px;
    padding-inline: var(--ak-space-3);
    text-shadow: 0 0.5px var(--ak-color-black-a9);
    white-space: nowrap;

    &:hover {
      background: var(--ak-accent-color-10);
    }

    &:focus-visible {
      background: var(--ak-accent-color-10);
      border-color: var(--ak-accent-color-10);
      outline: var(--ak-border-width-2) solid var(--ak-accent-color-10);
      outline-offset: var(--ak-space-1);
    }

    &:active {
      background: var(--ak-accent-color-10);
      border-color: var(--ak-accent-color-10);
      box-shadow:
        inset 0 -1px 1px 0px var(--ak-color-white-a7),
        inset 0 1px 1px 0px var(--ak-color-black-a6);
      padding-top: 1px;
      text-shadow: none;
    }
  }
</style>
