<div class="demo not-content">
  <header class="demo-header">
    <slot name="header" />
  </header>
  <main class="background-polka demo-content">
    <slot />
  </main>
</div>

<style>
  .demo {
    --border-radius: var(--go-border-radius-3);

    border: var(--go-border-width-1) solid var(--go-color-grey-5);
    border-radius: var(--border-radius);

    .demo-header {
      padding: var(--go-space-3);
      border-bottom: var(--go-border-width-1) solid var(--go-color-grey-6);
    }

    .demo-content {
      padding: var(--go-space-6);
      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    }
  }
</style>
