---
import type { Props } from "@astrojs/starlight/props";
import ThemeSelect from "@astrojs/starlight/components/ThemeSelect.astro";
import Search from "@astrojs/starlight/components/Search.astro";
import SocialIcons from "@astrojs/starlight/components/SocialIcons.astro";
---

<h3>ALKU</h3>
<div class="">
  <ThemeSelect {...Astro.props} />
  <SocialIcons {...Astro.props} />
  <Search {...Astro.props} class="site-search"><slot /></Search>
</div>

<script>
  const body = document.body;

  body.setAttribute("data-accent-color", "orange");
  body.setAttribute("data-scaling", "100%");
  body.classList.add("alku");
</script>

<style>
  div {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    flex: 1;
    gap: var(--ak-space-3);
  }
</style>
