---
export type Props = {
  element: "h1" | "h2" | "h3" | "h4" | "h5" | "h6";
  id: string;
};

const { element: Element = "h2", id } = Astro.props;
---

<Element>
  <a id={id} href={`#${id}`} class="heading-anchor">
    <slot />
  </a>
</Element>

<style>
  .heading-anchor {
    color: var(--wui-color-grey-12);
    font-weight: var(--wui-font-weight-medium);
  }

  h2 {
    font-size: var(--wui-font-size-6);
    line-height: var(--wui-line-height-6);
    margin-top: var(--wui-space-8);
  }

  h3 {
    font-size: calc(17px * var(--wui-scale));
    line-height: var(--wui-line-height-5);
    margin-top: var(--wui-space-7);
  }

  h4 {
    font-size: calc(15px * var(--wui-scale));
    line-height: var(--wui-line-height-3);
    margin-top: var(--wui-space-7);
  }
</style>
