---
import type { Props } from "@astrojs/starlight/props";

const { title, description } = Astro.props.entry.data;
---

<h1 id="_top">{title}</h1>
{description && <p class="page-description">{description}</p>}

<style>
  h1 {
    margin-top: var(--ak-space-4);
    font-size: var(--ak-font-size-8);
    line-height: var(--ak-line-height-8);
    font-weight: var(--ak-font-weight-bold);
    color: var(--ak-color-grey-12);
  }

  p.page-description {
    color: var(--ak-color-grey-10);
    font-size: var(--ak-font-size-4);
    margin-top: var(--ak-space-4);
  }
</style>
