.search-modal-overlay {
  align-items: center;
  background: var(--wui-color-white-a7);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  left: 0;
  height: var(--visual-viewport-height);
  position: fixed;
  top: 0;
  width: 100%;

  @media (min-width: 768px) {
    padding-top: 200px;
  }

  .search-modal {
    background: var(--wui-color-white);
    border-radius: min(var(--wui-border-radius-5), 20px);
    border: var(--wui-border-width-1) solid var(--wui-color-grey-4);
    box-shadow: var(--wui-shadow-5);
    max-height: calc(100% - var(--wui-space-4) * 2);
    min-width: calc(100% - var(--wui-space-4) * 2);
    position: relative;
    transform-origin: center center;

    @media (min-width: 768px) {
      max-height: 85dvh;
      min-width: 400px;
      max-width: 600px;
      width: 100%;
    }

    .search-command-menu-input {
      font-size: var(--wui-font-size-3);
      font-family: var(--wui-font-family-sans);
      padding: var(--wui-space-4);
      width: 100%;

      &:placeholder {
        color: var(--wui-color-grey-11);
      }
    }

    .search-command-menu-list {
      border-top: var(--wui-border-width-1) solid var(--wui-color-grey-4);
      max-height: 400px;
      overflow: auto;
      padding: var(--wui-space-3);
      overscroll-behavior: contain;
      scroll-padding-block: var(--wui-space-3);

      .search-command-menu-item {
        border-radius: var(--wui-border-radius-3);
        color: var(--wui-color-grey-11);
        display: flex;
        flex-direction: column;
        font-family: var(--wui-font-family-sans);
        padding-inline: var(--wui-space-3);
        padding-block: var(--wui-space-3);

        &[data-selected="true"] {
          background: var(--wui-color-grey-3);
        }

        .search-command-menu-item-title {
          color: var(--wui-color-grey-12);
          font-size: var(--wui-font-size-2);
          font-weight: var(--wui-font-weight-medium);
          line-height: var(--wui-line-height-3);
        }

        .search-command-menu-item-description {
          font-size: var(--wui-font-size-2);
        }
      }
    }
  }
}
