.sp-radio-group {
  align-items: center;
  background: var(--wui-color-grey-2);
  border: var(--wui-border-width-1) solid var(--wui-color-grey-4);
  border-radius: var(--wui-border-radius-3);
  display: flex;
  gap: var(--wui-space-2);
  padding: var(--wui-space-2);

  .sp-radio-item {
    --size: calc(34px * var(--wui-scale));

    align-items: center;
    border-radius: calc(var(--wui-border-radius-3) - var(--wui-space-2));
    display: flex;
    justify-content: center;
    height: var(--size);
    width: var(--size);

    &[data-hovered] {
      background: var(--wui-color-grey-3);
    }

    &[data-focus-visible] {
      outline: var(--wui-border-width-2) solid var(--wui-color-accent-8);
      outline-offset: 2px;
    }

    &[data-selected] {
      background: var(--wui-color-grey-5);
    }

    & > svg {
      --size: calc(18px * var(--wui-scale));

      height: var(--size);
      width: var(--size);
    }
  }
}

.sp-hero-container {
  align-items: center;
  display: flex;
  gap: var(--wui-space-4);

  .sp-hero-group {
    color: var(--wui-color-grey-12);

    .sp-hero-input {
      &[data-mode="spatial"] {
        border: var(--wui-border-width-1) dashed var(--wui-color-grey-8);
        background: transparent;
      }

      &[data-mode="color"] {
        background: var(--input-background);
        border: var(--wui-border-width-1) solid var(--wui-color-grey-6);
        box-shadow: var(--wui-shadow-1);

        &:focus {
          outline: var(--wui-border-width-2) solid var(--wui-color-accent-8);
          border-color: transparent;
        }
      }
    }
  }

  .sp-hero-button {
    &[data-mode="spatial"] {
      border: var(--wui-border-width-1) dashed var(--wui-color-grey-8);
    }

    &[data-mode="color"] {
      background: var(--wui-color-accent-9);
      color: var(--wui-color-accent-contrast);
      font-weight: var(--wui-font-weight-medium);

      &:hover {
        background: var(--wui-color-accent-10);
      }

      &:active {
        background: oklch(from var(--wui-color-accent-10) calc(l * 0.9) c h);
      }

      &:focus-visible {
        outline: var(--wui-border-width-2) solid var(--wui-color-accent-8);
        outline-offset: 2px;
      }
    }
  }
}

:where([data-theme="light"]) {
  .sp-hero-group {
    --input-background: var(--wui-color-grey-1);
  }
}

:where([data-theme="dark"]) {
  .sp-hero-group {
    --input-background: var(--wui-color-grey-2);
  }
}
