---
import { DemoTabs } from "./demo-tabs";

const hasTabs =
  Astro.slots.has("tsx") || Astro.slots.has("css") || Astro.slots.has("html");
---

<div class="demo not-content">
  <header class="demo-header">
    <slot name="header" />
  </header>
  <main class="background-polka demo-content">
    <slot />
  </main>
  {
    hasTabs && Object.values(Astro.slots).length > 2 && (
      <div class="demo-footer">
        <DemoTabs
          client:load
          renderTsx={Astro.slots.has("tsx")}
          renderCss={Astro.slots.has("css")}
          renderHtml={Astro.slots.has("html")}
        >
          <slot slot="tsx" name="tsx" />
          <slot slot="html" name="html" />
          <slot slot="css" name="css" />
        </DemoTabs>
      </div>
    )
  }
  {
    Astro.slots.has("footer") && (
      <div class="demo-footer">
        <slot name="footer" />
      </div>
    )
  }
</div>

<style>
  .demo {
    --border-radius: min(var(--wui-border-radius-3), 15px);
    --border-color: var(--wui-color-grey-5);

    border: var(--wui-border-width-1) solid var(--border-color);
    border-radius: var(--border-radius);

    .demo-header {
      display: none;

      &:has(*) {
        display: block;
        padding: var(--wui-space-3);
        border-bottom: var(--wui-border-width-1) solid var(--border-color);
      }
    }

    .demo-content {
      background-color: var(--demo-content-background);
      background-image: radial-gradient(
        var(--wui-color-grey-4) 1px,
        var(--demo-content-background) 1px
      );
      background-size: 10px 10px;
      border-radius: var(--border-radius);
      position: relative;
      padding: var(--wui-space-6);
    }

    .demo-footer {
      display: block;
      border-top: var(--wui-border-width-1) solid var(--border-color);

      .expressive-code {
        margin: 0;
        pre {
          background: var(--demo-code-background);
          border: none;
          border-radius: 0;
          border-bottom-left-radius: var(--border-radius);
          border-bottom-right-radius: var(--border-radius);
        }
      }
    }
  }

  :global(:where([data-theme="light"])) {
    .demo {
      .demo-content {
        --demo-content-background: var(--wui-color-white);
      }

      .demo-footer {
        --demo-code-background: var(--wui-color-grey-2);
      }
    }
  }

  :global(:where([data-theme="dark"])) {
    .demo {
      .demo-content {
        --demo-content-background: var(--wui-color-grey-1);
      }

      .demo-footer {
        --demo-code-background: var(--wui-color-grey-2);
      }
    }
  }
</style>
