@layer theme {
  .wui-layout {
    /* set the page header height to allow open button to calculate its spacing */
    --wui-page-header-height: calc(52px * var(--wui-scale));

    background: var(--wui-layout-background);

    .wui-layout-mask {
      background: var(--wui-layout-mask-background);
      opacity: 1;

      @media (prefers-reduced-motion: no-preference) {
        transition: display, opacity;
        transition-duration: var(--wui-duration-3);
        transition-timing-function: ease-in-out;
      }

      @starting-style {
        opacity: 0;
      }
    }

    .wui-layout-sidebar {
      &:is([data-state="open"], [data-state="closed"]) {
        background: var(--wui-layout-sidebar-open-background);
        border-right: var(--wui-border-width-1) solid
          var(--wui-layout-sidebar-open-border-color);
        box-shadow: var(--wui-shadow-6);

        @media (min-width: 768px) {
          border: var(--wui-border-width-1) solid
            var(--wui-layout-sidebar-open-border-color);
        }
      }

      @media (prefers-reduced-motion: no-preference) {
        transition-property: background, left, top, height;
        transition-duration: var(--wui-duration-4);
        transition-timing-function: var(--wui-bezier-1);
        will-change: left, top, height;
      }
    }

    .wui-layout-content {
      background: var(--wui-layout-background);

      @media (prefers-reduced-motion: no-preference) {
        &:not([data-sidebar-dragging="true"]) {
          transition-property: padding-left;
          transition-duration: var(--wui-duration-4);
          transition-timing-function: var(--wui-bezier-1);
          will-change: padding-left;
        }
      }
    }

    .wui-layout-sidebar-open-button {
      background: transparent;
      grid-template-columns: 1fr;
      height: var(--wui-button-height, var(--wui-button-md-height));
      isolation: revert;
      justify-items: center;
      padding: 0;
      position: absolute;
      left: var(--wui-space-4);
      opacity: 1;
      width: var(--wui-button-height, var(--wui-button-md-height));

      &:is([data-hovered], [data-pressed]) {
        background: transparent;
      }

      @media (prefers-reduced-motion: no-preference) {
        transition: display, opacity;
        transition-duration: var(--wui-duration-2);
        transition-timing-function: ease-in-out;
      }

      @starting-style {
        opacity: 0;
      }
    }

    .wui-layout-sidebar-resize-handle {
      --showcase-sidebar-resize-handle-width: calc(3px * var(--wui-scale));

      cursor: col-resize;
      height: calc(
        100% -
        var(--wui-layout-content-space) *
        2 -
        var(--wui-space-4) *
        2
      );
      margin-inline: calc(-1 * var(--wui-space-3));
      outline: none;
      padding-inline: var(--wui-space-3);
      position: absolute;
      right: calc(
        -1 *
        var(--wui-layout-content-space) +
        var(--showcase-sidebar-resize-handle-width) /
        2
      );
      top: 50%;
      transform: translateY(-50%);

      span {
        background: var(--wui-layout-sidebar-resize-handle-background);
        border-radius: var(--wui-border-radius-2);
        display: block;
        height: 100%;
        opacity: 0;
        width: var(--showcase-sidebar-resize-handle-width);

        @media (prefers-reduced-motion: no-preference) {
          transition: opacity;
          transition-delay: var(--wui-duration-2);
          transition-duration: var(--wui-duration-2);
          transition-timing-function: ease-in-out;
        }
      }

      &:is([data-hovered], [data-sidebar-dragging]) {
        span {
          opacity: 1;
        }
      }

      &[data-focus-visible] {
        span {
          opacity: 1;
          outline: var(--wui-border-width-1) solid var(--wui-color-accent-8);
          outline-offset: 1px;
        }
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    &:has(.wui-layout-sidebar:is([data-state="open"], [data-state="closed"])) {
      .wui-layout-sidebar-resize-handle {
        display: none;
      }
    }

    &:has(.wui-layout-sidebar:is([data-state="docked"])) {
      .wui-layout-sidebar-open-button {
        @media (min-width: 768px) {
          display: none;
        }
      }
    }
  }

  [data-theme="light"] {
    .wui-layout {
      --wui-layout-background: var(--wui-color-grey-3);

      .wui-layout-mask {
        --wui-layout-mask-background: var(--wui-color-black-a2);
      }

      .wui-layout-sidebar {
        --wui-layout-sidebar-open-background: var(--wui-color-white);
        --wui-layout-sidebar-open-border-color: var(--wui-color-grey-6);

        .wui-layout-sidebar-resize-handle {
          --wui-layout-sidebar-resize-handle-background: var(--wui-color-grey-9);
        }
      }
    }
  }

  [data-theme="dark"] {
    .wui-layout {
      --wui-layout-background: var(--wui-color-black);

      .wui-layout-mask {
        --wui-layout-mask-background: var(--wui-color-black-a8);
      }

      .wui-layout-sidebar {
        --wui-layout-sidebar-open-background: var(--wui-color-grey-1);
        --wui-layout-sidebar-open-border-color: var(--wui-color-grey-3);

        .wui-layout-sidebar-resize-handle {
          --wui-layout-sidebar-resize-handle-background: var(--wui-color-grey-9);
        }
      }
    }
  }
}
