@layer theme {
  .wui-page {
    background: var(--wui-page-background);
    border-radius: 0;

    @media (min-width: 768px) {
      border-radius: min(var(--wui-border-radius-3), 18px);
      border: var(--wui-border-width-1) solid var(--wui-page-border-color);
      box-shadow: var(--wui-shadow-2);
    }

    .wui-page__header {
      position: relative;
    }

    .wui-page__content {
      .wui-page__title {
        color: var(--wui-color-grey-12);
        font-family: var(--wui-font-family-sans);
        font-size: var(--wui-font-size-7);
        font-weight: var(--wui-font-weight-semibold);
        letter-spacing: var(--wui-letter-spacing-9);
        margin-bottom: var(--wui-space-9);
        margin-top: var(--wui-space-7);
      }
    }
  }

  [data-theme="light"] {
    .wui-page {
      --wui-page-background: var(--wui-color-white);
      --wui-page-border-color: var(--wui-color-grey-4);
    }
  }

  [data-theme="dark"] {
    .wui-page {
      --wui-page-background: var(--wui-color-grey-1);
      --wui-page-border-color: var(--wui-color-grey-3);
    }
  }
}
