@import "@alku/css";

:root {
  --sl-font: var(--ak-font-family-sans);
}

.alku {
  --sl-color-black: var(--ak-color-grey-background);
  --sl-color-bg: var(--ak-color-grey-background);
  --sl-color-bg-nav: var(--ak-color-grey-background);
  --sl-color-bg-sidebar: var(--ak-color-grey-background);
  --sl-color-gray-2: var(--ak-color-grey-9);
  --sl-color-gray-5: var(--ak-color-grey-5);
  --sl-color-hairline-shade: var(--ak-color-grey-4);
  --sl-color-hairline-shade: var(--ak-color-grey-4);
  --sl-color-white: var(--ak-color-grey-12);
  --sl-color-text: var(--ak-color-grey-12);
  --sl-color-text-accent: var(--ak-accent-color-11);
  --sl-color-bg-inline-code: var(--ak-accent-color-a3);
  --sl-text-h2: var(--ak-font-size-7);
  --sl-text-h3: var(--ak-font-size-5);
  --sl-text-h4: var(--ak-font-size-4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--ak-font-weight-bold);
  font-family: var(--ak-font-family-serif);
}

.background-polka {
  background-color: var(--ak-color-grey-1);
  opacity: 0.8;
  background-image: radial-gradient(
    var(--ak-color-grey-9) 0.5px,
    var(--ak-color-grey-1) 0.5px
  );
  background-size: 10px 10px;
}

/* anchor hover */
.sl-markdown-content a:hover:not(:where(.not-content *)) {
  color: var(--sl-color-text-accent);
  text-decoration: underline;
}

/* content panel */
.content-panel + .content-panel {
  border-top: none;
}

/* header */
.header {
  align-items: center;
  display: flex;
}

/* headings in markdown */
.sl-markdown-content :is(h1, h2, h3, h4, h5, h6):not(:where(.not-content *)) {
  color: var(--sl-color-text);
}

/* inline code */
.sl-markdown-content code:not(:where(.not-content *)) {
  border-radius: var(--ak-border-radius-2);
  color: var(--ak-accent-color-11);
}

/* code blocks */
.alku .expressive-code .frame {
  --code-background: var(--ak-color-grey-2);
  --ec-brdRad: var(--ak-border-radius-3);
  --ec-brdCol: var(--ak-color-grey-6);
  --ec-frm-edTabBarBrdCol: var(--ak-color-grey-6);
  --ec-frm-edActTabIndBtmCol: var(--ak-color-grey-6);
  --ec-frm-edActTabBrdCol: var(--ak-color-grey-6);
  --ec-frm-edTabBarBrdBtmCol: var(--ak-color-grey-6);
  --ec-tm-insBg: var(--ak-color-grey-a3);
  --ec-tm-insBrdCol: var(--ak-color-grey-6);
  --ec-frm-frameBoxShdCssVal: none;
  --header-border-radius: var(--ak-border-radius-3);
}

/* sidebar nav */
nav.sidebar {
  .sidebar-pane {
    border-color: var(--sl-color-hairline);

    .large {
      color: var(--sl-color-text);
    }

    ul {
      li {
        a {
          &:hover {
            color: var(--sl-color-text);
          }

          &[aria-current="page"] {
            background: transparent;
            font-weight: var(--ak-font-weight-normal);
            color: var(--ak-accent-color-11);
          }
        }
      }
    }
  }
}

/* tabs */
.tablist-wrapper {
  overflow-y: hidden;
}

ul[role="tablist"] {
  border-bottom: var(--ak-border-width-1) solid var(--ak-color-grey-6);

  .tab {
    a[role="tab"] {
      color: var(--ak-color-grey-12);
      border-bottom: transparent;

      &[aria-selected="true"] {
        color: var(--ak-color-grey-12);
        border-bottom: var(--ak-border-width-3) solid var(--ak-color-orange-9);
      }
    }
  }
}

/* table */
.sl-markdown-content table:not(:where(.not-content *)) {
  display: table;
  width: 100%;
}

.sl-markdown-content thead tr:not(:where(.not-content *)) {
  background: var(--ak-color-grey-3);
  text-align: left;
}

[data-theme="light"]
  .sl-markdown-content
  :is(th, td):not(:where(.not-content *)) {
  border: var(--ak-border-width-1) solid var(--ak-color-grey-6);
}

[data-theme="light"] .sl-markdown-content thead tr:not(:where(.not-content *)) {
  background: var(--ak-color-grey-2);
}

.sl-markdown-content tbody tr:nth-child(n):not(:where(.not-content *)) {
  background: var(--ak-color-grey-2);
}

[data-theme="light"]
  .sl-markdown-content
  tbody
  tr:nth-child(n):not(:where(.not-content *)) {
  background: var(--ak-color-grey-1);
}

.sl-markdown-content tr:last-child td:last-child:not(:where(.not-content *)) {
  border-bottom-left-radius: var(--ak-border-radius-3);
}

/* table of contents */
.right-sidebar {
  border-left: none;

  h2 {
    color: var(--ak-color-grey-12);
    font-size: var(--ak-font-size-3);
    font-weight: var(--ak-font-weight-medium);
  }

  ul {
    li {
      a {
        color: var(--ak-color-grey-10);

        &:hover {
          color: var(--ak-color-grey-11);
        }

        &[aria-current="true"] {
          color: var(--ak-color-grey-12);
        }
      }
    }
  }
}
