@import "@alku/css";

.alku {
  --sl-color-black: var(--ak-color-grey-background);
  --sl-color-bg: var(--ak-color-grey-background);
  --sl-color-bg-nav: var(--ak-color-grey-background);
  --sl-color-bg-sidebar: var(--ak-color-grey-background);
  --sl-color-gray-2: var(--ak-color-grey-9);
  --sl-color-gray-5: var(--ak-color-grey-5);
  --sl-color-hairline-shade: var(--ak-color-grey-4);
  --sl-color-hairline-shade: var(--ak-color-grey-4);
  --sl-color-white: var(--ak-color-white);
  --sl-color-text: var(--ak-color-grey-12);
  --sl-color-text-accent: var(--ak-accent-color-11);
  --sl-font: var(--ak-font-family-sans);
  --sl-text-h2: var(--ak-font-size-7);
  --sl-text-h3: var(--ak-font-size-5);
  --sl-text-h4: var(--ak-font-size-4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--ak-font-weight-bold);
  font-family: var(--ak-font-family-serif);
}

/* anchor hover */
.sl-markdown-content a:hover:not(:where(.not-content *)) {
  color: var(--sl-color-text-accent);
  text-decoration: underline;
}

/* content panel */
.content-panel + .content-panel {
  border-top: none;
}

/* code blocks */
.alku .expressive-code .frame {
  --code-background: var(--ak-color-grey-2);
  --ec-brdRad: var(--ak-border-radius-3);
  --ec-tm-insBg: var(--ak-color-green-a2);
  --ec-tm-insBrdCol: var(--ak-color-green-5);
  --header-border-radius: var(--ak-border-radius-3);
}

/* table of contents */
.right-sidebar {
  border-left: none;

  h2 {
    color: var(--ak-color-grey-12);
    font-size: var(--ak-font-size-3);
    font-weight: var(--ak-font-weight-medium);
  }

  ul {
    li {
      a {
        color: var(--ak-color-grey-10);

        &[aria-current="true"] {
          color: var(--ak-color-grey-12);
        }
      }
    }
  }
}
