@import "@alku/css" layer(alku);
@import "tailwindcss/preflight" layer(base);
@import "tailwindcss/utilities" layer(utilities);

@layer utilities {
  .alku {
    @theme {
      --color-grey-1: var(--ak-color-grey-1);
      --color-grey-2: var(--ak-color-grey-2);
      --color-grey-3: var(--ak-color-grey-3);
      --color-grey-4: var(--ak-color-grey-4);
      --color-grey-5: var(--ak-color-grey-5);
      --color-grey-6: var(--ak-color-grey-6);
      --color-grey-7: var(--ak-color-grey-7);
      --color-grey-8: var(--ak-color-grey-8);
      --color-grey-9: var(--ak-color-grey-9);
      --color-grey-10: var(--ak-color-grey-10);
      --color-grey-11: var(--ak-color-grey-11);
      --color-grey-12: var(--ak-color-grey-12);

      --spacing-1: var(--ak-space-1);
      --spacing-2: var(--ak-space-2);
    }
  }
}
