@layer reset {
  body {
    font-family: var(--ak-font-family-sans);
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: greyscale;
  }

  ::selection {
    background: var(--ak-accent-color-9);
    color: var(--ak-accent-color-contrast);
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    appearance: none;
    background: transparent;
    border: none;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    outline: none;
    color: inherit;
    padding: 0;
    margin: 0;
    text-align: initial;
    -webkit-tap-highlight-color: transparent;
  }

  a {
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  input {
    appearance: none;
    background: transparent;
    border: none;
    color: inherit;
    font-family: inherit;
    margin: 0;
    outline: none;
    padding: 0;
  }
}
