@layer component {
  [data-component="field"] {
    width: 100%;

    [data-slot="label"] {
      cursor: var(--wui-cursor-pressable, default);
      display: block;
      font-size: var(--wui-font-size-2);
      user-select: none;
      white-space: nowrap;
    }

    [data-slot="description"] {
      display: block;
      font-size: var(--wui-font-size-2);
      line-height: var(--wui-line-height-4);
    }

    [data-slot="error"] {
      display: block;
      font-size: var(--wui-font-size-2);
    }

    /* label control */
    &:has(
        [data-slot="label"]
          + :is([data-component="group"], [data-component="input"])
      ) {
      [data-slot="label"] {
        margin-bottom: var(--wui-space-4);
      }
    }

    /* label description */
    &:has([data-slot="label"] + [data-slot="description"]) {
      [data-slot="description"] {
        margin-top: var(--wui-space-3);
      }
    }

    /* description control */
    &:has(
        [data-slot="description"]
          + :is([data-component="group"], [data-component="input"])
      ) {
      [data-slot="description"] {
        margin-bottom: var(--wui-space-4);
      }
    }

    /* control description */
    &:has(
        :is([data-component="group"], [data-component="input"])
          + [data-slot="description"]
      ) {
      [data-slot="description"] {
        margin-top: var(--wui-space-4);
      }
    }

    /* control description error */
    &:has(
        :is([data-component="group"], [data-component="input"])
          + [data-slot="error"]
      ) {
      [data-slot="error"] {
        margin-top: var(--wui-space-4);
      }
    }

    /* control error */
    &:has(
        :is([data-component="group"], [data-component="input"])
          + [data-slot="description"]
          + [data-slot="error"]
      ) {
      [data-slot="error"] {
        margin-top: var(--wui-space-4);
      }
    }

    /* checkbox followed by label or description or error */
    &:has(
        :is([data-component="checkbox"])
          + :is(
            [data-slot="label"],
            [data-slot="description"],
            [data-slot="error"]
          )
      ) {
      display: grid;
      grid-template-columns: auto 1fr;

      [data-slot="label"],
      [data-slot="description"] {
        grid-column-start: 2;
        margin-left: var(--wui-space-4);
      }

      [data-slot="error"] {
        margin-top: var(--wui-space-4);
        grid-column: -1 / 1;
      }
    }
  }
}
