@layer component {
  [data-component="layout"] {
    --wui-layout-sidebar-width: calc(296px * var(--wui-scale));
    --wui-layout-sidebar-margin-inline: var(--wui-space-4);
    --wui-layout-content-header-height: calc(60px * var(--wui-scale));

    min-height: 100vh;

    [data-slot="mask"] {
      inset: 0;
      position: fixed;
      z-index: 95;
    }

    [data-slot="sidebar"] {
      height: 100%;
      left: calc(-1 * var(--wui-layout-sidebar-width));
      position: fixed;
      top: 0;
      width: var(--wui-layout-sidebar-width);
      z-index: 96;

      &[data-state="open"] {
        height: 100%;
        left: 0;
        top: 0;
      }

      &[data-state="closed"] {
        left: calc(-1 * var(--wui-layout-sidebar-width));
        top: 0;
      }
    }

    [data-slot="content"] {
      padding-left: 0;
      width: 100%;
    }

    @media (min-width: 768px) {
      [data-slot="sidebar"] {
        &[data-state="docked"] {
          left: 0;
          top: 0;
        }

        &[data-state="open"] {
          height: calc(
            100% -
            var(--wui-layout-sidebar-margin-inline) -
            var(--wui-layout-content-header-height)
          );
          left: var(--wui-layout-sidebar-margin-inline);
          top: var(--wui-layout-content-header-height);
        }

        &[data-state="closed"] {
          left: calc(-1 * var(--wui-layout-sidebar-width));
          top: var(--wui-layout-content-header-height);
        }

        &:is([data-state="open"], [data-state="closed"]) {
          border-radius: min(var(--wui-border-radius-3), 16px);
        }

        &:not([data-state="open"], [data-state="closed"]) {
          left: 0;
          top: 0;
        }
      }

      &:has([data-slot="sidebar"][data-state="docked"]) {
        [data-slot="content"] {
          padding-left: var(--wui-layout-sidebar-width);
        }
      }

      &:has(
          [data-slot="sidebar"]:not([data-state="open"], [data-state="closed"])
        ) {
        [data-slot="content"] {
          padding-left: var(--wui-layout-sidebar-width);
        }
      }
    }
  }
}
