@layer component {
  [data-component="layout"] {
    --wui-layout-sidebar-width: calc(296px * var(--wui-scale));
    --wui-layout-sidebar-margin-inline: var(--wui-space-4);
    --wui-layout-content-header-height: calc(60px * var(--wui-scale));
    --wui-layout-content-space: var(--wui-space-5);

    display: flex;
    flex-direction: column;
    min-height: 100svh;

    [data-slot="mask"] {
      inset: 0;
      position: fixed;
      z-index: 95;
    }

    [data-slot="sidebar"] {
      height: 100%;
      left: calc(-1 * var(--wui-layout-sidebar-width));
      position: fixed;
      top: 0;
      width: var(--wui-layout-sidebar-width);
      z-index: 96;

      &[data-state="open"] {
        height: 100%;
        left: 0;
        top: 0;
      }

      &[data-state="closed"] {
        left: calc(-1 * var(--wui-layout-sidebar-width));
        top: 0;
      }
    }

    [data-slot="content"] {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 0;
      width: 100%;
    }

    @media (min-width: 768px) {
      [data-slot="sidebar"] {
        &[data-state="docked"] {
          left: 0;
          top: 0;
        }

        &[data-state="open"] {
          height: calc(
            100% - var(--wui-layout-sidebar-margin-inline) -
              var(--wui-layout-content-header-height)
          );
          left: var(--wui-layout-sidebar-margin-inline);
          top: var(--wui-layout-content-header-height);
        }

        &[data-state="closed"] {
          left: calc(-1 * var(--wui-layout-sidebar-width));
          top: var(--wui-layout-content-header-height);
        }

        &:is([data-state="open"], [data-state="closed"]) {
          border-radius: min(var(--wui-border-radius-3), 16px);
        }

        &:not([data-state="open"], [data-state="closed"]) {
          left: 0;
          top: 0;
        }
      }

      &:has([data-slot="sidebar"][data-state="docked"]) {
        [data-slot="content"] {
          padding-left: calc(
            var(--wui-layout-sidebar-width) + var(--wui-layout-content-space)
          );

          &:has([data-component="page"]) {
            padding-block: var(--wui-layout-content-space);
            padding-right: var(--wui-layout-content-space);
          }
        }
      }

      &:has(
          [data-slot="sidebar"]:not([data-state="open"], [data-state="closed"])
        ) {
        [data-slot="content"] {
          padding-left: calc(
            var(--wui-layout-sidebar-width) + var(--wui-layout-content-space)
          );
          &:has([data-component="page"]) {
            padding-block: var(--wui-layout-content-space);
            padding-right: var(--wui-layout-content-space);
          }
        }
      }
    }
  }
}
