@layer component {
  [data-component="listbox"] {
    --wui-listbox-grid-columns: auto auto 1fr auto;

    /* border radius */
    --wui-listbox-item-sm-border-radius: var(--wui-border-radius-1);
    --wui-listbox-item-md-border-radius: var(--wui-border-radius-2);
    --wui-listbox-item-lg-border-radius: var(--wui-border-radius-3);

    /* font size */
    --wui-listbox-item-sm-font-size: var(--wui-font-size-1);
    --wui-listbox-item-md-font-size: var(--wui-font-size-2);
    --wui-listbox-item-lg-font-size: var(--wui-font-size-3);

    /* height */
    --wui-listbox-item-sm-height: calc(26px * var(--wui-scale));
    --wui-listbox-item-md-height: calc(32px * var(--wui-scale));
    --wui-listbox-item-lg-height: calc(40px * var(--wui-scale));

    /* icon size */
    --wui-listbox-item-sm-icon-size: 1em;
    --wui-listbox-item-md-icon-size: 1em;
    --wui-listbox-item-lg-icon-size: 1em;

    /* space */
    --wui-listbox-item-sm-space: var(--wui-space-3);
    --wui-listbox-item-md-space: var(--wui-space-3);
    --wui-listbox-item-lg-space: var(--wui-space-4);

    display: grid;
    grid-template-columns: var(--wui-listbox-grid-columns);

    &[data-size="sm"] {
      --wui-listbox-item-border-radius: var(
        --wui-listbox-item-sm-border-radius
      );
      --wui-listbox-item-font-size: var(--wui-listbox-item-sm-font-size);
      --wui-listbox-item-height: var(--wui-listbox-item-sm-height);
      --wui-listbox-item-icon-size: var(--wui-listbox-item-sm-icon-size);
      --wui-listbox-item-space: var(--wui-listbox-item-sm-space);
    }

    &[data-size="md"] {
      --wui-listbox-item-border-radius: var(
        --wui-listbox-item-md-border-radius
      );
      --wui-listbox-item-font-size: var(--wui-listbox-item-md-font-size);
      --wui-listbox-item-height: var(--wui-listbox-item-md-height);
      --wui-listbox-item-icon-size: var(--wui-listbox-item-md-icon-size);
      --wui-listbox-item-space: var(--wui-listbox-item-md-space);
    }

    &[data-size="lg"] {
      --wui-listbox-item-border-radius: var(
        --wui-listbox-item-lg-border-radius
      );
      --wui-listbox-item-font-size: var(--wui-listbox-item-lg-font-size);
      --wui-listbox-item-height: var(--wui-listbox-item-lg-height);
      --wui-listbox-item-icon-size: var(--wui-listbox-item-lg-icon-size);
      --wui-listbox-item-space: var(--wui-listbox-item-lg-space);
    }

    [data-component="section"] {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 1 / -1;

      [data-component="header"] {
        align-items: center;
        grid-column-start: 3;
        display: grid;
        height: var(
          --wui-listbox-item-height,
          var(--wui-listbox-item-md-height)
        );

        [data-component="label"] {
          font-size: var(
            --wui-listbox-item-font-size,
            var(--wui-listbox-item-md-font-size)
          );
        }
      }
    }

    [data-component="separator"] {
      margin-block: var(--wui-space-2);
      grid-column: 1 / -1;
    }

    [data-component="listbox-item"] {
      align-items: center;
      border-radius: var(
        --wui-listbox-item-border-radius,
        var(--wui-listbox-item-md-border-radius)
      );
      column-gap: var(
        --wui-listbox-item-space,
        var(--wui-listbox-item-md-space)
      );
      cursor: var(--wui-cursor-pressable, default);
      display: grid;
      height: var(--wui-listbox-item-height, var(--wui-listbox-item-md-height));
      grid-template-columns: subgrid;
      grid-column: 1 / -1;
      padding-inline: var(
        --wui-listbox-item-space,
        var(--wui-listbox-item-md-space)
      );

      [data-component="indicator"] {
        height: var(
          --wui-listbox-item-icon-size,
          var(--wui-listbox-item-md-icon-size)
        );
        grid-column-start: 1;
        width: var(
          --wui-listbox-item-icon-size,
          var(--wui-listbox-item-md-icon-size)
        );
      }

      [data-component="icon"] {
        height: var(
          --wui-listbox-item-icon-size,
          var(--wui-listbox-item-md-icon-size)
        );
        grid-column-start: 2;
        width: var(
          --wui-listbox-item-icon-size,
          var(--wui-listbox-item-md-icon-size)
        );
      }

      [data-component="label"] {
        font-size: var(
          --wui-listbox-item-font-size,
          var(--wui-listbox-item-md-font-size)
        );
        grid-column-start: 3;
      }
    }
  }
}
