@layer component {
  [data-component="tooltip"] {
    /* border radius */
    --wui-tooltip-sm-border-radius: var(--wui-border-radius-2);
    --wui-tooltip-md-border-radius: var(--wui-border-radius-3);
    --wui-tooltip-lg-border-radius: var(--wui-border-radius-3);

    /* font size */
    --wui-tooltip-sm-font-size: var(--wui-font-size-1);
    --wui-tooltip-md-font-size: var(--wui-font-size-2);
    --wui-tooltip-lg-font-size: var(--wui-font-size-3);

    /* line-height */
    --wui-tooltip-sm-line-height: var(--wui-line-height-2);
    --wui-tooltip-md-line-height: var(--wui-line-height-2);
    --wui-tooltip-lg-line-height: var(--wui-line-height-3);

    /* max-width */
    --wui-tooltip-sm-max-width: calc(200px * var(--wui-scale));
    --wui-tooltip-md-max-width: calc(200px * var(--wui-scale));
    --wui-tooltip-lg-max-width: calc(200px * var(--wui-scale));

    /* space */
    --wui-tooltip-sm-space: var(--wui-space-3);
    --wui-tooltip-md-space: var(--wui-space-3);
    --wui-tooltip-lg-space: var(--wui-space-3);

    border-radius: var(
      --wui-tooltip-border-radius,
      var(--wui-tooltip-sm-border-radius)
    );
    display: inline-grid;
    grid-template-columns: 1fr auto;
    font-size: var(--wui-tooltip-font-size, var(--wui-tooltip-sm-font-size));
    line-height: var(
      --wui-tooltip-line-height,
      var(--wui-tooltip-sm-line-height)
    );
    min-width: max-content;
    padding-block: calc(
      var(--wui-tooltip-space, var(--wui-tooltip-sm-space)) /
      3
    );
    padding-inline: var(--wui-tooltip-space, var(--wui-tooltip-sm-space));
    user-select: none;

    [data-slot="label"] {
      font-size: var(--wui-tooltip-font-size, var(--wui-tooltip-sm-font-size));
      grid-column-start: 1;
      max-width: var(--wui-tooltip-max-width, var(--wui-tooltip-sm-max-width));
      line-height: var(
        --wui-tooltip-line-height,
        var(--wui-tooltip-sm-line-height)
      );
    }

    [data-slot="shortcut"] {
      grid-column-start: 2;
      justify-self: end;
      min-width: 2ch;
      margin-left: calc(var(--wui-tooltip-space, var(--wui-tooltip-sm-space)));
      text-align: center;
      text-transform: capitalize;

      &:has(> kbd) {
        display: flex;
      }

      & > kbd {
        min-width: 2ch;
      }
    }

    &[data-size="sm"] {
      --wui-tooltip-border-radius: var(--wui-tooltip-sm-border-radius);
      --wui-tooltip-font-size: var(--wui-tooltip-sm-font-size);
      --wui-tooltip-line-height: var(--wui-tooltip-sm-line-height);
      --wui-tooltip-max-width: var(--wui-tooltip-sm-max-width);
      --wui-tooltip-space: var(--wui-tooltip-sm-space);
    }

    &[data-size="md"] {
      --wui-tooltip-border-radius: var(--wui-tooltip-md-border-radius);
      --wui-tooltip-font-size: var(--wui-tooltip-md-font-size);
      --wui-tooltip-line-height: var(--wui-tooltip-md-line-height);
      --wui-tooltip-max-width: var(--wui-tooltip-md-max-width);
      --wui-tooltip-space: var(--wui-tooltip-md-space);
    }

    &[data-size="lg"] {
      --wui-tooltip-border-radius: var(--wui-tooltip-lg-border-radius);
      --wui-tooltip-font-size: var(--wui-tooltip-lg-font-size);
      --wui-tooltip-line-height: var(--wui-tooltip-lg-line-height);
      --wui-tooltip-max-width: var(--wui-tooltip-lg-max-width);
      --wui-tooltip-space: var(--wui-tooltip-lg-space);
    }
  }
}
