@import "@goho/css";
@import "tailwindcss/preflight" layer(reset);
@import "tailwindcss/utilities" layer(utilities);

@layer utilities {
  .goho {
    @theme {
      /* accent color */
      --color-accent-1: var(--go-color-accent-1);
      --color-accent-2: var(--go-color-accent-2);
      --color-accent-3: var(--go-color-accent-3);
      --color-accent-4: var(--go-color-accent-4);
      --color-accent-5: var(--go-color-accent-5);
      --color-accent-6: var(--go-color-accent-6);
      --color-accent-7: var(--go-color-accent-7);
      --color-accent-8: var(--go-color-accent-8);
      --color-accent-9: var(--go-color-accent-9);
      --color-accent-10: var(--go-color-accent-10);
      --color-accent-11: var(--go-color-accent-11);
      --color-accent-12: var(--go-color-accent-12);

      --color-accent-contrast: var(--go-color-accent-contrast);

      --color-accent-a1: var(--go-color-accent-a1);
      --color-accent-a2: var(--go-color-accent-a2);
      --color-accent-a3: var(--go-color-accent-a3);
      --color-accent-a4: var(--go-color-accent-a4);
      --color-accent-a5: var(--go-color-accent-a5);
      --color-accent-a6: var(--go-color-accent-a6);
      --color-accent-a7: var(--go-color-accent-a7);
      --color-accent-a8: var(--go-color-accent-a8);
      --color-accent-a9: var(--go-color-accent-a9);
      --color-accent-a10: var(--go-color-accent-a10);
      --color-accent-a11: var(--go-color-accent-a11);
      --color-accent-a12: var(--go-color-accent-a12);

      /* white */
      --color-white: var(--go-color-white);
      --color-white-a1: var(--go-color-white-a1);
      --color-white-a2: var(--go-color-white-a2);
      --color-white-a3: var(--go-color-white-a3);
      --color-white-a4: var(--go-color-white-a4);
      --color-white-a5: var(--go-color-white-a5);
      --color-white-a6: var(--go-color-white-a6);
      --color-white-a7: var(--go-color-white-a7);
      --color-white-a8: var(--go-color-white-a8);
      --color-white-a9: var(--go-color-white-a9);
      --color-white-a10: var(--go-color-white-a10);
      --color-white-a11: var(--go-color-white-a11);
      --color-white-a12: var(--go-color-white-a12);

      /* black */
      --color-black: var(--go-color-black);
      --color-black-a1: var(--go-color-black-a1);
      --color-black-a2: var(--go-color-black-a2);
      --color-black-a3: var(--go-color-black-a3);
      --color-black-a4: var(--go-color-black-a4);
      --color-black-a5: var(--go-color-black-a5);
      --color-black-a6: var(--go-color-black-a6);
      --color-black-a7: var(--go-color-black-a7);
      --color-black-a8: var(--go-color-black-a8);
      --color-black-a9: var(--go-color-black-a9);
      --color-black-a10: var(--go-color-black-a10);
      --color-black-a11: var(--go-color-black-a11);
      --color-black-a12: var(--go-color-black-a12);

      /* grey */
      --color-grey-1: var(--go-color-grey-1);
      --color-grey-2: var(--go-color-grey-2);
      --color-grey-3: var(--go-color-grey-3);
      --color-grey-4: var(--go-color-grey-4);
      --color-grey-5: var(--go-color-grey-5);
      --color-grey-6: var(--go-color-grey-6);
      --color-grey-7: var(--go-color-grey-7);
      --color-grey-8: var(--go-color-grey-8);
      --color-grey-9: var(--go-color-grey-9);
      --color-grey-10: var(--go-color-grey-10);
      --color-grey-11: var(--go-color-grey-11);
      --color-grey-12: var(--go-color-grey-12);

      --color-grey-contrast: var(--go-color-grey-contrast);

      --color-grey-a1: var(--go-color-grey-a1);
      --color-grey-a2: var(--go-color-grey-a2);
      --color-grey-a3: var(--go-color-grey-a3);
      --color-grey-a4: var(--go-color-grey-a4);
      --color-grey-a5: var(--go-color-grey-a5);
      --color-grey-a6: var(--go-color-grey-a6);
      --color-grey-a7: var(--go-color-grey-a7);
      --color-grey-a8: var(--go-color-grey-a8);
      --color-grey-a9: var(--go-color-grey-a9);
      --color-grey-a10: var(--go-color-grey-a10);
      --color-grey-a11: var(--go-color-grey-a11);
      --color-grey-a12: var(--go-color-grey-a12);

      /* red */
      --color-red-1: var(--go-color-red-1);
      --color-red-2: var(--go-color-red-2);
      --color-red-3: var(--go-color-red-3);
      --color-red-4: var(--go-color-red-4);
      --color-red-5: var(--go-color-red-5);
      --color-red-6: var(--go-color-red-6);
      --color-red-7: var(--go-color-red-7);
      --color-red-8: var(--go-color-red-8);
      --color-red-9: var(--go-color-red-9);
      --color-red-10: var(--go-color-red-10);
      --color-red-11: var(--go-color-red-11);
      --color-red-12: var(--go-color-red-12);

      --color-red-contrast: var(--go-color-red-contrast);

      --color-red-a1: var(--go-color-red-a1);
      --color-red-a2: var(--go-color-red-a2);
      --color-red-a3: var(--go-color-red-a3);
      --color-red-a4: var(--go-color-red-a4);
      --color-red-a5: var(--go-color-red-a5);
      --color-red-a6: var(--go-color-red-a6);
      --color-red-a7: var(--go-color-red-a7);
      --color-red-a8: var(--go-color-red-a8);
      --color-red-a9: var(--go-color-red-a9);
      --color-red-a10: var(--go-color-red-a10);
      --color-red-a11: var(--go-color-red-a11);
      --color-red-a12: var(--go-color-red-a12);

      /* orange */
      --color-orange-1: var(--go-color-orange-1);
      --color-orange-2: var(--go-color-orange-2);
      --color-orange-3: var(--go-color-orange-3);
      --color-orange-4: var(--go-color-orange-4);
      --color-orange-5: var(--go-color-orange-5);
      --color-orange-6: var(--go-color-orange-6);
      --color-orange-7: var(--go-color-orange-7);
      --color-orange-8: var(--go-color-orange-8);
      --color-orange-9: var(--go-color-orange-9);
      --color-orange-10: var(--go-color-orange-10);
      --color-orange-11: var(--go-color-orange-11);
      --color-orange-12: var(--go-color-orange-12);

      --color-orange-contrast: var(--go-color-orange-contrast);

      --color-orange-a1: var(--go-color-orange-a1);
      --color-orange-a2: var(--go-color-orange-a2);
      --color-orange-a3: var(--go-color-orange-a3);
      --color-orange-a4: var(--go-color-orange-a4);
      --color-orange-a5: var(--go-color-orange-a5);
      --color-orange-a6: var(--go-color-orange-a6);
      --color-orange-a7: var(--go-color-orange-a7);
      --color-orange-a8: var(--go-color-orange-a8);
      --color-orange-a9: var(--go-color-orange-a9);
      --color-orange-a10: var(--go-color-orange-a10);
      --color-orange-a11: var(--go-color-orange-a11);
      --color-orange-a12: var(--go-color-orange-a12);

      /* yellow */
      --color-yellow-1: var(--go-color-yellow-1);
      --color-yellow-2: var(--go-color-yellow-2);
      --color-yellow-3: var(--go-color-yellow-3);
      --color-yellow-4: var(--go-color-yellow-4);
      --color-yellow-5: var(--go-color-yellow-5);
      --color-yellow-6: var(--go-color-yellow-6);
      --color-yellow-7: var(--go-color-yellow-7);
      --color-yellow-8: var(--go-color-yellow-8);
      --color-yellow-9: var(--go-color-yellow-9);
      --color-yellow-10: var(--go-color-yellow-10);
      --color-yellow-11: var(--go-color-yellow-11);
      --color-yellow-12: var(--go-color-yellow-12);

      --color-yellow-contrast: var(--go-color-yellow-contrast);

      --color-yellow-a1: var(--go-color-yellow-a1);
      --color-yellow-a2: var(--go-color-yellow-a2);
      --color-yellow-a3: var(--go-color-yellow-a3);
      --color-yellow-a4: var(--go-color-yellow-a4);
      --color-yellow-a5: var(--go-color-yellow-a5);
      --color-yellow-a6: var(--go-color-yellow-a6);
      --color-yellow-a7: var(--go-color-yellow-a7);
      --color-yellow-a8: var(--go-color-yellow-a8);
      --color-yellow-a9: var(--go-color-yellow-a9);
      --color-yellow-a10: var(--go-color-yellow-a10);
      --color-yellow-a11: var(--go-color-yellow-a11);
      --color-yellow-a12: var(--go-color-yellow-a12);

      /* green */
      --color-green-1: var(--go-color-green-1);
      --color-green-2: var(--go-color-green-2);
      --color-green-3: var(--go-color-green-3);
      --color-green-4: var(--go-color-green-4);
      --color-green-5: var(--go-color-green-5);
      --color-green-6: var(--go-color-green-6);
      --color-green-7: var(--go-color-green-7);
      --color-green-8: var(--go-color-green-8);
      --color-green-9: var(--go-color-green-9);
      --color-green-10: var(--go-color-green-10);
      --color-green-11: var(--go-color-green-11);
      --color-green-12: var(--go-color-green-12);

      --color-green-contrast: var(--go-color-green-contrast);

      --color-green-a1: var(--go-color-green-a1);
      --color-green-a2: var(--go-color-green-a2);
      --color-green-a3: var(--go-color-green-a3);
      --color-green-a4: var(--go-color-green-a4);
      --color-green-a5: var(--go-color-green-a5);
      --color-green-a6: var(--go-color-green-a6);
      --color-green-a7: var(--go-color-green-a7);
      --color-green-a8: var(--go-color-green-a8);
      --color-green-a9: var(--go-color-green-a9);
      --color-green-a10: var(--go-color-green-a10);
      --color-green-a11: var(--go-color-green-a11);
      --color-green-a12: var(--go-color-green-a12);

      /* blue */
      --color-blue-1: var(--go-color-blue-1);
      --color-blue-2: var(--go-color-blue-2);
      --color-blue-3: var(--go-color-blue-3);
      --color-blue-4: var(--go-color-blue-4);
      --color-blue-5: var(--go-color-blue-5);
      --color-blue-6: var(--go-color-blue-6);
      --color-blue-7: var(--go-color-blue-7);
      --color-blue-8: var(--go-color-blue-8);
      --color-blue-9: var(--go-color-blue-9);
      --color-blue-10: var(--go-color-blue-10);
      --color-blue-11: var(--go-color-blue-11);
      --color-blue-12: var(--go-color-blue-12);

      --color-blue-contrast: var(--go-color-blue-contrast);

      --color-blue-a1: var(--go-color-blue-a1);
      --color-blue-a2: var(--go-color-blue-a2);
      --color-blue-a3: var(--go-color-blue-a3);
      --color-blue-a4: var(--go-color-blue-a4);
      --color-blue-a5: var(--go-color-blue-a5);
      --color-blue-a6: var(--go-color-blue-a6);
      --color-blue-a7: var(--go-color-blue-a7);
      --color-blue-a8: var(--go-color-blue-a8);
      --color-blue-a9: var(--go-color-blue-a9);
      --color-blue-a10: var(--go-color-blue-a10);
      --color-blue-a11: var(--go-color-blue-a11);
      --color-blue-a12: var(--go-color-blue-a12);

      /* purple */
      --color-purple-1: var(--go-color-purple-1);
      --color-purple-2: var(--go-color-purple-2);
      --color-purple-3: var(--go-color-purple-3);
      --color-purple-4: var(--go-color-purple-4);
      --color-purple-5: var(--go-color-purple-5);
      --color-purple-6: var(--go-color-purple-6);
      --color-purple-7: var(--go-color-purple-7);
      --color-purple-8: var(--go-color-purple-8);
      --color-purple-9: var(--go-color-purple-9);
      --color-purple-10: var(--go-color-purple-10);
      --color-purple-11: var(--go-color-purple-11);
      --color-purple-12: var(--go-color-purple-12);

      --color-purple-contrast: var(--go-color-purple-contrast);

      --color-purple-a1: var(--go-color-purple-a1);
      --color-purple-a2: var(--go-color-purple-a2);
      --color-purple-a3: var(--go-color-purple-a3);
      --color-purple-a4: var(--go-color-purple-a4);
      --color-purple-a5: var(--go-color-purple-a5);
      --color-purple-a6: var(--go-color-purple-a6);
      --color-purple-a7: var(--go-color-purple-a7);
      --color-purple-a8: var(--go-color-purple-a8);
      --color-purple-a9: var(--go-color-purple-a9);
      --color-purple-a10: var(--go-color-purple-a10);
      --color-purple-a11: var(--go-color-purple-a11);
      --color-purple-a12: var(--go-color-purple-a12);

      /* pink */
      --color-pink-1: var(--go-color-pink-1);
      --color-pink-2: var(--go-color-pink-2);
      --color-pink-3: var(--go-color-pink-3);
      --color-pink-4: var(--go-color-pink-4);
      --color-pink-5: var(--go-color-pink-5);
      --color-pink-6: var(--go-color-pink-6);
      --color-pink-7: var(--go-color-pink-7);
      --color-pink-8: var(--go-color-pink-8);
      --color-pink-9: var(--go-color-pink-9);
      --color-pink-10: var(--go-color-pink-10);
      --color-pink-11: var(--go-color-pink-11);
      --color-pink-12: var(--go-color-pink-12);

      --color-pink-contrast: var(--go-color-pink-contrast);

      --color-pink-a1: var(--go-color-pink-a1);
      --color-pink-a2: var(--go-color-pink-a2);
      --color-pink-a3: var(--go-color-pink-a3);
      --color-pink-a4: var(--go-color-pink-a4);
      --color-pink-a5: var(--go-color-pink-a5);
      --color-pink-a6: var(--go-color-pink-a6);
      --color-pink-a7: var(--go-color-pink-a7);
      --color-pink-a8: var(--go-color-pink-a8);
      --color-pink-a9: var(--go-color-pink-a9);
      --color-pink-a10: var(--go-color-pink-a10);
      --color-pink-a11: var(--go-color-pink-a11);
      --color-pink-a12: var(--go-color-pink-a12);

      /* font-family */
      --font-family-mono: var(--go-font-family-mono);
      --font-family-sans: var(--go-font-family-sans);
      --font-family-serif: var(--go-font-family-serif);

      --default-font-family: var(--go-font-family-sans);
      --default-mono-font-family: var(--go-font-family-mono);

      /* font-size */
      --font-size-1: var(--go-font-size-1);
      --font-size-2: var(--go-font-size-2);
      --font-size-3: var(--go-font-size-3);
      --font-size-4: var(--go-font-size-4);
      --font-size-5: var(--go-font-size-5);
      --font-size-6: var(--go-font-size-6);
      --font-size-7: var(--go-font-size-7);
      --font-size-8: var(--go-font-size-8);
      --font-size-9: var(--go-font-size-9);

      /* font-weight */
      --font-weight-normal: var(--go-font-weight-normal);
      --font-weight-medium: var(--go-font-weight-medium);
      --font-weight-bold: var(--go-font-weight-bold);
      --font-weight-extra-bold: var(--go-font-weight-extra-bold);

      /* inner shadow */
      --inset-shadow-1: var(--go-inner-shadow-1);
      --inset-shadow-2: var(--go-inner-shadow-2);
      --inset-shadow-3: var(--go-inner-shadow-3);
      --inset-shadow-4: var(--go-inner-shadow-4);
      --inset-shadow-5: var(--go-inner-shadow-5);

      /* letter-spacing */
      --letter-spacing-1: var(--go-letter-spacing-1);
      --letter-spacing-2: var(--go-letter-spacing-2);
      --letter-spacing-3: var(--go-letter-spacing-3);
      --letter-spacing-4: var(--go-letter-spacing-4);
      --letter-spacing-5: var(--go-letter-spacing-5);
      --letter-spacing-6: var(--go-letter-spacing-6);
      --letter-spacing-7: var(--go-letter-spacing-7);
      --letter-spacing-8: var(--go-letter-spacing-8);

      /* line-height */
      --line-height-1: var(--go-line-height-1);
      --line-height-2: var(--go-line-height-2);
      --line-height-1: var(--go-line-height-1);
      --line-height-2: var(--go-line-height-2);
      --line-height-1: var(--go-line-height-1);
      --line-height-2: var(--go-line-height-2);
      --line-height-1: var(--go-line-height-1);
      --line-height-2: var(--go-line-height-2);

      /* radius */
      --radius-1: var(--go-border-radius-1);
      --radius-2: var(--go-border-radius-2);
      --radius-3: var(--go-border-radius-3);
      --radius-4: var(--go-border-radius-4);
      --radius-5: var(--go-border-radius-5);
      --radius-6: var(--go-border-radius-6);
      --radius-7: var(--go-border-radius-7);
      --radius-round: var(--go-border-radius-round);

      /* shadow */
      --shadow-1: var(--go-shadow-1);
      --shadow-2: var(--go-shadow-2);
      --shadow-3: var(--go-shadow-3);
      --shadow-4: var(--go-shadow-4);
      --shadow-5: var(--go-shadow-5);
      --shadow-6: var(--go-shadow-6);

      /* space */
      --spacing-1: var(--go-space-1);
      --spacing-2: var(--go-space-2);
      --spacing-3: var(--go-space-3);
      --spacing-4: var(--go-space-4);
      --spacing-5: var(--go-space-5);
      --spacing-6: var(--go-space-6);
      --spacing-7: var(--go-space-7);
      --spacing-8: var(--go-space-8);
      --spacing-9: var(--go-space-9);
      --spacing-10: var(--go-space-10);

      /* transition-duration */
      --tansition-duration-05: var(--go-duration-05);
      --tansition-duration-1: var(--go-duration-1);
      --tansition-duration-2: var(--go-duration-2);
      --tansition-duration-3: var(--go-duration-3);
      --tansition-duration-4: var(--go-duration-4);

      /* transition-timing-function */
      --transition-timing-function-bezier: var(--go-bezier-1);
    }
  }
}
