---
import Button from "./button.astro";

import { ArrowRight } from "lucide-react";
---

<Button data-variant="solid" data-width="full">
  Log in
  <ArrowRight data-component="icon" slot="icon-right" />
</Button>
