@layer base {
  :root {
    --wui-duration-05: 50ms;
    --wui-duration-1: 100ms;
    --wui-duration-2: 200ms;
    --wui-duration-3: 300ms;
    --wui-duration-4: 500ms;
    --wui-bezier-1: cubic-bezier(0.16, 1, 0.3, 1);
  }

  @keyframes wui-fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes wui-fade-out {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  @keyframes wui-slide-up {
    from {
      transform: translateY(6px) scale(0.97);
    }

    to {
      transform: translateY(0) scale(1);
    }
  }

  @keyframes wui-slide-down {
    from {
      transform: translateY(-6px) scale(0.97);
    }

    to {
      transform: translateY(0) scale(1);
    }
  }

  @keyframes wui-slide-left {
    from {
      transform: translateX(6px) scale(0.97);
    }

    to {
      transform: translateX(0) scale(1);
    }
  }

  @keyframes wui-slide-right {
    from {
      transform: translateX(-6px) scale(0.97);
    }

    to {
      transform: translateX(0) scale(1);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .wui-popper {
      animation-timing-function: var(--wui-bezier-1);

      &:where(
          [popover]:popover-open,
          [data-state="delayed-open"],
          [data-state="open"]
        ) {
        animation-duration: var(--wui-duration-2);

        &:where([data-side="top"]) {
          animation-name: wui-slide-up, wui-fade-in;
        }

        &:where([data-side="bottom"]) {
          animation-name: wui-slide-down, wui-fade-in;
        }

        &:where([data-side="left"]) {
          animation-name: wui-slide-left, wui-fade-in;
        }

        &:where([data-side="right"]) {
          animation-name: wui-slide-right, wui-fade-in;
        }
      }

      &:where([data-state="closed"]) {
        animation-duration: var(--wui-duration-1);

        &:where([data-side="top"]) {
          animation-name: wui-slide-down, wui-fade-out;
        }

        &:where([data-side="bottom"]) {
          animation-name: wui-slide-up, wui-fade-out;
        }

        &:where([data-side="left"]) {
          animation-name: wui-slide-right, wui-fade-out;
        }

        &:where([data-side="right"]) {
          animation-name: wui-slide-left, wui-fade-out;
        }
      }
    }
  }
}
