@layer base {
  :root {
    --ak-duration-1: 100ms;
    --ak-duration-2: 200ms;
    --ak-duration-3: 300ms;
    --ak-duration-4: 500ms;
    --ak-bezier-1: cubic-bezier(0.16, 1, 0.3, 1);
  }

  @keyframes ak-fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes ak-fade-out {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  @keyframes ak-slide-up {
    from {
      transform: translateY(6px) scale(0.97);
    }

    to {
      transform: translateY(0) scale(1);
    }
  }

  @keyframes ak-slide-down {
    from {
      transform: translateY(-6px) scale(0.97);
    }

    to {
      transform: translateY(0) scale(1);
    }
  }

  @keyframes ak-slide-left {
    from {
      transform: translateX(6px) scale(0.97);
    }

    to {
      transform: translateX(0) scale(1);
    }
  }

  @keyframes ak-slide-right {
    from {
      transform: translateX(-6px) scale(0.97);
    }

    to {
      transform: translateX(0) scale(1);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .ak-popper {
      animation-timing-function: var(--ak-transition-function-1);

      &:where([data-state="delayed-open"], [data-state="open"]) {
        animation-duration: var(--ak-duration-3);

        &:where([data-side="top"]) {
          animation-name: ak-slide-up, ak-fade-in;
        }

        &:where([data-side="bottom"]) {
          animation-name: ak-slide-down, ak-fade-in;
        }

        &:where([data-side="left"]) {
          animation-name: ak-slide-left, ak-fade-in;
        }

        &:where([data-side="right"]) {
          animation-name: ak-slide-right, ak-fade-in;
        }
      }

      &:where([data-state="closed"]) {
        animation-duration: var(--c3-transition-duration-2);
        animation-direction: reverse;

        &:where(
            [data-side="top"],
            [data-side="bottom"],
            [data-side="left"],
            [data-side="right"]
          ) {
          animation-name: ak-slide-up, ak-fade-out;
        }
      }
    }
  }
}
