@layer base {
  :root {
    --m-border-width-1: 0.5px;
    --m-border-width-2: 1px;
    --m-border-width-3: 2px;
    --m-border-width-4: 3px;
  }

  .alku {
    --m-border-radius-1: calc(3px * var(--m-scaling));
    --m-border-radius-2: calc(4px * var(--m-scaling));
    --m-border-radius-3: calc(6px * var(--m-scaling));
    --m-border-radius-4: calc(8px * var(--m-scaling));
    --m-border-radius-5: calc(12px * var(--m-scaling));
    --m-border-radius-6: calc(16px * var(--m-scaling));
    --m-border-radius-7: calc(24px * var(--m-scaling));
    --m-border-radius-round: calc(9999px * var(--m-scaling));
  }
}
