@layer base {
  .alku {
    --m-shadow-1: 0 1px 2px -1px hsl(var(--m-shadow-color) /
          calc(var(--m-shadow-strength) + 9%));
    --m-shadow-2: 0 3px 5px -2px hsl(var(--m-shadow-color) /
            calc(var(--m-shadow-strength) + 3%)),
      0 7px 14px -5px hsl(var(--m-shadow-color) /
            calc(var(--m-shadow-strength) + 5%));
    --m-shadow-3: 0 -1px 3px 0 hsl(var(--m-shadow-color) /
            calc(var(--m-shadow-strength) + 2%)),
      0 1px 2px -5px hsl(var(--m-shadow-color) /
            calc(var(--m-shadow-strength) + 2%)),
      0 2px 5px -5px hsl(var(--m-shadow-color) /
            calc(var(--m-shadow-strength) + 4%)),
      0 4px 12px -5px hsl(var(--m-shadow-color) /
            calc(var(--m-shadow-strength) + 5%)),
      0 12px 15px -5px hsl(var(--m-shadow-color) /
            calc(var(--m-shadow-strength) + 7%));
    --m-shadow-4: 0 -2px 5px 0 hsl(var(--m-shadow-color) /
            calc(var(--m-shadow-strength) + 2%)),
      0 1px 1px -2px hsl(var(--m-shadow-color) /
            calc(var(--m-shadow-strength) + 3%)),
      0 2px 2px -2px hsl(var(--m-shadow-color) /
            calc(var(--m-shadow-strength) + 3%)),
      0 5px 5px -2px hsl(var(--m-shadow-color) /
            calc(var(--m-shadow-strength) + 4%)),
      0 9px 9px -2px hsl(var(--m-shadow-color) /
            calc(var(--m-shadow-strength) + 5%)),
      0 16px 16px -2px hsl(var(--m-shadow-color) /
            calc(var(--m-shadow-strength) + 6%));
    --m-shadow-5: 0 -1px 2px 0 hsl(var(--m-shadow-color) /
            calc(var(--m-shadow-strength) + 2%)),
      0 2px 1px -2px hsl(var(--m-shadow-color) /
            calc(var(--m-shadow-strength) + 3%)),
      0 5px 5px -2px hsl(var(--m-shadow-color) /
            calc(var(--m-shadow-strength) + 3%)),
      0 10px 10px -2px hsl(var(--m-shadow-color) /
            calc(var(--m-shadow-strength) + 4%)),
      0 20px 20px -2px hsl(var(--m-shadow-color) /
            calc(var(--m-shadow-strength) + 5%)),
      0 40px 40px -2px hsl(var(--m-shadow-color) /
            calc(var(--m-shadow-strength) + 7%));
    --m-shadow-6: 0 -1px 2px 0 hsl(var(--m-shadow-color) /
            calc(var(--m-shadow-strength) + 2%)),
      0 3px 2px -2px hsl(var(--m-shadow-color) /
            calc(var(--m-shadow-strength) + 3%)),
      0 7px 5px -2px hsl(var(--m-shadow-color) /
            calc(var(--m-shadow-strength) + 3%)),
      0 12px 10px -2px hsl(var(--m-shadow-color) /
            calc(var(--m-shadow-strength) + 4%)),
      0 22px 18px -2px hsl(var(--m-shadow-color) /
            calc(var(--m-shadow-strength) + 5%)),
      0 41px 33px -2px hsl(var(--m-shadow-color) /
            calc(var(--m-shadow-strength) + 6%)),
      0 100px 80px -2px hsl(var(--m-shadow-color) /
            calc(var(--m-shadow-strength) + 7%));
    --m-inner-shadow-0: inset 0 0 0 1px
      hsl(var(--m-shadow-color) / calc(var(--m-shadow-strength) + 9%));
    --m-inner-shadow-1: inset 0 1px 2px 0
        hsl(var(--m-shadow-color) / calc(var(--m-shadow-strength) + 9%)),
      var(--m-inner-shadow-highlight);
    --m-inner-shadow-2: inset 0 1px 4px 0
        hsl(var(--m-shadow-color) / calc(var(--m-shadow-strength) + 9%)),
      var(--m-inner-shadow-highlight);
    --m-inner-shadow-3: inset 0 2px 8px 0
        hsl(var(--m-shadow-color) / calc(var(--m-shadow-strength) + 9%)),
      var(--m-inner-shadow-highlight);
    --m-inner-shadow-4: inset 0 2px 14px 0
        hsl(var(--m-shadow-color) / calc(var(--m-shadow-strength) + 9%)),
      var(--m-inner-shadow-highlight);
  }

  :is(.light, .light-theme) {
    --m-shadow-color: 220 3% 15%;
    --m-shadow-strength: 1%;
    --m-inner-shadow-highlight: inset 0 -0.5px 0 0 #fff, inset 0 0.5px 0 0 #0001;
  }

  :is(.dark, .dark-theme) {
    --m-shadow-color: 220 40% 2%;
    --m-shadow-strength: 25%;
    --m-inner-shadow-highlight: inset 0 -0.5px 0 0 #fff1,
      inset 0 0.5px 0 0 #0007;
  }
}
