@layer base {
  :root {
    --ak-font-family-sans: "Inter", sans-serif;
    --ak-font-family-serif: "Playfair Display", serif;
    --ak-font-family-mono: "IBM Plex Mono", monospace;

    --ak-font-weight-normal: 400;
    --ak-font-weight-medium: 500;
    --ak-font-weight-bold: 700;
    --ak-font-weight-extra-bold: 900;

    --ak-letter-spacing-1: 0.0025em;
    --ak-letter-spacing-2: 0em;
    --ak-letter-spacing-3: -0.0025em;
    --ak-letter-spacing-4: -0.005em;
    --ak-letter-spacing-5: -0.00625em;
    --ak-letter-spacing-6: -0.0075em;
    --ak-letter-spacing-7: -0.01em;
    --ak-letter-spacing-8: -0.025em;
  }

  .alku {
    --ak-font-size-1: calc(12px * var(--ak-scaling));
    --ak-font-size-2: calc(14px * var(--ak-scaling));
    --ak-font-size-3: calc(16px * var(--ak-scaling));
    --ak-font-size-4: calc(18px * var(--ak-scaling));
    --ak-font-size-5: calc(20px * var(--ak-scaling));
    --ak-font-size-6: calc(24px * var(--ak-scaling));
    --ak-font-size-7: calc(28px * var(--ak-scaling));
    --ak-font-size-8: calc(35px * var(--ak-scaling));
    --ak-font-size-9: calc(60px * var(--ak-scaling));

    --ak-lint-height-1: calc(16px * var(--ak-scaling));
    --ak-lint-height-2: calc(20px * var(--ak-scaling));
    --ak-lint-height-3: calc(24px * var(--ak-scaling));
    --ak-lint-height-4: calc(26px * var(--ak-scaling));
    --ak-lint-height-5: calc(28px * var(--ak-scaling));
    --ak-lint-height-6: calc(30px * var(--ak-scaling));
    --ak-lint-height-7: calc(36px * var(--ak-scaling));
    --ak-lint-height-8: calc(40px * var(--ak-scaling));
    --ak-lint-height-9: calc(60px * var(--ak-scaling));
  }
}
