<div class="color-row">
  <span class="color-row-label">&nbsp;</span>
  <div class="color-row-content not-content">
    {
      new Array(12).fill(0).map((_, index) => {
        return <span class="color-chip-label">{index + 1}</span>;
      })
    }
  </div>
</div>
