---
import "@fontsource/geist-sans";
import "@fontsource/geist-mono";
---

<html lang="en">
  <head>
    <slot name="head" />
  </head>
  <body
    class="light winnie-ui h-dvh"
    data-accent-color="yellow"
    data-radius="md"
    data-scaling="100%"
  >
    <slot />
  </body>
</html>
<slot />
