---
import type { CollectionEntry } from "astro:content";

import BaseHead from "~/components/base-head.astro";
import BaseLayout from "./base-layout.astro";

type Props = CollectionEntry<"css">["data"];

const { title, description } = Astro.props;
---

<BaseLayout>
  <BaseHead slot="head" title={title} description={description} />
  <div class="flex h-full gap-4 [--wui-docs-layout-sidebar-width:296px]">
    <nav
      class="bg-accent-3 - 16px)] fixed h-full w-[calc(var(--wui-docs-layout-sidebar-width)"
    >
      Sidebar
    </nav>
    <main
      class="bg-accent-3 w-full p-4 pl-[var(--wui-docs-layout-sidebar-width)]"
    >
      <div
        class="bg-white-a9 rounded-4 border-accent-a5 h-full overflow-auto border shadow-[-2px_0px_16px_-2px_hsl(var(--wui-shadow-color)/calc(var(--wui-shadow-strength)+10%))]"
      >
        <div class="flex gap-6 pt-9 pr-6 pl-9">
          <article class="mx-auto w-full max-w-[65ch]">
            <div class="flex flex-col">
              <h1 class="text-7 text-grey-12 font-bold">{title}</h1>
              <p class="text-4 text-accent-11">{description}</p>
            </div>
            <slot />
          </article>
          <aside class="sticky top-9 block h-max">Table of contents</aside>
        </div>
      </div>
    </main>
  </div>
</BaseLayout>
