@import "@winnie-ui/css";
@import "@winnie-ui/themes";
@import "./code.css";

@layer markdown;

html:has(#docs-menu-toggle:checked) {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  width: 100%;
}

html,
body {
  background: var(--wui-site-background);
}

@layer base {
  :root,
  .light,
  .light-theme,
  [data-theme="light"] {
    --wui-color-brand-1: #fdfdfc;
    --wui-color-brand-2: #fdf9f8;
    --wui-color-brand-3: #fcf0eb;
    --wui-color-brand-4: #f9e7e1;
    --wui-color-brand-5: #f3ded6;
    --wui-color-brand-6: #e8d4cc;
    --wui-color-brand-7: #dac8c1;
    --wui-color-brand-8: #c7b2aa;
    --wui-color-brand-9: #5f4b43;
    --wui-color-brand-10: #4f3c34;
    --wui-color-brand-11: #7c675e;
    --wui-color-brand-12: #312b29;

    --wui-color-brand-a1: #55550003;
    --wui-color-brand-a2: #b7250007;
    --wui-color-brand-a3: #d9400014;
    --wui-color-brand-a4: #cc33001e;
    --wui-color-brand-a5: #b5320029;
    --wui-color-brand-a6: #8c280033;
    --wui-color-brand-a7: #671d003e;
    --wui-color-brand-a8: #57180055;
    --wui-color-brand-a9: #260b00bc;
    --wui-color-brand-a10: #220a00cb;
    --wui-color-brand-a11: #300f00a1;
    --wui-color-brand-a12: #0a0200d6;

    --wui-color-brand-contrast: #fff;

    --wui-site-background: var(--wui-color-white);
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      :root,
      .light,
      .light-theme,
      [data-theme="light"] {
        --wui-color-brand-1: oklch(99.3% 0.001 42.9);
        --wui-color-brand-2: oklch(98.5% 0.004 42.9);
        --wui-color-brand-3: oklch(96.4% 0.015 42.9);
        --wui-color-brand-4: oklch(94.1% 0.021 42.9);
        --wui-color-brand-5: oklch(91.6% 0.026 42.9);
        --wui-color-brand-6: oklch(88.3% 0.025 42.9);
        --wui-color-brand-7: oklch(84.5% 0.023 42.9);
        --wui-color-brand-8: oklch(78% 0.027 42.9);
        --wui-color-brand-9: oklch(43.1% 0.03 42.9);
        --wui-color-brand-10: oklch(37.5% 0.03 42.9);
        --wui-color-brand-11: oklch(53.1% 0.03 42.9);
        --wui-color-brand-12: oklch(29.4% 0.01 42.9);

        --wui-color-brand-a1: color(display-p3 0.349 0.349 0.024 / 0.012);
        --wui-color-brand-a2: color(display-p3 0.58 0.161 0.024 / 0.028);
        --wui-color-brand-a3: color(display-p3 0.741 0.216 0.008 / 0.075);
        --wui-color-brand-a4: color(display-p3 0.694 0.212 0.004 / 0.114);
        --wui-color-brand-a5: color(display-p3 0.604 0.204 0.004 / 0.157);
        --wui-color-brand-a6: color(display-p3 0.486 0.165 0.008 / 0.197);
        --wui-color-brand-a7: color(display-p3 0.349 0.118 0.004 / 0.24);
        --wui-color-brand-a8: color(display-p3 0.29 0.098 0.004 / 0.33);
        --wui-color-brand-a9: color(display-p3 0.129 0.043 0 / 0.734);
        --wui-color-brand-a10: color(display-p3 0.114 0.039 0 / 0.793);
        --wui-color-brand-a11: color(display-p3 0.165 0.059 0 / 0.628);
        --wui-color-brand-a12: color(display-p3 0.031 0.008 0 / 0.84);

        --wui-color-brand-contrast: #fff;
        --wui-site-background: var(--wui-color-white);
      }
    }
  }

  .dark,
  .dark-theme,
  [data-theme="dark"] {
    --wui-color-brand-1: #131110;
    --wui-color-brand-2: #1b1817;
    --wui-color-brand-3: #27211f;
    --wui-color-brand-4: #312926;
    --wui-color-brand-5: #3c312d;
    --wui-color-brand-6: #4a3b36;
    --wui-color-brand-7: #5e4a42;
    --wui-color-brand-8: #795e53;
    --wui-color-brand-9: #5f4b43;
    --wui-color-brand-10: #4c3d37;
    --wui-color-brand-11: #d3b5a8;
    --wui-color-brand-12: #f5e0d7;

    --wui-color-brand-a1: #bb110003;
    --wui-color-brand-a2: #f9b49d0b;
    --wui-color-brand-a3: #fbbca618;
    --wui-color-brand-a4: #fbc0aa23;
    --wui-color-brand-a5: #fbbfa92f;
    --wui-color-brand-a6: #fcbeaa3e;
    --wui-color-brand-a7: #fec1a853;
    --wui-color-brand-a8: #fdc0a770;
    --wui-color-brand-a9: #fec2a954;
    --wui-color-brand-a10: #fdc1a940;
    --wui-color-brand-a11: #ffdacad0;
    --wui-color-brand-a12: #fee8dff5;

    --wui-color-brand-contrast: #fff;
    --wui-site-background: var(--wui-color-black);
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      .dark,
      .dark-theme,
      [data-theme="dark"] {
        --wui-color-brand-1: oklch(17.8% 0.004 42.9);
        --wui-color-brand-2: oklch(21.3% 0.005 42.9);
        --wui-color-brand-3: oklch(25.3% 0.009 42.9);
        --wui-color-brand-4: oklch(28.8% 0.013 42.9);
        --wui-color-brand-5: oklch(32.4% 0.018 42.9);
        --wui-color-brand-6: oklch(36.8% 0.023 42.9);
        --wui-color-brand-7: oklch(42.6% 0.03 42.9);
        --wui-color-brand-8: oklch(50.7% 0.04 42.9);
        --wui-color-brand-9: oklch(43.1% 0.03 42.9);
        --wui-color-brand-10: oklch(37.5% 0.023 42.9);
        --wui-color-brand-11: oklch(79.5% 0.04 42.9);
        --wui-color-brand-12: oklch(92% 0.026 42.9);

        --wui-color-brand-a1: color(display-p3 0.941 0.067 0 / 0.009);
        --wui-color-brand-a2: color(display-p3 0.996 0.792 0.686 / 0.038);
        --wui-color-brand-a3: color(display-p3 0.992 0.773 0.686 / 0.089);
        --wui-color-brand-a4: color(display-p3 0.996 0.788 0.698 / 0.131);
        --wui-color-brand-a5: color(display-p3 0.996 0.792 0.725 / 0.173);
        --wui-color-brand-a6: color(display-p3 1 0.796 0.71 / 0.232);
        --wui-color-brand-a7: color(display-p3 1 0.8 0.698 / 0.311);
        --wui-color-brand-a8: color(display-p3 1 0.796 0.702 / 0.421);
        --wui-color-brand-a9: color(display-p3 0.996 0.8 0.698 / 0.316);
        --wui-color-brand-a10: color(display-p3 1 0.804 0.706 / 0.24);
        --wui-color-brand-a11: color(display-p3 1 0.882 0.824 / 0.795);
        --wui-color-brand-a12: color(display-p3 1 0.933 0.894 / 0.942);

        --wui-color-brand-contrast: #fff;

        --wui-site-background: var(--wui-color-black);
      }
    }
  }
}
