@layer base {
	:root,
	.light,
	.light-theme,
	[data-theme="light"] {
		--wui-color-green-1: #fafefb;
		--wui-color-green-2: #f4fbf5;
		--wui-color-green-3: #e6f8e8;
		--wui-color-green-4: #d5f2d9;
		--wui-color-green-5: #c2ebc8;
		--wui-color-green-6: #a9e1b2;
		--wui-color-green-7: #87d295;
		--wui-color-green-8: #4fbe6b;
		--wui-color-green-9: #16a34a;
		--wui-color-green-10: #00963d;
		--wui-color-green-11: #008232;
		--wui-color-green-12: #193d22;

		--wui-color-green-a1: #00cc3305;
		--wui-color-green-a2: #00a3180b;
		--wui-color-green-a3: #00b81519;
		--wui-color-green-a4: #00b1192a;
		--wui-color-green-a5: #00ac1a3d;
		--wui-color-green-a6: #00a71b56;
		--wui-color-green-a7: #00a01e78;
		--wui-color-green-a8: #00a129b0;
		--wui-color-green-a9: #009a39e9;
		--wui-color-green-a10: #00963d;
		--wui-color-green-a11: #008232;
		--wui-color-green-a12: #00280ae6;

		--wui-color-green-contrast: #fff;
	}

	@supports (color: color(display-p3 1 1 1)) {
		@media (color-gamut: p3) {
			:root,
			.light,
			.light-theme,
			[data-theme="light"] {
				--wui-color-green-1: oklch(99.4% 0.006 149.2);
				--wui-color-green-2: oklch(98.2% 0.011 149.2);
				--wui-color-green-3: oklch(96.1% 0.028 149.2);
				--wui-color-green-4: oklch(93.4% 0.045 149.2);
				--wui-color-green-5: oklch(90.1% 0.064 149.2);
				--wui-color-green-6: oklch(85.8% 0.086 149.2);
				--wui-color-green-7: oklch(79.8% 0.114 149.2);
				--wui-color-green-8: oklch(71.6% 0.156 149.2);
				--wui-color-green-9: oklch(62.7% 0.17 149.2);
				--wui-color-green-10: oklch(58.6% 0.17 149.2);
				--wui-color-green-11: oklch(52.7% 0.157 149.2);
				--wui-color-green-12: oklch(32.6% 0.064 149.2);

				--wui-color-green-a1: color(display-p3 0.024 0.757 0.024 / 0.016);
				--wui-color-green-a2: color(display-p3 0.024 0.612 0.024 / 0.04);
				--wui-color-green-a3: color(display-p3 0.012 0.643 0.012 / 0.087);
				--wui-color-green-a4: color(display-p3 0.008 0.616 0.008 / 0.142);
				--wui-color-green-a5: color(display-p3 0.004 0.608 0.02 / 0.208);
				--wui-color-green-a6: color(display-p3 0.004 0.573 0.02 / 0.291);
				--wui-color-green-a7: color(display-p3 0.004 0.545 0.024 / 0.404);
				--wui-color-green-a8: color(display-p3 0 0.537 0.035 / 0.569);
				--wui-color-green-a9: color(display-p3 0 0.475 0.047 / 0.702);
				--wui-color-green-a10: color(display-p3 0 0.435 0.031 / 0.742);
				--wui-color-green-a11: color(display-p3 0 0.361 0.02 / 0.781);
				--wui-color-green-a12: color(display-p3 0 0.118 0.016 / 0.867);

				--wui-color-green-contrast: #fff;
			}
		}
	}

	.dark,
	.dark-theme,
	[data-theme="dark"] {
		--wui-color-green-1: #0c130d;
		--wui-color-green-2: #131a14;
		--wui-color-green-3: #192a1c;
		--wui-color-green-4: #193b21;
		--wui-color-green-5: #204929;
		--wui-color-green-6: #265832;
		--wui-color-green-7: #2d693b;
		--wui-color-green-8: #327c44;
		--wui-color-green-9: #16a34a;
		--wui-color-green-10: #00963d;
		--wui-color-green-11: #5ed47b;
		--wui-color-green-12: #b8f3c1;

		--wui-color-green-a1: #00bb0003;
		--wui-color-green-a2: #45f75e0a;
		--wui-color-green-a3: #5dfe791b;
		--wui-color-green-a4: #3fff6c2d;
		--wui-color-green-a5: #51ff773c;
		--wui-color-green-a6: #57fd7f4d;
		--wui-color-green-a7: #5cfd825f;
		--wui-color-green-a8: #5bff8373;
		--wui-color-green-a9: #19fe6d9d;
		--wui-color-green-a10: #00ff608f;
		--wui-color-green-a11: #6fff93d1;
		--wui-color-green-a12: #c0fecaf3;

		--wui-color-green-contrast: #fff;
	}

	@supports (color: color(display-p3 1 1 1)) {
		@media (color-gamut: p3) {
			.dark,
			.dark-theme,
			[data-theme="dark"] {
				--wui-color-green-1: oklch(17.8% 0.016 149.2);
				--wui-color-green-2: oklch(20.9% 0.016 149.2);
				--wui-color-green-3: oklch(26.6% 0.035 149.2);
				--wui-color-green-4: oklch(31.9% 0.061 149.2);
				--wui-color-green-5: oklch(36.6% 0.072 149.2);
				--wui-color-green-6: oklch(41.6% 0.084 149.2);
				--wui-color-green-7: oklch(46.8% 0.097 149.2);
				--wui-color-green-8: oklch(52.4% 0.113 149.2);
				--wui-color-green-9: oklch(62.7% 0.17 149.2);
				--wui-color-green-10: oklch(58.6% 0.17 149.2);
				--wui-color-green-11: oklch(78% 0.165 149.2);
				--wui-color-green-12: oklch(91.1% 0.09 149.2);

				--wui-color-green-a1: color(display-p3 0 0.941 0 / 0.009);
				--wui-color-green-a2: color(display-p3 0.376 0.996 0.376 / 0.038);
				--wui-color-green-a3: color(display-p3 0.514 0.992 0.514 / 0.106);
				--wui-color-green-a4: color(display-p3 0.455 0.996 0.478 / 0.173);
				--wui-color-green-a5: color(display-p3 0.51 1 0.525 / 0.232);
				--wui-color-green-a6: color(display-p3 0.522 1 0.561 / 0.295);
				--wui-color-green-a7: color(display-p3 0.537 1 0.573 / 0.366);
				--wui-color-green-a8: color(display-p3 0.537 1 0.573 / 0.442);
				--wui-color-green-a9: color(display-p3 0.447 0.996 0.498 / 0.606);
				--wui-color-green-a10: color(display-p3 0.416 0.996 0.459 / 0.551);
				--wui-color-green-a11: color(display-p3 0.6 1 0.627 / 0.807);
				--wui-color-green-a12: color(display-p3 0.812 1 0.816 / 0.942);

				--wui-color-green-contrast: #fff;
			}
		}
	}
}
