@layer base {
	:root,
	.light,
	.light-theme,
	[data-theme="light"] {
		--wui-color-grey-1: #fcfcfd;
		--wui-color-grey-2: #f9f9fb;
		--wui-color-grey-3: #eff0f3;
		--wui-color-grey-4: #e7e8ec;
		--wui-color-grey-5: #e0e1e6;
		--wui-color-grey-6: #d8d9e0;
		--wui-color-grey-7: #cdced7;
		--wui-color-grey-8: #b9bbc6;
		--wui-color-grey-9: #8b8d98;
		--wui-color-grey-10: #80828d;
		--wui-color-grey-11: #62636c;
		--wui-color-grey-12: #1e1f24;

		--wui-color-grey-a1: #00005503;
		--wui-color-grey-a2: #00005506;
		--wui-color-grey-a3: #00104010;
		--wui-color-grey-a4: #000b3618;
		--wui-color-grey-a5: #0009321f;
		--wui-color-grey-a6: #00073527;
		--wui-color-grey-a7: #00063332;
		--wui-color-grey-a8: #00083046;
		--wui-color-grey-a9: #00051d74;
		--wui-color-grey-a10: #00051b7f;
		--wui-color-grey-a11: #0002119d;
		--wui-color-grey-a12: #000107e1;

		--wui-color-grey-contrast: #ffffff;
		--wui-color-grey-background: #fff;
	}

	@supports (color: color(display-p3 1 1 1)) {
		@media (color-gamut: p3) {
			:root,
			.light,
			.light-theme,
			[data-theme="light"] {
				--wui-color-grey-1: oklch(99.1% 0.001 277.7);
				--wui-color-grey-2: oklch(98.2% 0.003 277.7);
				--wui-color-grey-3: oklch(95.6% 0.005 277.7);
				--wui-color-grey-4: oklch(93.1% 0.006 277.7);
				--wui-color-grey-5: oklch(91% 0.008 277.7);
				--wui-color-grey-6: oklch(88.8% 0.009 277.7);
				--wui-color-grey-7: oklch(85.3% 0.012 277.7);
				--wui-color-grey-8: oklch(79.4% 0.016 277.7);
				--wui-color-grey-9: oklch(64.6% 0.016 277.7);
				--wui-color-grey-10: oklch(61% 0.016 277.7);
				--wui-color-grey-11: oklch(50.3% 0.014 277.7);
				--wui-color-grey-12: oklch(24.1% 0.01 277.7);

				--wui-color-grey-a1: color(display-p3 0.024 0.024 0.349 / 0.012);
				--wui-color-grey-a2: color(display-p3 0.024 0.024 0.349 / 0.024);
				--wui-color-grey-a3: color(display-p3 0.008 0.067 0.255 / 0.063);
				--wui-color-grey-a4: color(display-p3 0.012 0.051 0.216 / 0.095);
				--wui-color-grey-a5: color(display-p3 0.004 0.039 0.2 / 0.122);
				--wui-color-grey-a6: color(display-p3 0.004 0.027 0.18 / 0.153);
				--wui-color-grey-a7: color(display-p3 0.008 0.027 0.184 / 0.197);
				--wui-color-grey-a8: color(display-p3 0.004 0.031 0.176 / 0.275);
				--wui-color-grey-a9: color(display-p3 0.004 0.02 0.106 / 0.455);
				--wui-color-grey-a10: color(display-p3 0.004 0.02 0.098 / 0.499);
				--wui-color-grey-a11: color(display-p3 0 0.008 0.059 / 0.616);
				--wui-color-grey-a12: color(display-p3 0 0.004 0.027 / 0.883);

				--wui-color-grey-contrast: #ffffff;
				--wui-color-grey-background: #fff;
			}
		}
	}

	.dark,
	.dark-theme,
	[data-theme="dark"] {
		--wui-color-grey-1: #111113;
		--wui-color-grey-2: #19191b;
		--wui-color-grey-3: #222325;
		--wui-color-grey-4: #292a2e;
		--wui-color-grey-5: #303136;
		--wui-color-grey-6: #393a40;
		--wui-color-grey-7: #46484f;
		--wui-color-grey-8: #5f606a;
		--wui-color-grey-9: #6c6e79;
		--wui-color-grey-10: #797b86;
		--wui-color-grey-11: #b2b3bd;
		--wui-color-grey-12: #eeeef0;

		--wui-color-grey-a1: #1111bb03;
		--wui-color-grey-a2: #cbcbf90b;
		--wui-color-grey-a3: #d6e2f916;
		--wui-color-grey-a4: #d1d9f920;
		--wui-color-grey-a5: #d7ddfd28;
		--wui-color-grey-a6: #d9defc33;
		--wui-color-grey-a7: #dae2fd43;
		--wui-color-grey-a8: #e0e3fd60;
		--wui-color-grey-a9: #e0e4fd70;
		--wui-color-grey-a10: #e3e7fd7e;
		--wui-color-grey-a11: #eff0feb9;
		--wui-color-grey-a12: #fdfdffef;

		--wui-color-grey-contrast: #ffffff;
		--wui-color-grey-background: #111;
	}

	@supports (color: color(display-p3 1 1 1)) {
		@media (color-gamut: p3) {
			.dark,
			.dark-theme,
			[data-theme="dark"] {
				--wui-color-grey-1: oklch(17.8% 0.004 277.7);
				--wui-color-grey-2: oklch(21.5% 0.004 277.7);
				--wui-color-grey-3: oklch(25.5% 0.005 277.7);
				--wui-color-grey-4: oklch(28.4% 0.008 277.7);
				--wui-color-grey-5: oklch(31.4% 0.009 277.7);
				--wui-color-grey-6: oklch(35% 0.01 277.7);
				--wui-color-grey-7: oklch(40.2% 0.012 277.7);
				--wui-color-grey-8: oklch(49.2% 0.016 277.7);
				--wui-color-grey-9: oklch(54% 0.017 277.7);
				--wui-color-grey-10: oklch(58.6% 0.016 277.7);
				--wui-color-grey-11: oklch(77% 0.014 277.7);
				--wui-color-grey-12: oklch(94.9% 0.003 277.7);

				--wui-color-grey-a1: color(display-p3 0.067 0.067 0.941 / 0.009);
				--wui-color-grey-a2: color(display-p3 0.8 0.8 0.98 / 0.043);
				--wui-color-grey-a3: color(display-p3 0.851 0.898 0.988 / 0.085);
				--wui-color-grey-a4: color(display-p3 0.839 0.871 1 / 0.122);
				--wui-color-grey-a5: color(display-p3 0.847 0.875 1 / 0.156);
				--wui-color-grey-a6: color(display-p3 0.878 0.898 1 / 0.194);
				--wui-color-grey-a7: color(display-p3 0.875 0.906 0.996 / 0.257);
				--wui-color-grey-a8: color(display-p3 0.894 0.906 1 / 0.37);
				--wui-color-grey-a9: color(display-p3 0.89 0.91 1 / 0.433);
				--wui-color-grey-a10: color(display-p3 0.902 0.918 1 / 0.488);
				--wui-color-grey-a11: color(display-p3 0.945 0.949 1 / 0.719);
				--wui-color-grey-a12: color(display-p3 0.992 0.992 1 / 0.937);

				--wui-color-grey-contrast: #ffffff;
				--wui-color-grey-background: #111;
			}
		}
	}
}
