---
import Input from "./input.astro";

import { ChevronsUpDown } from "lucide-react";
---

<div class="item">
  <Input placeholder="Search docs...">
    <ChevronsUpDown slot="end" data-slot="icon" />
  </Input>
</div>

<style>
  .item {
    max-width: 250px;
  }
</style>
