@import "./black.css";
@import "./blue.css";
@import "./green.css";
@import "./grey.css";
@import "./orange.css";
@import "./pink.css";
@import "./purple.css";
@import "./red.css";
@import "./white.css";
@import "./yellow.css";

@layer base {
  [data-accent-color="grey"] {
    --wui-color-accent-1: var(--wui-color-grey-1);
    --wui-color-accent-2: var(--wui-color-grey-2);
    --wui-color-accent-3: var(--wui-color-grey-3);
    --wui-color-accent-4: var(--wui-color-grey-4);
    --wui-color-accent-5: var(--wui-color-grey-5);
    --wui-color-accent-6: var(--wui-color-grey-6);
    --wui-color-accent-7: var(--wui-color-grey-7);
    --wui-color-accent-8: var(--wui-color-grey-8);
    --wui-color-accent-9: var(--wui-color-grey-9);
    --wui-color-accent-10: var(--wui-color-grey-10);
    --wui-color-accent-11: var(--wui-color-grey-11);
    --wui-color-accent-12: var(--wui-color-grey-12);

    --wui-color-accent-a1: var(--wui-color-grey-a1);
    --wui-color-accent-a2: var(--wui-color-grey-a2);
    --wui-color-accent-a3: var(--wui-color-grey-a3);
    --wui-color-accent-a4: var(--wui-color-grey-a4);
    --wui-color-accent-a5: var(--wui-color-grey-a5);
    --wui-color-accent-a6: var(--wui-color-grey-a6);
    --wui-color-accent-a7: var(--wui-color-grey-a7);
    --wui-color-accent-a8: var(--wui-color-grey-a8);
    --wui-color-accent-a9: var(--wui-color-grey-a9);
    --wui-color-accent-a10: var(--wui-color-grey-a10);
    --wui-color-accent-a11: var(--wui-color-grey-a11);
    --wui-color-accent-a12: var(--wui-color-grey-a12);

    --wui-color-accent-contrast: var(--wui-color-grey-contrast);
  }

  [data-accent-color="red"] {
    --wui-color-accent-1: var(--wui-color-red-1);
    --wui-color-accent-2: var(--wui-color-red-2);
    --wui-color-accent-3: var(--wui-color-red-3);
    --wui-color-accent-4: var(--wui-color-red-4);
    --wui-color-accent-5: var(--wui-color-red-5);
    --wui-color-accent-6: var(--wui-color-red-6);
    --wui-color-accent-7: var(--wui-color-red-7);
    --wui-color-accent-8: var(--wui-color-red-8);
    --wui-color-accent-9: var(--wui-color-red-9);
    --wui-color-accent-10: var(--wui-color-red-10);
    --wui-color-accent-11: var(--wui-color-red-11);
    --wui-color-accent-12: var(--wui-color-red-12);

    --wui-color-accent-a1: var(--wui-color-red-a1);
    --wui-color-accent-a2: var(--wui-color-red-a2);
    --wui-color-accent-a3: var(--wui-color-red-a3);
    --wui-color-accent-a4: var(--wui-color-red-a4);
    --wui-color-accent-a5: var(--wui-color-red-a5);
    --wui-color-accent-a6: var(--wui-color-red-a6);
    --wui-color-accent-a7: var(--wui-color-red-a7);
    --wui-color-accent-a8: var(--wui-color-red-a8);
    --wui-color-accent-a9: var(--wui-color-red-a9);
    --wui-color-accent-a10: var(--wui-color-red-a10);
    --wui-color-accent-a11: var(--wui-color-red-a11);
    --wui-color-accent-a12: var(--wui-color-red-a12);

    --wui-color-accent-contrast: var(--wui-color-red-contrast);
  }

  [data-accent-color="orange"] {
    --wui-color-accent-1: var(--wui-color-orange-1);
    --wui-color-accent-2: var(--wui-color-orange-2);
    --wui-color-accent-3: var(--wui-color-orange-3);
    --wui-color-accent-4: var(--wui-color-orange-4);
    --wui-color-accent-5: var(--wui-color-orange-5);
    --wui-color-accent-6: var(--wui-color-orange-6);
    --wui-color-accent-7: var(--wui-color-orange-7);
    --wui-color-accent-8: var(--wui-color-orange-8);
    --wui-color-accent-9: var(--wui-color-orange-9);
    --wui-color-accent-10: var(--wui-color-orange-10);
    --wui-color-accent-11: var(--wui-color-orange-11);
    --wui-color-accent-12: var(--wui-color-orange-12);

    --wui-color-accent-a1: var(--wui-color-orange-a1);
    --wui-color-accent-a2: var(--wui-color-orange-a2);
    --wui-color-accent-a3: var(--wui-color-orange-a3);
    --wui-color-accent-a4: var(--wui-color-orange-a4);
    --wui-color-accent-a5: var(--wui-color-orange-a5);
    --wui-color-accent-a6: var(--wui-color-orange-a6);
    --wui-color-accent-a7: var(--wui-color-orange-a7);
    --wui-color-accent-a8: var(--wui-color-orange-a8);
    --wui-color-accent-a9: var(--wui-color-orange-a9);
    --wui-color-accent-a10: var(--wui-color-orange-a10);
    --wui-color-accent-a11: var(--wui-color-orange-a11);
    --wui-color-accent-a12: var(--wui-color-orange-a12);

    --wui-color-accent-contrast: var(--wui-color-orange-contrast);
  }

  [data-accent-color="yellow"] {
    --wui-color-accent-1: var(--wui-color-yellow-1);
    --wui-color-accent-2: var(--wui-color-yellow-2);
    --wui-color-accent-3: var(--wui-color-yellow-3);
    --wui-color-accent-4: var(--wui-color-yellow-4);
    --wui-color-accent-5: var(--wui-color-yellow-5);
    --wui-color-accent-6: var(--wui-color-yellow-6);
    --wui-color-accent-7: var(--wui-color-yellow-7);
    --wui-color-accent-8: var(--wui-color-yellow-8);
    --wui-color-accent-9: var(--wui-color-yellow-9);
    --wui-color-accent-10: var(--wui-color-yellow-10);
    --wui-color-accent-11: var(--wui-color-yellow-11);
    --wui-color-accent-12: var(--wui-color-yellow-12);

    --wui-color-accent-a1: var(--wui-color-yellow-a1);
    --wui-color-accent-a2: var(--wui-color-yellow-a2);
    --wui-color-accent-a3: var(--wui-color-yellow-a3);
    --wui-color-accent-a4: var(--wui-color-yellow-a4);
    --wui-color-accent-a5: var(--wui-color-yellow-a5);
    --wui-color-accent-a6: var(--wui-color-yellow-a6);
    --wui-color-accent-a7: var(--wui-color-yellow-a7);
    --wui-color-accent-a8: var(--wui-color-yellow-a8);
    --wui-color-accent-a9: var(--wui-color-yellow-a9);
    --wui-color-accent-a10: var(--wui-color-yellow-a10);
    --wui-color-accent-a11: var(--wui-color-yellow-a11);
    --wui-color-accent-a12: var(--wui-color-yellow-a12);

    --wui-color-accent-contrast: var(--wui-color-yellow-contrast);
  }

  [data-accent-color="green"] {
    --wui-color-accent-1: var(--wui-color-green-1);
    --wui-color-accent-2: var(--wui-color-green-2);
    --wui-color-accent-3: var(--wui-color-green-3);
    --wui-color-accent-4: var(--wui-color-green-4);
    --wui-color-accent-5: var(--wui-color-green-5);
    --wui-color-accent-6: var(--wui-color-green-6);
    --wui-color-accent-7: var(--wui-color-green-7);
    --wui-color-accent-8: var(--wui-color-green-8);
    --wui-color-accent-9: var(--wui-color-green-9);
    --wui-color-accent-10: var(--wui-color-green-10);
    --wui-color-accent-11: var(--wui-color-green-11);
    --wui-color-accent-12: var(--wui-color-green-12);

    --wui-color-accent-a1: var(--wui-color-green-a1);
    --wui-color-accent-a2: var(--wui-color-green-a2);
    --wui-color-accent-a3: var(--wui-color-green-a3);
    --wui-color-accent-a4: var(--wui-color-green-a4);
    --wui-color-accent-a5: var(--wui-color-green-a5);
    --wui-color-accent-a6: var(--wui-color-green-a6);
    --wui-color-accent-a7: var(--wui-color-green-a7);
    --wui-color-accent-a8: var(--wui-color-green-a8);
    --wui-color-accent-a9: var(--wui-color-green-a9);
    --wui-color-accent-a10: var(--wui-color-green-a10);
    --wui-color-accent-a11: var(--wui-color-green-a11);
    --wui-color-accent-a12: var(--wui-color-green-a12);

    --wui-color-accent-contrast: var(--wui-color-green-contrast);
  }

  [data-accent-color="blue"] {
    --wui-color-accent-1: var(--wui-color-blue-1);
    --wui-color-accent-2: var(--wui-color-blue-2);
    --wui-color-accent-3: var(--wui-color-blue-3);
    --wui-color-accent-4: var(--wui-color-blue-4);
    --wui-color-accent-5: var(--wui-color-blue-5);
    --wui-color-accent-6: var(--wui-color-blue-6);
    --wui-color-accent-7: var(--wui-color-blue-7);
    --wui-color-accent-8: var(--wui-color-blue-8);
    --wui-color-accent-9: var(--wui-color-blue-9);
    --wui-color-accent-10: var(--wui-color-blue-10);
    --wui-color-accent-11: var(--wui-color-blue-11);
    --wui-color-accent-12: var(--wui-color-blue-12);

    --wui-color-accent-a1: var(--wui-color-blue-a1);
    --wui-color-accent-a2: var(--wui-color-blue-a2);
    --wui-color-accent-a3: var(--wui-color-blue-a3);
    --wui-color-accent-a4: var(--wui-color-blue-a4);
    --wui-color-accent-a5: var(--wui-color-blue-a5);
    --wui-color-accent-a6: var(--wui-color-blue-a6);
    --wui-color-accent-a7: var(--wui-color-blue-a7);
    --wui-color-accent-a8: var(--wui-color-blue-a8);
    --wui-color-accent-a9: var(--wui-color-blue-a9);
    --wui-color-accent-a10: var(--wui-color-blue-a10);
    --wui-color-accent-a11: var(--wui-color-blue-a11);
    --wui-color-accent-a12: var(--wui-color-blue-a12);

    --wui-color-accent-contrast: var(--wui-color-blue-contrast);
  }

  [data-accent-color="purple"] {
    --wui-color-accent-1: var(--wui-color-purple-1);
    --wui-color-accent-2: var(--wui-color-purple-2);
    --wui-color-accent-3: var(--wui-color-purple-3);
    --wui-color-accent-4: var(--wui-color-purple-4);
    --wui-color-accent-5: var(--wui-color-purple-5);
    --wui-color-accent-6: var(--wui-color-purple-6);
    --wui-color-accent-7: var(--wui-color-purple-7);
    --wui-color-accent-8: var(--wui-color-purple-8);
    --wui-color-accent-9: var(--wui-color-purple-9);
    --wui-color-accent-10: var(--wui-color-purple-10);
    --wui-color-accent-11: var(--wui-color-purple-11);
    --wui-color-accent-12: var(--wui-color-purple-12);

    --wui-color-accent-a1: var(--wui-color-purple-a1);
    --wui-color-accent-a2: var(--wui-color-purple-a2);
    --wui-color-accent-a3: var(--wui-color-purple-a3);
    --wui-color-accent-a4: var(--wui-color-purple-a4);
    --wui-color-accent-a5: var(--wui-color-purple-a5);
    --wui-color-accent-a6: var(--wui-color-purple-a6);
    --wui-color-accent-a7: var(--wui-color-purple-a7);
    --wui-color-accent-a8: var(--wui-color-purple-a8);
    --wui-color-accent-a9: var(--wui-color-purple-a9);
    --wui-color-accent-a10: var(--wui-color-purple-a10);
    --wui-color-accent-a11: var(--wui-color-purple-a11);
    --wui-color-accent-a12: var(--wui-color-purple-a12);

    --wui-color-accent-contrast: var(--wui-color-purple-contrast);
  }

  [data-accent-color="pink"] {
    --wui-color-accent-1: var(--wui-color-pink-1);
    --wui-color-accent-2: var(--wui-color-pink-2);
    --wui-color-accent-3: var(--wui-color-pink-3);
    --wui-color-accent-4: var(--wui-color-pink-4);
    --wui-color-accent-5: var(--wui-color-pink-5);
    --wui-color-accent-6: var(--wui-color-pink-6);
    --wui-color-accent-7: var(--wui-color-pink-7);
    --wui-color-accent-8: var(--wui-color-pink-8);
    --wui-color-accent-9: var(--wui-color-pink-9);
    --wui-color-accent-10: var(--wui-color-pink-10);
    --wui-color-accent-11: var(--wui-color-pink-11);
    --wui-color-accent-12: var(--wui-color-pink-12);

    --wui-color-accent-a1: var(--wui-color-pink-a1);
    --wui-color-accent-a2: var(--wui-color-pink-a2);
    --wui-color-accent-a3: var(--wui-color-pink-a3);
    --wui-color-accent-a4: var(--wui-color-pink-a4);
    --wui-color-accent-a5: var(--wui-color-pink-a5);
    --wui-color-accent-a6: var(--wui-color-pink-a6);
    --wui-color-accent-a7: var(--wui-color-pink-a7);
    --wui-color-accent-a8: var(--wui-color-pink-a8);
    --wui-color-accent-a9: var(--wui-color-pink-a9);
    --wui-color-accent-a10: var(--wui-color-pink-a10);
    --wui-color-accent-a11: var(--wui-color-pink-a11);
    --wui-color-accent-a12: var(--wui-color-pink-a12);

    --wui-color-accent-contrast: var(--wui-color-pink-contrast);
  }

  [data-accent-color="brand"] {
    --wui-color-accent-1: var(--wui-color-brand-1);
    --wui-color-accent-2: var(--wui-color-brand-2);
    --wui-color-accent-3: var(--wui-color-brand-3);
    --wui-color-accent-4: var(--wui-color-brand-4);
    --wui-color-accent-5: var(--wui-color-brand-5);
    --wui-color-accent-6: var(--wui-color-brand-6);
    --wui-color-accent-7: var(--wui-color-brand-7);
    --wui-color-accent-8: var(--wui-color-brand-8);
    --wui-color-accent-9: var(--wui-color-brand-9);
    --wui-color-accent-10: var(--wui-color-brand-10);
    --wui-color-accent-11: var(--wui-color-brand-11);
    --wui-color-accent-12: var(--wui-color-brand-12);

    --wui-color-accent-a1: var(--wui-color-brand-a1);
    --wui-color-accent-a2: var(--wui-color-brand-a2);
    --wui-color-accent-a3: var(--wui-color-brand-a3);
    --wui-color-accent-a4: var(--wui-color-brand-a4);
    --wui-color-accent-a5: var(--wui-color-brand-a5);
    --wui-color-accent-a6: var(--wui-color-brand-a6);
    --wui-color-accent-a7: var(--wui-color-brand-a7);
    --wui-color-accent-a8: var(--wui-color-brand-a8);
    --wui-color-accent-a9: var(--wui-color-brand-a9);
    --wui-color-accent-a10: var(--wui-color-brand-a10);
    --wui-color-accent-a11: var(--wui-color-brand-a11);
    --wui-color-accent-a12: var(--wui-color-brand-a12);

    --wui-color-accent-contrast: var(--wui-color-brand-contrast);
  }
}
