@import "./black.css";
@import "./blue.css";
@import "./green.css";
@import "./grey.css";
@import "./orange.css";
@import "./pink.css";
@import "./purple.css";
@import "./red.css";
@import "./white.css";
@import "./yellow.css";

@layer base {
  [data-accent-color="red"] {
    --ak-accent-color-1: var(--ak-color-red-1);
    --ak-accent-color-2: var(--ak-color-red-2);
    --ak-accent-color-3: var(--ak-color-red-3);
    --ak-accent-color-4: var(--ak-color-red-4);
    --ak-accent-color-5: var(--ak-color-red-5);
    --ak-accent-color-6: var(--ak-color-red-6);
    --ak-accent-color-7: var(--ak-color-red-7);
    --ak-accent-color-8: var(--ak-color-red-8);
    --ak-accent-color-9: var(--ak-color-red-9);
    --ak-accent-color-10: var(--ak-color-red-10);
    --ak-accent-color-11: var(--ak-color-red-11);
    --ak-accent-color-12: var(--ak-color-red-12);

    --ak-accent-color-a1: var(--ak-color-red-a1);
    --ak-accent-color-a2: var(--ak-color-red-a2);
    --ak-accent-color-a3: var(--ak-color-red-a3);
    --ak-accent-color-a4: var(--ak-color-red-a4);
    --ak-accent-color-a5: var(--ak-color-red-a5);
    --ak-accent-color-a6: var(--ak-color-red-a6);
    --ak-accent-color-a7: var(--ak-color-red-a7);
    --ak-accent-color-a8: var(--ak-color-red-a8);
    --ak-accent-color-a9: var(--ak-color-red-a9);
    --ak-accent-color-a10: var(--ak-color-red-a10);
    --ak-accent-color-a11: var(--ak-color-red-a11);
    --ak-accent-color-a12: var(--ak-color-red-a12);

    --ak-accent-color-contrast: var(--ak-color-red-contrast);
  }

  [data-accent-color="orange"] {
    --ak-accent-color-1: var(--ak-color-orange-1);
    --ak-accent-color-2: var(--ak-color-orange-2);
    --ak-accent-color-3: var(--ak-color-orange-3);
    --ak-accent-color-4: var(--ak-color-orange-4);
    --ak-accent-color-5: var(--ak-color-orange-5);
    --ak-accent-color-6: var(--ak-color-orange-6);
    --ak-accent-color-7: var(--ak-color-orange-7);
    --ak-accent-color-8: var(--ak-color-orange-8);
    --ak-accent-color-9: var(--ak-color-orange-9);
    --ak-accent-color-10: var(--ak-color-orange-10);
    --ak-accent-color-11: var(--ak-color-orange-11);
    --ak-accent-color-12: var(--ak-color-orange-12);

    --ak-accent-color-a1: var(--ak-color-orange-a1);
    --ak-accent-color-a2: var(--ak-color-orange-a2);
    --ak-accent-color-a3: var(--ak-color-orange-a3);
    --ak-accent-color-a4: var(--ak-color-orange-a4);
    --ak-accent-color-a5: var(--ak-color-orange-a5);
    --ak-accent-color-a6: var(--ak-color-orange-a6);
    --ak-accent-color-a7: var(--ak-color-orange-a7);
    --ak-accent-color-a8: var(--ak-color-orange-a8);
    --ak-accent-color-a9: var(--ak-color-orange-a9);
    --ak-accent-color-a10: var(--ak-color-orange-a10);
    --ak-accent-color-a11: var(--ak-color-orange-a11);
    --ak-accent-color-a12: var(--ak-color-orange-a12);

    --ak-accent-color-contrast: var(--ak-color-orange-contrast);
  }

  [data-accent-color="yellow"] {
    --ak-accent-color-1: var(--ak-color-yellow-1);
    --ak-accent-color-2: var(--ak-color-yellow-2);
    --ak-accent-color-3: var(--ak-color-yellow-3);
    --ak-accent-color-4: var(--ak-color-yellow-4);
    --ak-accent-color-5: var(--ak-color-yellow-5);
    --ak-accent-color-6: var(--ak-color-yellow-6);
    --ak-accent-color-7: var(--ak-color-yellow-7);
    --ak-accent-color-8: var(--ak-color-yellow-8);
    --ak-accent-color-9: var(--ak-color-yellow-9);
    --ak-accent-color-10: var(--ak-color-yellow-10);
    --ak-accent-color-11: var(--ak-color-yellow-11);
    --ak-accent-color-12: var(--ak-color-yellow-12);

    --ak-accent-color-a1: var(--ak-color-yellow-a1);
    --ak-accent-color-a2: var(--ak-color-yellow-a2);
    --ak-accent-color-a3: var(--ak-color-yellow-a3);
    --ak-accent-color-a4: var(--ak-color-yellow-a4);
    --ak-accent-color-a5: var(--ak-color-yellow-a5);
    --ak-accent-color-a6: var(--ak-color-yellow-a6);
    --ak-accent-color-a7: var(--ak-color-yellow-a7);
    --ak-accent-color-a8: var(--ak-color-yellow-a8);
    --ak-accent-color-a9: var(--ak-color-yellow-a9);
    --ak-accent-color-a10: var(--ak-color-yellow-a10);
    --ak-accent-color-a11: var(--ak-color-yellow-a11);
    --ak-accent-color-a12: var(--ak-color-yellow-a12);

    --ak-accent-color-contrast: var(--ak-color-yellow-contrast);
  }

  [data-accent-color="green"] {
    --ak-accent-color-1: var(--ak-color-green-1);
    --ak-accent-color-2: var(--ak-color-green-2);
    --ak-accent-color-3: var(--ak-color-green-3);
    --ak-accent-color-4: var(--ak-color-green-4);
    --ak-accent-color-5: var(--ak-color-green-5);
    --ak-accent-color-6: var(--ak-color-green-6);
    --ak-accent-color-7: var(--ak-color-green-7);
    --ak-accent-color-8: var(--ak-color-green-8);
    --ak-accent-color-9: var(--ak-color-green-9);
    --ak-accent-color-10: var(--ak-color-green-10);
    --ak-accent-color-11: var(--ak-color-green-11);
    --ak-accent-color-12: var(--ak-color-green-12);

    --ak-accent-color-a1: var(--ak-color-green-a1);
    --ak-accent-color-a2: var(--ak-color-green-a2);
    --ak-accent-color-a3: var(--ak-color-green-a3);
    --ak-accent-color-a4: var(--ak-color-green-a4);
    --ak-accent-color-a5: var(--ak-color-green-a5);
    --ak-accent-color-a6: var(--ak-color-green-a6);
    --ak-accent-color-a7: var(--ak-color-green-a7);
    --ak-accent-color-a8: var(--ak-color-green-a8);
    --ak-accent-color-a9: var(--ak-color-green-a9);
    --ak-accent-color-a10: var(--ak-color-green-a10);
    --ak-accent-color-a11: var(--ak-color-green-a11);
    --ak-accent-color-a12: var(--ak-color-green-a12);

    --ak-accent-color-contrast: var(--ak-color-green-contrast);
  }

  [data-accent-color="blue"] {
    --ak-accent-color-1: var(--ak-color-blue-1);
    --ak-accent-color-2: var(--ak-color-blue-2);
    --ak-accent-color-3: var(--ak-color-blue-3);
    --ak-accent-color-4: var(--ak-color-blue-4);
    --ak-accent-color-5: var(--ak-color-blue-5);
    --ak-accent-color-6: var(--ak-color-blue-6);
    --ak-accent-color-7: var(--ak-color-blue-7);
    --ak-accent-color-8: var(--ak-color-blue-8);
    --ak-accent-color-9: var(--ak-color-blue-9);
    --ak-accent-color-10: var(--ak-color-blue-10);
    --ak-accent-color-11: var(--ak-color-blue-11);
    --ak-accent-color-12: var(--ak-color-blue-12);

    --ak-accent-color-a1: var(--ak-color-blue-a1);
    --ak-accent-color-a2: var(--ak-color-blue-a2);
    --ak-accent-color-a3: var(--ak-color-blue-a3);
    --ak-accent-color-a4: var(--ak-color-blue-a4);
    --ak-accent-color-a5: var(--ak-color-blue-a5);
    --ak-accent-color-a6: var(--ak-color-blue-a6);
    --ak-accent-color-a7: var(--ak-color-blue-a7);
    --ak-accent-color-a8: var(--ak-color-blue-a8);
    --ak-accent-color-a9: var(--ak-color-blue-a9);
    --ak-accent-color-a10: var(--ak-color-blue-a10);
    --ak-accent-color-a11: var(--ak-color-blue-a11);
    --ak-accent-color-a12: var(--ak-color-blue-a12);

    --ak-accent-color-contrast: var(--ak-color-blue-contrast);
  }

  [data-accent-color="purple"] {
    --ak-accent-color-1: var(--ak-color-purple-1);
    --ak-accent-color-2: var(--ak-color-purple-2);
    --ak-accent-color-3: var(--ak-color-purple-3);
    --ak-accent-color-4: var(--ak-color-purple-4);
    --ak-accent-color-5: var(--ak-color-purple-5);
    --ak-accent-color-6: var(--ak-color-purple-6);
    --ak-accent-color-7: var(--ak-color-purple-7);
    --ak-accent-color-8: var(--ak-color-purple-8);
    --ak-accent-color-9: var(--ak-color-purple-9);
    --ak-accent-color-10: var(--ak-color-purple-10);
    --ak-accent-color-11: var(--ak-color-purple-11);
    --ak-accent-color-12: var(--ak-color-purple-12);

    --ak-accent-color-a1: var(--ak-color-purple-a1);
    --ak-accent-color-a2: var(--ak-color-purple-a2);
    --ak-accent-color-a3: var(--ak-color-purple-a3);
    --ak-accent-color-a4: var(--ak-color-purple-a4);
    --ak-accent-color-a5: var(--ak-color-purple-a5);
    --ak-accent-color-a6: var(--ak-color-purple-a6);
    --ak-accent-color-a7: var(--ak-color-purple-a7);
    --ak-accent-color-a8: var(--ak-color-purple-a8);
    --ak-accent-color-a9: var(--ak-color-purple-a9);
    --ak-accent-color-a10: var(--ak-color-purple-a10);
    --ak-accent-color-a11: var(--ak-color-purple-a11);
    --ak-accent-color-a12: var(--ak-color-purple-a12);

    --ak-accent-color-contrast: var(--ak-color-purple-contrast);
  }

  [data-accent-color="pink"] {
    --ak-accent-color-1: var(--ak-color-pink-1);
    --ak-accent-color-2: var(--ak-color-pink-2);
    --ak-accent-color-3: var(--ak-color-pink-3);
    --ak-accent-color-4: var(--ak-color-pink-4);
    --ak-accent-color-5: var(--ak-color-pink-5);
    --ak-accent-color-6: var(--ak-color-pink-6);
    --ak-accent-color-7: var(--ak-color-pink-7);
    --ak-accent-color-8: var(--ak-color-pink-8);
    --ak-accent-color-9: var(--ak-color-pink-9);
    --ak-accent-color-10: var(--ak-color-pink-10);
    --ak-accent-color-11: var(--ak-color-pink-11);
    --ak-accent-color-12: var(--ak-color-pink-12);

    --ak-accent-color-a1: var(--ak-color-pink-a1);
    --ak-accent-color-a2: var(--ak-color-pink-a2);
    --ak-accent-color-a3: var(--ak-color-pink-a3);
    --ak-accent-color-a4: var(--ak-color-pink-a4);
    --ak-accent-color-a5: var(--ak-color-pink-a5);
    --ak-accent-color-a6: var(--ak-color-pink-a6);
    --ak-accent-color-a7: var(--ak-color-pink-a7);
    --ak-accent-color-a8: var(--ak-color-pink-a8);
    --ak-accent-color-a9: var(--ak-color-pink-a9);
    --ak-accent-color-a10: var(--ak-color-pink-a10);
    --ak-accent-color-a11: var(--ak-color-pink-a11);
    --ak-accent-color-a12: var(--ak-color-pink-a12);

    --ak-accent-color-contrast: var(--ak-color-pink-contrast);
  }

  [data-accent-color="brand"] {
    --ak-accent-color-1: var(--ak-color-brand-1);
    --ak-accent-color-2: var(--ak-color-brand-2);
    --ak-accent-color-3: var(--ak-color-brand-3);
    --ak-accent-color-4: var(--ak-color-brand-4);
    --ak-accent-color-5: var(--ak-color-brand-5);
    --ak-accent-color-6: var(--ak-color-brand-6);
    --ak-accent-color-7: var(--ak-color-brand-7);
    --ak-accent-color-8: var(--ak-color-brand-8);
    --ak-accent-color-9: var(--ak-color-brand-9);
    --ak-accent-color-10: var(--ak-color-brand-10);
    --ak-accent-color-11: var(--ak-color-brand-11);
    --ak-accent-color-12: var(--ak-color-brand-12);

    --ak-accent-color-a1: var(--ak-color-brand-a1);
    --ak-accent-color-a2: var(--ak-color-brand-a2);
    --ak-accent-color-a3: var(--ak-color-brand-a3);
    --ak-accent-color-a4: var(--ak-color-brand-a4);
    --ak-accent-color-a5: var(--ak-color-brand-a5);
    --ak-accent-color-a6: var(--ak-color-brand-a6);
    --ak-accent-color-a7: var(--ak-color-brand-a7);
    --ak-accent-color-a8: var(--ak-color-brand-a8);
    --ak-accent-color-a9: var(--ak-color-brand-a9);
    --ak-accent-color-a10: var(--ak-color-brand-a10);
    --ak-accent-color-a11: var(--ak-color-brand-a11);
    --ak-accent-color-a12: var(--ak-color-brand-a12);

    --ak-accent-color-contrast: var(--ak-color-brand-contrast);
  }
}
