@layer base {
  :root,
  .light,
  .light-theme,
  [data-theme="light"] {
    --ak-color-purple-1: #fdfcff;
    --ak-color-purple-2: #f9f8ff;
    --ak-color-purple-3: #f2efff;
    --ak-color-purple-4: #e9e4ff;
    --ak-color-purple-5: #dfd8ff;
    --ak-color-purple-6: #d3c8ff;
    --ak-color-purple-7: #c1b2ff;
    --ak-color-purple-8: #ac95fb;
    --ak-color-purple-9: #8b5cf6;
    --ak-color-purple-10: #7f4ee7;
    --ak-color-purple-11: #6f43cd;
    --ak-color-purple-12: #371e6b;

    --ak-color-purple-a1: #5500ff03;
    --ak-color-purple-a2: #2500ff07;
    --ak-color-purple-a3: #3000ff10;
    --ak-color-purple-a4: #3000ff1b;
    --ak-color-purple-a5: #2e00ff27;
    --ak-color-purple-a6: #3300ff37;
    --ak-color-purple-a7: #3200ff4d;
    --ak-color-purple-a8: #3801f66a;
    --ak-color-purple-a9: #4a00f1a3;
    --ak-color-purple-a10: #4700ddb1;
    --ak-color-purple-a11: #3c00bbbc;
    --ak-color-purple-a12: #1c0057e1;

    --ak-color-purple-contrast: #fff;
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      :root,
      .light,
      .light-theme,
      [data-theme="light"] {
        --ak-color-purple-1: oklch(99.3% 0.004 292.7);
        --ak-color-purple-2: oklch(98.3% 0.011 292.7);
        --ak-color-purple-3: oklch(96.1% 0.026 292.7);
        --ak-color-purple-4: oklch(93.3% 0.047 292.7);
        --ak-color-purple-5: oklch(90.2% 0.067 292.7);
        --ak-color-purple-6: oklch(86.2% 0.086 292.7);
        --ak-color-purple-7: oklch(80.5% 0.111 292.7);
        --ak-color-purple-8: oklch(73.1% 0.146 292.7);
        --ak-color-purple-9: oklch(60.6% 0.219 292.7);
        --ak-color-purple-10: oklch(56.3% 0.219 292.7);
        --ak-color-purple-11: oklch(51.2% 0.202 292.7);
        --ak-color-purple-12: oklch(31.8% 0.126 292.7);

        --ak-color-purple-a1: color(display-p3 0.349 0.024 1 / 0.012);
        --ak-color-purple-a2: color(display-p3 0.161 0.024 0.863 / 0.028);
        --ak-color-purple-a3: color(display-p3 0.129 0.008 0.941 / 0.063);
        --ak-color-purple-a4: color(display-p3 0.153 0.004 0.929 / 0.106);
        --ak-color-purple-a5: color(display-p3 0.157 0.004 0.925 / 0.153);
        --ak-color-purple-a6: color(display-p3 0.169 0.004 0.929 / 0.216);
        --ak-color-purple-a7: color(display-p3 0.149 0.004 0.937 / 0.299);
        --ak-color-purple-a8: color(display-p3 0.173 0.004 0.898 / 0.412);
        --ak-color-purple-a9: color(display-p3 0.235 0 0.894 / 0.632);
        --ak-color-purple-a10: color(display-p3 0.227 0 0.816 / 0.687);
        --ak-color-purple-a11: color(display-p3 0.192 0 0.694 / 0.73);
        --ak-color-purple-a12: color(display-p3 0.094 0 0.322 / 0.879);

        --ak-color-purple-contrast: #fff;
      }
    }
  }

  .dark,
  .dark-theme,
  [data-theme="dark"] {
    --ak-color-purple-1: #120e1e;
    --ak-color-purple-2: #191429;
    --ak-color-purple-3: #291b4b;
    --ak-color-purple-4: #351f65;
    --ak-color-purple-5: #3e2773;
    --ak-color-purple-6: #493282;
    --ak-color-purple-7: #593f9a;
    --ak-color-purple-8: #6f4fbf;
    --ak-color-purple-9: #8b5cf6;
    --ak-color-purple-10: #7f4ee7;
    --ak-color-purple-11: #bca2ff;
    --ak-color-purple-12: #e2dbff;

    --ak-color-purple-a1: #2400fe0e;
    --ak-color-purple-a2: #602ffd1a;
    --ak-color-purple-a3: #733afc3f;
    --ak-color-purple-a4: #7739ff5a;
    --ak-color-purple-a5: #7f47ff69;
    --ak-color-purple-a6: #8656fd7a;
    --ak-color-purple-a7: #8e61ff93;
    --ak-color-purple-a8: #9165febb;
    --ak-color-purple-a9: #8f5efef6;
    --ak-color-purple-a10: #8b54fee6;
    --ak-color-purple-a11: #bca2ff;
    --ak-color-purple-a12: #e2dbff;

    --ak-color-purple-contrast: #fff;
  }

  @supports (color: color(display-p3 1 1 1)) {
    @media (color-gamut: p3) {
      .dark,
      .dark-theme,
      [data-theme="dark"] {
        --ak-color-purple-1: oklch(17.8% 0.032 292.7);
        --ak-color-purple-2: oklch(20.9% 0.04 292.7);
        --ak-color-purple-3: oklch(26.9% 0.084 292.7);
        --ak-color-purple-4: oklch(31.1% 0.117 292.7);
        --ak-color-purple-5: oklch(34.7% 0.125 292.7);
        --ak-color-purple-6: oklch(38.9% 0.13 292.7);
        --ak-color-purple-7: oklch(44.5% 0.142 292.7);
        --ak-color-purple-8: oklch(52.1% 0.168 292.7);
        --ak-color-purple-9: oklch(60.6% 0.219 292.7);
        --ak-color-purple-10: oklch(56.3% 0.219 292.7);
        --ak-color-purple-11: oklch(77.9% 0.18 292.7);
        --ak-color-purple-12: oklch(91.1% 0.059 292.7);

        --ak-color-purple-a1: color(display-p3 0.071 0 0.992 / 0.051);
        --ak-color-purple-a2: color(display-p3 0.353 0.188 1 / 0.097);
        --ak-color-purple-a3: color(display-p3 0.439 0.255 1 / 0.232);
        --ak-color-purple-a4: color(display-p3 0.451 0.243 1 / 0.337);
        --ak-color-purple-a5: color(display-p3 0.486 0.298 1 / 0.395);
        --ak-color-purple-a6: color(display-p3 0.525 0.361 1 / 0.454);
        --ak-color-purple-a7: color(display-p3 0.545 0.396 0.996 / 0.555);
        --ak-color-purple-a8: color(display-p3 0.561 0.416 1 / 0.706);
        --ak-color-purple-a9: color(display-p3 0.553 0.392 1 / 0.929);
        --ak-color-purple-a10: color(display-p3 0.533 0.353 1 / 0.866);
        --ak-color-purple-a11: color(display-p3 0.741 0.655 1 / 0.975);
        --ak-color-purple-a12: color(display-p3 0.894 0.871 1 / 0.988);

        --ak-color-purple-contrast: #fff;
      }
    }
  }
}
