@layer theme {
  /* -------------------------------------------------------------------------------------------------
   * Button
   * -----------------------------------------------------------------------------------------------*/
  [data-component="button"] {
    background: var(--wui-button-background);
    border: var(--wui-button-border);
    box-shadow: var(--wui-button-box-shadow);
    color: var(--wui-button-color);
    font-weight: var(--wui-button-font-weight);

    &[data-variant="solid"] {
      --wui-button-background: var(--wui-button-solid-background);
      --wui-button-box-shadow: var(--wui-button-solid-box-shadow);
      --wui-button-border: var(--wui-button-solid-border);
      --wui-button-color: var(--wui-button-solid-color);

      &[data-hovered] {
        --wui-button-background: var(
          --wui-button-solid-background-hovered,
          var(--wui-button-solid-background)
        );
        --wui-button-box-shadow: var(
          --wui-button-solid-box-shadow-hovered,
          var(--wui-button-solid-box-shadow)
        );
        --wui-button-border: var(
          --wui-button-solid-border-hovered,
          var(--wui-button-solid-border)
        );
        --wui-button-color: var(
          --wui-button-solid-color-hovered,
          var(--wui-button-solid-color)
        );
      }

      &[data-pressed] {
        --wui-button-background: var(
          --wui-button-solid-background-pressed,
          var(--wui-button-solid-background)
        );
        --wui-button-box-shadow: var(
          --wui-button-solid-box-shadow-pressed,
          var(--wui-button-solid-box-shadow)
        );
        --wui-button-border: var(
          --wui-button-solid-border-pressed,
          var(--wui-button-solid-border)
        );
        --wui-button-color: var(
          --wui-button-solid-color-pressed,
          var(--wui-button-solid-color)
        );
        padding-top: var(--wui-space-1);
      }

      &[data-disabled]:not([data-pending]) {
        --wui-button-background: var(
          --wui-button-solid-background-disabled,
          var(--wui-button-solid-background)
        );
        --wui-button-box-shadow: var(
          --wui-button-solid-box-shadow-disabled,
          var(--wui-button-solid-box-shadow)
        );
        --wui-button-border: var(
          --wui-button-solid-border-disabled,
          var(--wui-button-solid-border)
        );
        --wui-button-color: var(
          --wui-button-solid-color-disabled,
          var(--wui-button-solid-color)
        );
      }
    }

    &[data-variant="soft"] {
      --wui-button-background: var(--wui-button-soft-background);
      --wui-button-box-shadow: var(--wui-button-soft-box-shadow);
      --wui-button-border: var(--wui-button-soft-border);
      --wui-button-color: var(--wui-button-soft-color);

      &[data-hovered] {
        --wui-button-background: var(
          --wui-button-soft-background-hovered,
          var(--wui-button-soft-background)
        );
        --wui-button-box-shadow: var(
          --wui-button-soft-box-shadow-hovered,
          var(--wui-button-soft-box-shadow)
        );
        --wui-button-border: var(
          --wui-button-soft-border-hovered,
          var(--wui-button-soft-border)
        );
        --wui-button-color: var(
          --wui-button-soft-color-hovered,
          var(--wui-button-soft-color)
        );
      }

      &[data-pressed] {
        --wui-button-background: var(
          --wui-button-soft-background-pressed,
          var(--wui-button-soft-background)
        );
        --wui-button-box-shadow: var(
          --wui-button-soft-box-shadow-pressed,
          var(--wui-button-soft-box-shadow)
        );
        --wui-button-border: var(
          --wui-button-soft-border-pressed,
          var(--wui-button-soft-border)
        );
        --wui-button-color: var(
          --wui-button-soft-color-pressed,
          var(--wui-button-soft-color)
        );
      }

      &[data-disabled]:not([data-pending]) {
        --wui-button-background: var(
          --wui-button-soft-background-disabled,
          var(--wui-button-soft-background)
        );
        --wui-button-box-shadow: var(
          --wui-button-soft-box-shadow-disabled,
          var(--wui-button-soft-box-shadow)
        );
        --wui-button-border: var(
          --wui-button-soft-border-disabled,
          var(--wui-button-soft-border)
        );
        --wui-button-color: var(
          --wui-button-soft-color-disabled,
          var(--wui-button-soft-color)
        );
      }
    }

    &[data-variant="outlined"] {
      --wui-button-background: var(--wui-button-outlined-background);
      --wui-button-box-shadow: var(--wui-button-outlined-box-shadow);
      --wui-button-border: var(--wui-button-outlined-border);
      --wui-button-color: var(--wui-button-outlined-color);

      &[data-hovered] {
        --wui-button-background: var(
          --wui-button-outlined-background-hovered,
          var(--wui-button-outlined-background)
        );
        --wui-button-box-shadow: var(
          --wui-button-outlined-box-shadow-hovered,
          var(--wui-button-outlined-box-shadow)
        );
        --wui-button-border: var(
          --wui-button-outlined-border-hovered,
          var(--wui-button-outlined-border)
        );
        --wui-button-color: var(
          --wui-button-outlined-color-hovered,
          var(--wui-button-outlined-color)
        );
      }

      &[data-pressed] {
        --wui-button-background: var(
          --wui-button-outlined-background-pressed,
          var(--wui-button-outlined-background)
        );
        --wui-button-box-shadow: var(
          --wui-button-outlined-box-shadow-pressed,
          var(--wui-button-outlined-box-shadow)
        );
        --wui-button-border: var(
          --wui-button-outlined-border-pressed,
          var(--wui-button-outlined-border)
        );
        --wui-button-color: var(
          --wui-button-outlined-color-pressed,
          var(--wui-button-outlined-color)
        );
        padding-top: var(--wui-space-1);
      }

      &[data-disabled]:not([data-pending]) {
        --wui-button-background: var(
          --wui-button-outlined-background-disabled,
          var(--wui-button-outlined-background)
        );
        --wui-button-box-shadow: var(
          --wui-button-outlined-box-shadow-disabled,
          var(--wui-button-outlined-box-shadow)
        );
        --wui-button-border: var(
          --wui-button-outlined-border-disabled,
          var(--wui-button-outlined-border)
        );
        --wui-button-color: var(
          --wui-button-outlined-color-disabled,
          var(--wui-button-outlined-color)
        );
      }
    }

    &[data-variant="plain"] {
      --wui-button-background: var(--wui-button-plain-background);
      --wui-button-box-shadow: var(--wui-button-plain-box-shadow);
      --wui-button-border: var(--wui-button-plain-border);
      --wui-button-color: var(--wui-button-plain-color);

      &[data-hovered] {
        --wui-button-background: var(
          --wui-button-plain-background-hovered,
          var(--wui-button-plain-background)
        );
        --wui-button-box-shadow: var(
          --wui-button-plain-box-shadow-hovered,
          var(--wui-button-plain-box-shadow)
        );
        --wui-button-border: var(
          --wui-button-plain-border-hovered,
          var(--wui-button-plain-border)
        );
        --wui-button-color: var(
          --wui-button-plain-color-hovered,
          var(--wui-button-plain-color)
        );
      }

      &[data-pressed] {
        --wui-button-background: var(
          --wui-button-plain-background-pressed,
          var(--wui-button-plain-background)
        );
        --wui-button-box-shadow: var(
          --wui-button-plain-box-shadow-pressed,
          var(--wui-button-plain-box-shadow)
        );
        --wui-button-border: var(
          --wui-button-plain-border-pressed,
          var(--wui-button-plain-border)
        );
        --wui-button-color: var(
          --wui-button-plain-color-pressed,
          var(--wui-button-plain-color)
        );
      }

      &[data-disabled]:not([data-pending]) {
        --wui-button-background: var(
          --wui-button-plain-background-disabled,
          var(--wui-button-plain-background)
        );
        --wui-button-box-shadow: var(
          --wui-button-plain-box-shadow-disabled,
          var(--wui-button-plain-box-shadow)
        );
        --wui-button-border: var(
          --wui-button-plain-border-disabled,
          var(--wui-button-plain-border)
        );
        --wui-button-color: var(
          --wui-button-plain-color-disabled,
          var(--wui-button-plain-color)
        );
      }
    }
  }

  /* -------------------------------------------------------------------------------------------------
   * Layout 
   * -----------------------------------------------------------------------------------------------*/
  [data-component="layout"] {
    background: var(--wui-layout-background);

    [data-slot="mask"] {
      background: var(--wui-layout__mask-background);
      opacity: var(--wui-layout__mask-opacity-end);

      @media (prefers-reduced-motion: no-preference) {
        transition: display, opacity;
        transition-duration: var(--wui-duration-3);
        transition-timing-function: ease-in-out;
      }

      @starting-style {
        opacity: var(--wui-layout__mask-opacity-start);
      }
    }

    [data-slot="sidebar"] {
      &:is([data-state="open"], [data-state="closed"]) {
        background: var(--wui-layout__sidebar-background-open-xs);
        border-right: var(--wui-layout__sidebar-border-right-open-xs);
        box-shadow: var(--wui-layout__sidebar-box-shadow-open-xs);

        @media (min-width: 768px) {
          border: var(--wui-layout__sidebar-border-open-lg);
        }
      }

      @media (prefers-reduced-motion: no-preference) {
        transition-property: background, left, top, height;
        transition-duration: var(--wui-duration-4);
        transition-timing-function: var(--wui-bezier-1);
        will-change: left, top, height;
      }

      [data-component="resize-handle"] {
        --wui-layout__resize-handle-width: calc(3px * var(--wui-scale));

        cursor: col-resize;
        height: calc(
          100% -
          var(--wui-layout-content-space) *
          2 -
          var(--wui-space-4) *
          2
        );
        margin-inline: calc(-1 * var(--wui-space-3));
        outline: none;
        padding-inline: var(--wui-space-3);
        position: absolute;
        right: calc(
          -1 *
          var(--wui-layout-content-space) +
          var(--wui-layout__resize-handle-width) /
          2
        );
        top: 50%;
        transform: translateY(-50%);

        [data-slot="thumb"] {
          background: var(--wui-layout__resize-handle-background);
          border-radius: var(--wui-layout__resize-handle-border-radius);
          display: block;
          height: 100%;
          opacity: 0;
          width: var(--wui-layout__resize-handle-width);

          @media (prefers-reduced-motion: no-preference) {
            transition-property: opacity;
            transition-delay: var(--wui-duration-2);
            transition-duration: var(--wui-duration-2);
            transition-timing-function: var(--wui-bezier-1);
          }
        }

        &:is([data-hovered], [data-sidebar-dragging]) {
          [data-slot="thumb"] {
            opacity: var(--wui-layout__resize-handle-opacity-dragging);
          }
        }

        @media (max-width: 768px) {
          display: none;
        }
      }
    }

    [data-slot="content"] {
      background: var(--wui-layout__content-background);

      @media (prefers-reduced-motion: no-preference) {
        &:not([data-sidebar-dragging="true"]) {
          transition-property: padding-left;
          transition-duration: var(--wui-duration-4);
          transition-timing-function: var(--wui-bezier-1);
          will-change: padding-left;
        }
      }
    }

    [data-slot="toggle"] {
      grid-template-columns: 1fr;
      height: var(--wui-button-height, var(--wui-button-md-height));
      isolation: revert;
      justify-items: center;
      padding: 0;
      position: absolute;
      left: var(--wui-space-4);
      opacity: 1;
      width: var(--wui-button-height, var(--wui-button-md-height));

      @media (prefers-reduced-motion: no-preference) {
        transition: display, opacity;
        transition-duration: var(--wui-duration-2);
        transition-timing-function: ease-in-out;
      }

      @starting-style {
        opacity: 0;
      }
    }

    &:has(
        [data-slot="sidebar"]:is([data-state="open"], [data-state="closed"])
      ) {
      [data-component="resize-handle"] {
        display: none;
      }
    }

    &:has([data-slot="sidebar"]:is([data-state="docked"])) {
      [data-slot="toggle"] {
        @media (min-width: 768px) {
          display: none;
        }
      }
    }
  }

  /* -------------------------------------------------------------------------------------------------
   * Link 
   * -----------------------------------------------------------------------------------------------*/
  [data-component="link"] {
    cursor: var(--wui-cursor-linkable, pointer);
    font-family: var(--wui-link-font-family, var(--wui-font-family-sans));
    letter-spacing: var(--wui-link-letter-spacing);
    text-decoration: var(--wui-link-text-decoration);

    &[data-hovered] {
      text-decoration: var(
        --wui-link-text-decoration-hovered,
        var(--wui-link-text-decoration)
      );
    }

    &[data-pressed] {
      text-decoration: var(
        --wui-link-text-decoration-pressed,
        var(--wui-link-text-decoration)
      );
    }

    &[data-current] {
      text-decoration: var(
        --wui-link-text-decoration-current,
        var(--wui-link-text-decoration)
      );
    }

    &[data-disabled] {
      color: var(--wui-typography-normal-color);
      text-decoration: var(
        --wui-link-text-decoration-disabled,
        var(--wui-link-text-decoration)
      );
    }
  }

  /* -------------------------------------------------------------------------------------------------
   * Typography 
   * -----------------------------------------------------------------------------------------------*/
  [data-component="text"],
  [data-component="heading"],
  [data-component="link"] {
    &[data-contrast="low"] {
      color: var(--wui-typography-low-color);
    }

    &[data-contrast="normal"] {
      color: var(--wui-typography-normal-color);
    }

    &[data-contrast="high"] {
      color: var(--wui-typography-high-color);
    }
  }

  [data-component="text"] {
    font-family: var(--wui-text-font-family);
    letter-spacing: var(--wui-text-letter-spacing);
  }

  [data-component="heading"] {
    font-family: var(--wui-heading-font-family);
    letter-spacing: var(--wui-heading-letter-spacing);
  }
}
