@layer theme {
  :where([data-color-scheme="winnie"]) {
    /* -------------------------------------------------------------------------------------------------
    * Button
    * -----------------------------------------------------------------------------------------------*/
    --wui-button-font-weight: var(--wui-font-weight-medium);

    /* Solid */
    --wui-button-solid-background: var(--wui-color-accent-9);
    --wui-button-solid-border-color: transparent;
    --wui-button-solid-box-shadow: 0 -1px 0 1px var(--wui-color-black-a4) inset,
      0 0 0 1px var(--wui-color-black-a4) inset, 0 1px 0 1px
      var(--wui-color-white-a4) inset;
    --wui-button-solid-color: var(--wui-color-accent-contrast);
    --wui-button-solid-font-weight: var(--wui-font-weight-medium);
    --wui-button-solid-background-hovered: var(--wui-color-accent-10);
    --wui-button-solid-background-pressed: oklch(
      from var(--wui-color-accent-10) calc(l * 0.9) c h
    );
    --wui-button-solid-box-shadow-pressed: none;
  }

  /* :where([data-color-scheme="winnie"][data-theme="light"]) {
  }

  :where([data-color-scheme="winnie"][data-theme="dark"]) {
  } */
}
