.showcase-app-layout {
  background: var(--showcase-app-layout__background);

  .showcase-app-layout__mask {
    background: var(--showcase-app-layout__mask-background);
    opacity: 1;

    @media (prefers-reduced-motion: no-preference) {
      transition: display, opacity;
      transition-duration: var(--wui-duration-3);
      transition-timing-function: ease-in-out;
    }

    @starting-style {
      opacity: 0;
    }
  }

  .showcase-app-layout__sidebar {
    &:is([data-state="open"], [data-state="closed"]) {
      background: var(--showcase-app-layout__sidebar-open-background);
      border-right: var(--wui-border-width-1) solid
        var(--showcase-app-layout__sidebar-open-border-color);
      box-shadow: var(--wui-shadow-6);

      @media (min-width: 768px) {
        border: var(--wui-border-width-1) solid
          var(--showcase-app-layout__sidebar-open-border-color);
      }
    }

    @media (prefers-reduced-motion: no-preference) {
      transition-property: background, left, top, height;
      transition-duration: var(--wui-duration-4);
      transition-timing-function: var(--wui-bezier-1);
      will-change: left, top, height;
    }
  }

  .showcase-app-layout__content {
    background: var(--showcase-app-layout__background);

    @media (prefers-reduced-motion: no-preference) {
      transition-property: padding-left;
      transition-duration: var(--wui-duration-4);
      transition-timing-function: var(--wui-bezier-1);
    }

    .showcase-app-layout__page {
      background: var(--showcase-app-layout__page-background);

      @media (min-width: 768px) {
        border: var(--wui-border-width-1) solid
          var(--showcase-app-layout__page-border-color);
        box-shadow: var(--wui-shadow-2);
      }
    }
  }

  .showcase-app-layout__sidebar-open {
    opacity: 1;

    @media (prefers-reduced-motion: no-preference) {
      transition: display, opacity;
      transition-duration: var(--wui-duration-2);
      transition-timing-function: ease-in-out;
    }

    @starting-style {
      opacity: 0;
    }
  }

  .showcase-app-layout__sidebar-close {
    opacity: 1;

    @media (prefers-reduced-motion: no-preference) {
      transition: display, opacity;
      transition-duration: var(--wui-duration-2);
      transition-timing-function: ease-in-out;
    }

    @starting-style {
      opacity: 0;
    }
  }
}

[data-theme="light"] {
  .showcase-app-layout {
    --showcase-app-layout__background: var(--wui-color-grey-2);

    .showcase-app-layout__mask {
      --showcase-app-layout__mask-background: var(--wui-color-black-a2);
    }

    .showcase-app-layout__sidebar {
      --showcase-app-layout__sidebar-open-background: var(--wui-color-white);
      --showcase-app-layout__sidebar-open-border-color: var(--wui-color-grey-6);
    }

    .showcase-app-layout__page {
      --showcase-app-layout__page-background: var(--wui-color-white);
      --showcase-app-layout__page-border-color: var(--wui-color-grey-4);
    }
  }
}

[data-theme="dark"] {
  .showcase-app-layout {
    --showcase-app-layout__background: var(--wui-color-black);

    .showcase-app-layout__mask {
      --showcase-app-layout__mask-background: var(--wui-color-black-a8);
    }

    .showcase-app-layout__sidebar {
      --showcase-app-layout__sidebar-open-background: var(--wui-color-grey-1);
      --showcase-app-layout__sidebar-open-border-color: var(--wui-color-grey-3);
    }

    .showcase-app-layout__page {
      --showcase-app-layout__page-background: var(--wui-color-grey-1);
      --showcase-app-layout__page-border-color: var(--wui-color-grey-3);
    }
  }
}
