.showcase-app-layout {
  background: var(--showcase-app-layout__background);

  .showcase-app-layout__mask {
    background: var(--showcase-app-layout__mask-background);
    opacity: 1;

    @media (prefers-reduced-motion: no-preference) {
      transition: display, opacity;
      transition-duration: var(--wui-duration-3);
      transition-timing-function: ease-in-out;
    }

    @starting-style {
      opacity: 0;
    }
  }

  .showcase-app-layout__sidebar {
    &:is([data-state="open"], [data-state="closed"]) {
      background: var(--showcase-app-layout__sidebar-open-background);
      border-right: var(--wui-border-width-1) solid
        var(--showcase-app-layout__sidebar-open-border-color);
      box-shadow: var(--wui-shadow-6);

      @media (min-width: 768px) {
        border: var(--wui-border-width-1) solid
          var(--showcase-app-layout__sidebar-open-border-color);
      }
    }

    @media (prefers-reduced-motion: no-preference) {
      transition-property: background, left, top, height;
      transition-duration: var(--wui-duration-4);
      transition-timing-function: var(--wui-bezier-1);
      will-change: left, top, height;
    }
  }

  .showcase-app-layout__content {
    background: var(--showcase-app-layout__background);

    @media (prefers-reduced-motion: no-preference) {
      &:not([data-sidebar-dragging="true"]) {
        transition-property: padding-left;
        transition-duration: var(--wui-duration-4);
        transition-timing-function: var(--wui-bezier-1);
        will-change: padding-left;
      }
    }

    .showcase-app-layout__page {
      background: var(--showcase-app-layout__page-background);

      @media (min-width: 768px) {
        border: var(--wui-border-width-1) solid
          var(--showcase-app-layout__page-border-color);
        box-shadow: var(--wui-shadow-2);
      }
    }
  }

  .showcase-app-layout__sidebar-open {
    opacity: 1;

    @media (prefers-reduced-motion: no-preference) {
      transition: display, opacity;
      transition-duration: var(--wui-duration-2);
      transition-timing-function: ease-in-out;
    }

    @starting-style {
      opacity: 0;
    }
  }

  .showcase-app-layout__sidebar-close-button {
    --showcase-sidebar-close-width: calc(3px * var(--wui-scale));

    cursor: col-resize;
    height: calc(
      100% -
      var(--wui-layout-content-space) *
      2 -
      var(--wui-space-4) *
      2
    );
    margin-inline: calc(-1 * var(--wui-space-3));
    outline: none;
    padding-inline: var(--wui-space-3);
    position: absolute;
    right: calc(
      -1 *
      var(--wui-layout-content-space) +
      var(--showcase-sidebar-close-width) /
      2
    );
    top: 50%;
    transform: translateY(-50%);

    span {
      background: var(--showcase-app-layout__sidebar-close-button-background);
      border-radius: var(--wui-border-radius-2);
      display: block;
      height: 100%;
      opacity: 0;
      width: var(--showcase-sidebar-close-width);

      @media (prefers-reduced-motion: no-preference) {
        transition: opacity;
        transition-duration: var(--wui-duration-2);
        transition-timing-function: ease-in-out;
      }
    }

    &:is([data-hovered], [data-sidebar-dragging]) {
      span {
        opacity: 1;
      }
    }

    &[data-focus-visible] {
      span {
        opacity: 1;
        outline: var(--wui-border-width-1) solid var(--wui-color-accent-8);
        outline-offset: 1px;
      }
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &:has(
      .showcase-app-layout__sidebar:is(
          [data-state="open"],
          [data-state="closed"]
        )
    ) {
    .showcase-app-layout__sidebar-close-button {
      display: none;
    }
  }

  &:has(.showcase-app-layout__sidebar:is([data-state="docked"])) {
    .showcase-app-layout__sidebar-open-button {
      @media (min-width: 768px) {
        display: none;
      }
    }
  }
}

[data-theme="light"] {
  .showcase-app-layout {
    --showcase-app-layout__background: var(--wui-color-grey-3);

    .showcase-app-layout__mask {
      --showcase-app-layout__mask-background: var(--wui-color-black-a2);
    }

    .showcase-app-layout__sidebar {
      --showcase-app-layout__sidebar-open-background: var(--wui-color-white);
      --showcase-app-layout__sidebar-open-border-color: var(--wui-color-grey-6);

      .showcase-app-layout__sidebar-close-button {
        --showcase-app-layout__sidebar-close-button-background: var(
          --wui-color-grey-9
        );
      }
    }

    .showcase-app-layout__page {
      --showcase-app-layout__page-background: var(--wui-color-white);
      --showcase-app-layout__page-border-color: var(--wui-color-grey-4);
    }
  }
}

[data-theme="dark"] {
  .showcase-app-layout {
    --showcase-app-layout__background: var(--wui-color-black);

    .showcase-app-layout__mask {
      --showcase-app-layout__mask-background: var(--wui-color-black-a8);
    }

    .showcase-app-layout__sidebar {
      --showcase-app-layout__sidebar-open-background: var(--wui-color-grey-1);
      --showcase-app-layout__sidebar-open-border-color: var(--wui-color-grey-3);

      .showcase-app-layout__sidebar-close-button {
        --showcase-app-layout__sidebar-close-button-background: var(
          --wui-color-grey-9
        );
      }
    }

    .showcase-app-layout__page {
      --showcase-app-layout__page-background: var(--wui-color-grey-1);
      --showcase-app-layout__page-border-color: var(--wui-color-grey-3);
    }
  }
}
