.ace {
  .ace-radio-group {
    display: flex;
    justify-content: center;
    gap: var(--wui-space-2);
    margin-bottom: var(--wui-space-5);

    .ace-radio-item {
      aspect-ratio: 2 / 1;
      background: var(--wui-color-accent-8);
      border-radius: var(--wui-border-radius-3);
      display: block;
      height: calc(20px * var(--wui-scale));
      transition: transform var(--wui-duration-2) var(--wui-bezier-1);

      &[data-hovered] {
        background: var(--wui-color-accent-9);
        transform: scaleY(1.1);
      }

      &[data-selected] {
        background: var(--wui-color-accent-10);
        transform: scaleY(1.2);
      }

      span {
        height: 100%;
        width: 100%;
      }
    }
  }

  .ace-content {
    --ace-content-height: 500px;

    display: flex;
    justify-content: center;
    position: relative;
    height: var(--ace-content-height);

    .ace-content-curtain {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 0;

      &[data-state="hidden"] {
        display: none;
      }

      &[data-state="visible"] {
        display: block;
      }

      &[data-state="exiting"] {
        animation-name: wui-curtain;
        animation-duration: var(--wui-duration-5);
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        z-index: 1;
      }

      .ace-content-example {
        align-items: center;
        background: linear-gradient(
          to bottom right,
          var(--wui-color-accent-9),
          var(--wui-color-accent-7)
        );
        border: var(--wui-border-width-1) solid var(--wui-color-accent-4);
        border-radius: min(var(--wui-border-radius-3), 15px);
        display: flex;
        height: var(--ace-content-height);
        justify-content: center;
        padding: var(--wui-space-9);

        .ace-example {
          --padding-inline: var(--wui-space-6);
          background: var(--wui-color-white);
          border: var(--wui-border-width-1) solid var(--wui-color-grey-4);
          border-radius: min(var(--wui-border-radius-3), 15px);
          box-shadow: var(--wui-shadow-3);
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 100%;

          .ace-example-header {
            flex-shrink: 0;
            padding-inline: var(--padding-inline);
            padding-block: var(--wui-space-6);

            .ace-example-title {
              color: var(--wui-color-grey-12);
              font-size: var(--wui-font-size-5);
              line-height: var(--wui-line-height-7);
              font-weight: var(--wui-font-weight-semibold);
            }

            .ace-example-description {
              color: var(--wui-color-grey-11);
              font-size: var(--wui-font-size-3);
            }
          }

          .ace-example-chart {
            flex: 1;
            flex-shrink: 0;
            padding: var(--padding-inline);
            width: 100%;
          }
        }
      }
    }
  }
}

@keyframes wui-curtain {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  100% {
    clip-path: polygon(120% 0%, 100% 0, 100% 100%, 100% 100%);
  }
}
