.chart {
	outline: none;

	.recharts-surface {
		outline: none;
	}
}

.chart-axis {
	background: red;

	.recharts-cartesian-axis-tick {
		color: red;
	}
}

.chart-tooltip-content {
	background: var(--chart-tooltip-background);
	border: var(--wui-border-width-1) solid var(--chart-tooltip-border-color);
	border-radius: min(var(--wui-border-radius-2), 10px);
	box-shadow: var(--wui-shadow-2);
	padding: var(--wui-space-3);

	.chart-tooltip-label {
		color: var(--wui-color-grey-12);
		font-weight: var(--wui-font-weight-medium);
		font-size: var(--wui-font-size-2);
	}

	.chart-tooltip-item-list {
		display: flex;
		flex-direction: column;
		gap: var(--wui-space-2);
		margin-top: var(--wui-space-4);

		.chart-tooltip-item {
			align-items: center;
			color: var(--wui-color-grey-11);
			font-size: var(--wui-font-size-1);
			gap: var(--wui-space-2);
			display: flex;

			.chart-tooltip-item-indicator {
				--size: var(--wui-font-size-2);

				background: var(--item-background);
				border-radius: var(--wui-border-radius-1);
				height: var(--size);
				width: var(--size);
			}
		}
	}
}

:where([data-theme="light"]) {
	.chart {
		--chart-layer-1-background: var(--wui-color-accent-4);
		--chart-layer-1-border-color: var(--wui-color-accent-7);
		--chart-layer-2-background: var(--wui-color-accent-6);
		--chart-layer-2-border-color: var(--wui-color-accent-7);
	}

	.chart-tooltip-content {
		--chart-tooltip-background: var(--wui-color-white);
		--chart-tooltip-border-color: var(--wui-color-grey-5);
	}
}

:where([data-theme="dark"]) {
	.chart {
		--chart-layer-1-background: var(--wui-color-accent-4);
		--chart-layer-1-border-color: var(--wui-color-accent-9);
		--chart-layer-2-background: var(--wui-color-accent-6);
		--chart-layer-2-border-color: var(--wui-color-accent-11);
	}

	.chart-tooltip-content {
		--chart-tooltip-background: var(--wui-color-grey-2);
		--chart-tooltip-border-color: var(--wui-color-grey-4);
	}
}
