.color-chip {
  height: 40px;
  width: 100%;

  .color-chip-button {
    background: var(--wui-color-white);
    border: var(--wui-border-width-1) solid var(--wui-color-grey-4);
    border-radius: var(--wui-border-radius-3);
    box-shadow: var(--wui-shadow-1);
    padding: var(--wui-space-2);
    perspective: 1000px;
    transform-origin: center center;
    transition-property: transform, box-shadow;
    transition-duration: var(--wui-duration-3);
    transition-timing-function: var(--wui-bezier-1);
    height: 100%;
    width: 100%;

    &:is(:hover, :focus-visible) {
      box-shadow: var(--wui-shadow-2);
      transform: scale(1.1);
    }

    &:focus-visible {
      outline: var(--wui-border-width-2) solid var(--wui-color-accent-7);
      outline-offset: 2px;
    }

    &:active {
      box-shadow: none;
      transform: scale(1);
    }

    .color-chip-demo {
      background-image: linear-gradient(
          45deg,
          var(--wui-color-grey-2) 25%,
          transparent 25%
        ),
        linear-gradient(135deg, var(--wui-color-grey-2) 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, var(--wui-color-grey-2) 75%),
        linear-gradient(135deg, transparent 75%, var(--wui-color-grey-2) 75%);
      background-size: 16px 16px;
      background-position:
        0px 0px,
        8px 0px,
        8px -8px,
        0px 8px;
      border-radius: calc(var(--wui-border-radius-3) - var(--wui-space-2));
      height: 100%;
      width: 100%;

      .color-chip-color {
        border-radius: calc(var(--wui-border-radius-3) - var(--wui-space-2));
        background: var(--wui-paint-chip-background);
        height: 100%;
        width: 100%;
      }
    }
  }
}
