.se {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: var(--wui-space-5);
	width: 100%;

	.se-radio-group {
		align-items: center;
		display: flex;
		gap: var(--wui-space-3);

		.se-radio-item {
			border: var(--wui-border-width-1) solid transparent;
			border-radius: var(--wui-border-radius-2);
			color: var(--wui-color-grey-11);
			font-size: var(--wui-font-size-2);
			padding: var(--wui-space-2);

			&[data-hovered] {
				background: var(--wui-color-grey-3);
			}

			&[data-pressed] {
				background: var(--wui-color-grey-4);
			}

			&[data-focus-visible] {
				outline: var(--wui-border-width-2) solid var(--wui-color-accent-8);
			}

			&[data-selected] {
				background: var(--wui-color-accent-4);
				border-color: var(--wui-color-accent-6);
			}
		}
	}

	.se-content {
		width: 100%;

		.movie {
			--border-radius: var(--wui-border-radius-3);

			align-items: flex-start;
			background: var(--wui-color-grey-2);
			border: var(--wui-border-width-1) solid var(--wui-color-grey-6);
			border-radius: var(--border-radius);
			box-shadow: var(--wui-shadow-2);
			display: flex;
			gap: var(--wui-space-5);
			padding: var(--wui-space-5);
			width: 100%;

			.movie-poster {
				max-height: calc(115px * var(--wui-scale));
				border-radius: calc(var(--border-radius) - var(--wui-space-2));
			}

			.movie-content {
				display: flex;
				flex-direction: column;
				gap: var(--wui-space-2);
				height: 100%;
				padding: var(--wui-space-2);
				padding-left: 0;

				.movie-title {
					color: var(--wui-color-grey-12);
					line-height: 1;
					font-size: var(--wui-font-size-3);
					font-weight: var(--wui-font-weight-bold);
				}

				.movie-summary {
					color: var(--wui-color-grey-11);
					line-height: var(--wui-line-height-2);
					font-size: var(--wui-font-size-2);
				}

				.movie-info {
					align-items: center;
					display: flex;
					gap: var(--wui-space-3);
					margin-top: var(--wui-space-1);

					.movie-rating {
						border: var(--wui-border-width-1) solid var(--wui-color-grey-7);
						border-radius: var(--wui-border-radius-2);
						color: var(--wui-color-grey-11);
						font-size: var(--wui-font-size-1);
						font-weight: var(--wui-font-weight-medium);
						line-height: 1;
						padding: var(--wui-space-2);
						text-transform: uppercase;
					}

					.movie-year {
						color: var(--wui-color-grey-11);
						font-size: var(--wui-font-size-2);
						font-weight: var(--wui-font-weight-medium);
					}
				}
			}
		}
	}
}
