---
import type { NavigationItem } from "./components/navigation/types";
import { ThemePickerPopover } from "./components/theme-picker/theme-picker-popover";
import { Navigation } from "./components/navigation/navigation";

type Props = {
  slug: string;
};

const navigation = [
  {
    label: "Getting Started",
    link: "/css/docs/getting-started",
  },
  {
    label: "Tailwind",
    link: "/css/docs/tailwind",
  },
  {
    label: "Concepts",
    items: [
      {
        label: "Colors",
        link: "/css/docs/concepts/colors",
      },
      {
        label: "Layers",
        link: "/css/docs/concepts/layers",
      },
      {
        label: "Radius",
        link: "/css/docs/concepts/radius",
      },
      {
        label: "Scaling",
        link: "/css/docs/concepts/scaling",
      },
    ],
  },
  {
    label: "Reference",
    items: [
      {
        label: "Animation Duration",
        link: "/css/docs/reference/animation-duration",
      },
      {
        label: "Animation Timing Function",
        link: "/css/docs/reference/animation-timing-function",
      },
      {
        label: "Border Radius",
        link: "/css/docs/reference/border-radius",
      },
      {
        label: "Border Width",
        link: "/css/docs/reference/border-width",
      },
      {
        label: "Color",
        link: "/css/docs/reference/color",
      },
      {
        label: "Font Family",
        link: "/css/docs/reference/font-family",
      },
      {
        label: "Font Size",
        link: "/css/docs/reference/font-size",
      },
      {
        label: "Font Weight",
        link: "/css/docs/reference/font-weight",
      },
      {
        label: "Keyframes",
        link: "/css/docs/reference/keyframes",
      },
      {
        label: "Letter Spacing",
        link: "/css/docs/reference/letter-spacing",
      },
      {
        label: "Line Height",
        link: "/css/docs/reference/line-height",
      },
      {
        label: "Shadow",
        link: "/css/docs/reference/shadow",
      },
      {
        label: "Space",
        link: "/css/docs/reference/space",
      },
    ],
  },
] satisfies NavigationItem[];
---

<nav
  class="wui-docs-sidebar fixed flex h-full w-[calc(var(--wui-docs-layout-sidebar-width)-calc(16px*var(--wui-scale)))] flex-col bg-[var(--wui-docs-layout-background)] pb-6"
>
  <div class="flex pt-6 pb-6 pl-6">
    <div class="flex flex-1 items-center gap-4">
      <span class="text-3 text-grey-12 tracking-9 font-medium">Winnie</span>
      <span class="bg-grey-8 h-5 w-[1px]"></span>
      <span class="text-3 text-grey-11">Docs</span>
    </div>
    <ThemePickerPopover client:load />
  </div>
  <Navigation
    client:load
    transition:persist
    items={navigation}
    slug={Astro.props.slug}
  />
</nav>
