---
import { ThemePickerPopover } from "./theme-picker-popover";
---

<nav class="wui-docs-sidebar">
  <div class="wui-docs-sidebar-header">
    <div class="wui-docs-logo-container">
      <span class="wui-docs-logo">Winnie</span>
      <span class="wui-docs-separator"></span>
      <span class="wui-docs-info">Docs</span>
    </div>
    <ThemePickerPopover client:load />
  </div>
  <div>
    <ul>
      <li>
        <button>Overview</button>
        <ul>
          <li>Getting Started</li>
        </ul>
      </li>
    </ul>
  </div>
  Sidebar
</nav>

<style>
  .wui-docs-sidebar {
    background: var(--wui-docs-layout-background);
    height: 100%;
    position: fixed;
    width: calc(var(--wui-docs-layout-sidebar-width) - 16px);

    .wui-docs-sidebar-header {
      display: flex;
      padding: var(--wui-space-6);
      padding-right: 0px;
      padding-top: var(--wui-space-5);

      .wui-docs-logo-container {
        align-items: center;
        display: flex;
        flex: 1;
        gap: var(--wui-space-4);

        .wui-docs-logo {
          color: var(--wui-color-grey-12);
          font-size: var(--wui-font-size-3);
          font-weight: var(--wui-font-weight-bold);
        }

        .wui-docs-separator {
          background: var(--wui-color-grey-6);
          height: 20px;
          width: 1px;
        }

        .wui-docs-info {
          color: var(--wui-color-grey-11);
          font-size: var(--wui-font-size-3);
        }
      }
    }
  }
</style>
