---
import type { NavigationItem } from "./components/navigation/types";
import { ThemePickerPopover } from "./components/theme-picker/theme-picker-popover";
import { Navigation } from "./components/navigation/navigation";

type Props = {
  slug: string;
};

const navigation = [
  {
    label: "Getting Started",
    items: [
      {
        label: "Quick Start",
        link: "/css/docs/start/quick-start",
      },
      {
        label: "Integrating with Tailwind",
        link: "/css/docs/start/integrating-with-tailwind",
      },
    ],
  },
  {
    label: "Concepts",
    items: [
      {
        label: "Colors",
        link: "/css/docs/concepts/colors",
      },
      {
        label: "Layers",
        link: "/css/docs/concepts/layers",
      },
      {
        label: "Radius",
        link: "/css/docs/concepts/radius",
      },
      {
        label: "Scaling",
        link: "/css/docs/concepts/scaling",
      },
    ],
  },
  {
    label: "Reference",
    items: [
      {
        label: "Animation Duration",
        link: "/css/docs/reference/animation-duration",
      },
      {
        label: "Animation Timing Function",
        link: "/css/docs/reference/animation-timing-function",
      },
      {
        label: "Border Radius",
        link: "/css/docs/reference/border-radius",
      },
      {
        label: "Border Width",
        link: "/css/docs/reference/border-width",
      },
      {
        label: "Color",
        link: "/css/docs/reference/color",
      },
      {
        label: "Font Family",
        link: "/css/docs/reference/font-family",
      },
      {
        label: "Font Size",
        link: "/css/docs/reference/font-size",
      },
      {
        label: "Font Weight",
        link: "/css/docs/reference/font-weight",
      },
      {
        label: "Keyframes",
        link: "/css/docs/reference/keyframes",
      },
      {
        label: "Letter Spacing",
        link: "/css/docs/reference/letter-spacing",
      },
      {
        label: "Line Height",
        link: "/css/docs/reference/line-height",
      },
      {
        label: "Shadow",
        link: "/css/docs/reference/shadow",
      },
      {
        label: "Space",
        link: "/css/docs/reference/space",
      },
    ],
  },
] satisfies NavigationItem[];
---

<nav class="wui-docs-sidebar">
  <div class="wui-docs-sidebar-header">
    <div class="wui-logo">
      <span class="wui-logo-company">Winnie</span>
      <span class="wui-logo-separator"></span>
      <span class="wui-logo-app">Docs</span>
    </div>
    <ThemePickerPopover client:load />
  </div>
  <Navigation
    client:load
    transition:persist
    transition:animate="none"
    items={navigation}
    slug={Astro.props.slug}
  />
</nav>

<style>
  .wui-docs-sidebar {
    background: var(--wui-docs-layout-background);
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: var(--wui-space-6);
    position: fixed;
    width: calc(
      var(--wui-docs-layout-sidebar-width) - calc(16px * var(--wui-scale))
    );

    .wui-docs-sidebar-header {
      display: flex;
      padding-bottom: var(--wui-space-6);
      padding-left: var(--wui-space-6);
      padding-top: var(--wui-space-6);

      .wui-logo {
        align-items: center;
        display: flex;
        flex: 1;
        gap: var(--wui-space-4);

        .wui-logo-company {
          color: var(--wui-color-grey-12);
          letter-spacing: var(--wui-letter-spacing-9);
          font-size: var(--wui-font-size-3);
          font-weight: var(--wui-font-weight-medium);
        }

        .wui-logo-separator {
          background: var(--wui-color-grey-8);
          height: var(--wui-space-5);
          width: 1px;
        }

        .wui-logo-app {
          color: var(--wui-color-grey-11);
          font-size: var(--wui-font-size-3);
        }
      }
    }
  }
</style>
