.search-trigger {
  align-items: center;
  background: var(--wui-color-grey-1);
  border: var(--wui-border-width-1) solid var(--wui-color-grey-4);
  border-radius: var(--wui-border-radius-3);
  display: flex;
  height: calc(34px * var(--wui-scale));
  flex-shrink: 0;
  padding-left: var(--wui-space-3);
  padding-right: var(--wui-space-2);
  width: 100%;

  .search-trigger-text-container {
    align-items: center;
    color: var(--wui-color-grey-11);
    display: flex;
    flex: 1;
    font-size: var(--wui-font-size-2);
    gap: var(--wui-space-2);

    & > svg {
      --size: var(--wui-font-size-3);
      height: var(--size);
      width: var(--size);
    }
  }

  .search-trigger-kbd {
    --size: calc(22px * var(--wui-scale));
    align-items: center;
    background: var(--wui-color-white);
    border: var(--wui-border-width-1) solid var(--wui-color-grey-4);
    border-radius: calc(var(--wui-border-radius-3) - var(--wui-space-2));
    color: var(--wui-color-grey-11);
    display: flex;
    justify-content: center;
    line-height: 0;
    height: var(--size);
    width: var(--size);
  }

  &[data-hovered] {
    background: var(--wui-color-white);
    box-shadow: var(--wui-shadow-1);

    .search-trigger-text-container {
      & > svg {
        color: var(--wui-color-black);
      }
    }
  }

  &[data-focus-visible] {
    outline: var(--wui-border-width-2) solid var(--wui-color-accent-9);
  }

  &[data-pressed] {
    box-shadow: none;
  }
}

.search-modal-overlay {
  align-items: center;
  background: var(--wui-color-white-a7);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  left: 0;
  height: var(--visual-viewport-height);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  &[data-entering] {
    animation: wui-fade-in var(--wui-duration-3) var(--wui-bezier-1);
  }

  @media (min-width: 768px) {
    padding-top: 200px;
  }

  .search-modal {
    background: var(--wui-color-white);
    border-radius: min(var(--wui-border-radius-5), 20px);
    border: var(--wui-border-width-1) solid var(--wui-color-grey-2);
    box-shadow: var(--wui-shadow-5);
    max-height: calc(100% - var(--wui-space-4) * 2);
    min-width: calc(100% - var(--wui-space-4) * 2);
    position: relative;
    transform-origin: center center;

    &[data-entering] {
      animation: wui-slide-down-enter var(--wui-duration-3) var(--wui-bezier-1);
    }

    @media (min-width: 768px) {
      max-height: 85dvh;
      min-width: 400px;
      max-width: 600px;
      width: 100%;
    }

    .search-command-menu-input-container {
      align-items: center;
      display: flex;
      justify-content: center;
      gap: var(--wui-space-3);
      color: var(--wui-color-grey-11);
      padding: var(--wui-space-4);

      & > svg {
        --size: var(--wui-font-size-4);

        height: var(--size);
        width: var(--size);
      }

      .search-command-menu-input {
        font-size: var(--wui-font-size-3);
        font-family: var(--wui-font-family-sans);
        width: 100%;

        &:placeholder {
          color: var(--wui-color-grey-11);
        }
      }
    }

    .search-command-menu-list {
      border-top: var(--wui-border-width-1) solid var(--wui-color-grey-3);
      max-height: 400px;
      overflow: auto;
      padding: var(--wui-space-3);
      overscroll-behavior: contain;
      scroll-padding-block: var(--wui-space-3);

      .search-command-menu-empty {
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: var(--wui-space-2);
        padding: var(--wui-space-5);

        .search-command-menu-empty-title {
          color: var(--wui-color-grey-12);
          font-size: var(--wui-font-size-3);
          font-weight: var(--wui-font-weight-medium);
          margin-top: var(--wui-space-3);
          text-align: center;
        }

        .search-command-menu-empty-description {
          color: var(--wui-color-grey-11);
          font-size: var(--wui-font-size-2);
          text-align: center;
        }
      }

      .search-command-menu-item {
        border-radius: min(var(--wui-border-radius-3), 12px);
        color: var(--wui-color-grey-11);
        display: flex;
        flex-direction: column;
        font-family: var(--wui-font-family-sans);
        font-size: var(--wui-font-size-2);
        padding-inline: var(--wui-space-3);
        padding-block: var(--wui-space-3);

        &[data-selected="true"] {
          background: var(--wui-color-grey-3);
        }

        .search-command-menu-item-title {
          color: var(--wui-color-grey-12);
          font-size: var(--wui-font-size-2);
          font-weight: var(--wui-font-weight-medium);
          line-height: var(--wui-line-height-3);
        }

        .search-command-menu-item-description {
          font-size: var(--wui-font-size-2);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        mark {
          border-radius: min(var(--wui-border-radius-2), 4px);
          background: var(--wui-color-accent-a4);
          color: var(--wui-color-grey-12);
          font-weight: var(--wui-font-weight-medium);
        }
      }
    }
  }
}
