<script>
  const bodyStyles = getComputedStyle(document.body).getPropertyValue(
    "--ak-color-red-1",
  );
</script>

<ul class="paint-chips not-content">
  {
    ["grey", "red", "orange", "yellow", "green", "blue", "purple", "pink"].map(
      (color) => {
        return (
          <li class="paint-chip-list-item" data-accent-color={color}>
            <span class="paint-chip-list-item-title">{color}</span>
            <ul class="paint-chip-list-item-list">
              {[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12].map((swatch) => {
                return (
                  <li class="paint-chip-swatch-container">
                    <div class="paint-chip-swatch" data-swatch={swatch} />
                    <div class="paint-chip-swatch-number">{swatch}</div>
                  </li>
                );
              })}
            </ul>
          </li>
        );
      },
    )
  }
</ul>

<style>
  .paint-chips {
    display: flex;
    flex-direction: column;
    gap: var(--ak-space-4);
    padding: 0;
    overflow-x: auto;

    .paint-chip-list-item {
      display: flex;
      flex-direction: column;
      gap: var(--ak-space-3);

      .paint-chip-list-item-title {
        color: var(--ak-color-grey-12);
        font-size: var(--ak-font-size-2);
        font-weight: var(--ak-font-weight-medium);
        text-transform: capitalize;
      }

      .paint-chip-list-item-list {
        align-items: center;
        display: flex;
        gap: var(--ak-space-3);
        list-style: none;
        margin: 0;
        padding: 0;

        .paint-chip-swatch-container {
          .paint-chip-swatch {
            align-items: flex-end;
            background: var(--swatch-background);
            border: var(--ak-border-width-1) solid var(--swatch-border);
            border-radius: var(--ak-border-radius-3);
            color: var(--ak-color-grey-12);
            display: flex;
            font-size: var(--ak-font-size-1);
            height: 48px;
            line-height: 1;
            padding: var(--ak-space-2);
            width: 48px;

            &[data-swatch="1"] {
              --swatch-background: var(--ak-accent-color-1);
              --swatch-border: var(--ak-accent-color-4);
            }

            &[data-swatch="2"] {
              --swatch-background: var(--ak-accent-color-2);
              --swatch-border: var(--ak-accent-color-4);
            }

            &[data-swatch="3"] {
              --swatch-background: var(--ak-accent-color-3);
              --swatch-border: var(--ak-accent-color-4);
            }

            &[data-swatch="4"] {
              --swatch-background: var(--ak-accent-color-4);
            }

            &[data-swatch="5"] {
              --swatch-background: var(--ak-accent-color-5);
            }

            &[data-swatch="6"] {
              --swatch-background: var(--ak-accent-color-6);
            }

            &[data-swatch="7"] {
              --swatch-background: var(--ak-accent-color-7);
            }

            &[data-swatch="8"] {
              --swatch-background: var(--ak-accent-color-8);
            }

            &[data-swatch="9"] {
              --swatch-background: var(--ak-accent-color-9);
            }

            &[data-swatch="10"] {
              --swatch-background: var(--ak-accent-color-10);
            }

            &[data-swatch="11"] {
              --swatch-background: var(--ak-accent-color-11);
            }

            &[data-swatch="12"] {
              --swatch-background: var(--ak-accent-color-12);
            }
          }

          .paint-chip-swatch-number {
            font-size: var(--ak-font-size-1);
          }
        }
      }
    }
  }
</style>
