<button class="sign-up-button">Sign up</button>

<style>
  .sign-up-button {
    background: var(--go-color-accent-9);
    border-radius: var(--go-border-radius-2);
    color: var(--go-color-accent-contrast);
    height: 32px;
    line-height: 1;
    padding: var(--go-space-3);
  }
</style>
