---
type Props = {
  class?: string;
};

const props = Astro.props;
---

<button class={`${props.class} winnie-ui-button`}><slot /></button>

<style>
  .winnie-ui-button {
    background: linear-gradient(
      to bottom,
      var(--wui-color-accent-9),
      var(--wui-color-accent-10)
    );
    border: var(--wui-border-width-1) solid var(--wui-color-accent-9);
    border-radius: var(--wui-border-radius-3);
    box-shadow:
      inset 0 -1px 1px 0px var(--wui-color-black-a6),
      inset 0 1px 1px 0px var(--wui-color-white-a9);
    color: var(--wui-color-accent-contrast);
    font-size: var(--wui-font-size-2);
    font-weight: var(--wui-font-weight-medium);
    height: 32px;
    padding-inline: var(--wui-space-3);
    text-shadow: 0 0.5px var(--wui-color-black-a9);
    white-space: nowrap;

    &:hover {
      background: var(--wui-color-accent-10);
    }

    &:focus-visible {
      background: var(--wui-color-accent-10);
      border-color: var(--wui-color-accent-10);
      outline: var(--wui-border-width-2) solid var(--wui-color-accent-10);
      outline-offset: var(--wui-space-1);
    }

    &:active {
      background: var(--wui-color-accent-10);
      border-color: var(--wui-color-accent-10);
      box-shadow:
        inset 0 -1px 1px 0px var(--wui-color-white-a7),
        inset 0 1px 1px 0px var(--wui-color-black-a6);
      padding-top: 1px;
      text-shadow: none;
    }
  }
</style>
