---
import { Check, User } from "lucide-react";
---

<div class="demo-listbox-description">
  <div class="demo-listbox-container">
    <ul
      data-component="listbox"
      class="demo-listbox not-content"
      data-mode="selection"
    >
      <li data-component="listbox-item">
        <Check data-component="indicator" />
        <div data-component="group">
          <span data-component="label">Read</span>
          <span data-component="description">Read only</span>
        </div>
        <kbd data-component="shortcut">R</kbd>
      </li>
      <li data-component="listbox-item">
        <div data-component="group">
          <span data-component="label">Write</span>
          <span data-component="description">Read and write only</span>
        </div>
        <kbd data-component="shortcut">W</kbd>
      </li>
      <li data-component="listbox-item">
        <div data-component="group">
          <span data-component="label">Admin</span>
          <span data-component="description">Full Access</span>
        </div>
        <kbd data-component="shortcut">A</kbd>
      </li>
    </ul>
  </div>

  <div class="demo-listbox-container">
    <ul data-component="listbox" class="demo-listbox not-content">
      <li data-component="listbox-item">
        <User data-component="icon" />
        <div data-component="group" data-orientation="horizontal">
          <span data-component="label">Adam Aho</span>
          <span data-component="description">@theadamaho</span>
        </div>
      </li>
      <li data-component="listbox-item">
        <User data-component="icon" />
        <div data-component="group" data-orientation="horizontal">
          <span data-component="label">Dax</span>
          <span data-component="description">@thdxr</span>
        </div>
      </li>
      <li data-component="listbox-item">
        <User data-component="icon" />
        <div data-component="group" data-orientation="horizontal">
          <span data-component="label">Adam Wathan</span>
          <span data-component="description">@adamwathan</span>
        </div>
      </li>
    </ul>
  </div>

  <div class="demo-listbox-container">
    <ul data-component="listbox" class="demo-listbox not-content">
      <li data-component="listbox-item">
        <Check data-component="indicator" />
        <span data-component="label">Read</span>
        <span data-component="description">Read only</span>
      </li>
      <li data-component="listbox-item">
        <span data-component="label">Write</span>
        <span data-component="description">Read and write only</span>
      </li>
      <li data-component="listbox-item">
        <span data-component="label">Admin</span>
        <span data-component="description">Read and write only</span>
      </li>
    </ul>
  </div>
</div>

<style>
  .demo-listbox-description {
    display: flex;
    flex-direction: column;
    gap: var(--wui-space-6);
  }
</style>
