<div class="demo-listbox-container">
  <ul data-component="listbox" class="demo-listbox not-content" data-size="md">
    <li data-component="listbox-item">
      <span data-component="label">Edit</span>
      <kbd data-component="shortcut">
        <kbd>⌘</kbd>
        <kbd>E</kbd>
      </kbd>
    </li>
    <li data-component="listbox-item">
      <span data-component="label">Duplicate</span>
      <kbd data-component="shortcut">
        <kbd>⌘</kbd>
        <kbd>D</kbd>
      </kbd>
    </li>
    <div data-component="separator"></div>
    <li data-component="listbox-item">
      <span data-component="label">Archive</span>
      <kbd data-component="shortcut">
        <kbd>⇧</kbd>
        <kbd>⌘</kbd>
        <kbd>⌫</kbd>
      </kbd>
    </li>
  </ul>
</div>
