<div class="demo-container">
  <div class="demo-listbox-container">
    <ul
      data-component="listbox"
      class="demo-listbox not-content"
      data-size="sm"
    >
      <li data-component="listbox-item">
        <span data-component="label">Edit</span>
      </li>
      <li data-component="listbox-item">
        <span data-component="label">Duplicate</span>
      </li>
      <div data-component="separator"></div>
      <li data-component="listbox-item">
        <span data-component="label">Archive</span>
      </li>
    </ul>
  </div>
  <div class="demo-listbox-container">
    <ul
      data-component="listbox"
      class="demo-listbox not-content"
      data-size="md"
    >
      <li data-component="listbox-item">
        <span data-component="label">Edit</span>
      </li>
      <li data-component="listbox-item">
        <span data-component="label">Duplicate</span>
      </li>
      <div data-component="separator"></div>
      <li data-component="listbox-item">
        <span data-component="label">Archive</span>
      </li>
    </ul>
  </div>
  <div class="demo-listbox-container">
    <ul
      data-component="listbox"
      class="demo-listbox not-content"
      data-size="lg"
    >
      <li data-component="listbox-item">
        <span data-component="label">Edit</span>
      </li>
      <li data-component="listbox-item">
        <span data-component="label">Duplicate</span>
      </li>
      <div data-component="separator"></div>
      <li data-component="listbox-item">
        <span data-component="label">Archive</span>
      </li>
    </ul>
  </div>
</div>

<style>
  .demo-container {
    align-items: flex-start;
    display: flex;
    gap: var(--wui-space-7);
  }
</style>
