---
import { Dot } from "lucide-react";
---

<div class="demo-listbox-container">
  <ul data-component="listbox" class="demo-listbox not-content demo-indicator">
    <section data-component="section">
      <header data-component="header">
        <span data-component="label">Colors</span>
      </header>
      <li data-component="listbox-item">
        <Dot data-component="indicator" />
        <span data-component="label">Red</span>
      </li>
      <li data-component="listbox-item">
        <span data-component="label">Green</span>
      </li>
      <li data-component="listbox-item">
        <span data-component="label">Blue</span>
      </li>
    </section>
    <div data-component="separator"></div>
    <section data-component="section">
      <header data-component="header">
        <span data-component="label">Animals</span>
      </header>
      <li data-component="listbox-item">
        <span data-component="label">Cat</span>
      </li>
      <li data-component="listbox-item">
        <span data-component="label">Dog</span>
      </li>
      <li data-component="listbox-item">
        <Dot data-component="indicator" />
        <span data-component="label">Elephant</span>
      </li>
    </section>
  </ul>
</div>

<style>
  .demo-indicator {
    [data-component="indicator"] {
      height: 18px;
    }
  }
</style>
