<html
  lang="en"
  class="winnie-ui"
  data-accent-color="brand"
  data-radius="md"
  data-scale="100%"
  data-theme="light"
>
  <head>
    <slot name="head" />
  </head>
  <body
    class="bg-white-a9 dark:bg-black-a9 [--wui-docs-layout-background:var(--wui-color-accent-1)] [--wui-docs-layout-sidebar-width:calc(296px*var(--wui-scale))]"
  >
    <slot />
  </body>
</html>
