<!-- <script>
  import { getTheme } from "~/utils/theme";
  const theme = getTheme();

  const html = document.querySelector("html")!;

  html.setAttribute("data-accent-color", theme.color);
  html.setAttribute("data-radius", theme.radius);
  html.setAttribute("data-scale", theme.scale);
</script> -->
<html
  lang="en"
  class="winnie-ui light"
  data-theme="light"
  data-code-theme="github-light"
  data-accent-color="yellow"
  data-radius="round"
  data-scale="100%"
>
  <head>
    <slot name="head" />
  </head>
  <body class="wui-layout">
    <slot />
  </body>
</html>

<style>
  .wui-layout {
    --wui-docs-layout-background: var(--wui-color-accent-1);
    --wui-docs-layout-sidebar-width: calc(296px * var(--wui-scale));

    background: var(--wui-color-white-a9);
  }
</style>
