<html
  lang="en"
  class="winnie-ui"
  data-theme="light"
  data-code-theme="github-light"
>
  <head>
    <slot name="head" />
  </head>
  <body class="wui-layout">
    <slot />
  </body>
</html>

<!--
Intentionally setting this script inline with a IIFE to prevent a flash of unstyled content
-->
<script is:inline>
  (function setThemeOnDocument() {
    const themeJSON =
      typeof localStorage !== "undefined" && localStorage.getItem("wuiTheme");

    let theme;

    if (themeJSON == null) {
      theme = {
        color: "orange",
        radius: "lg",
        scale: "90%",
        mode: "light",
      };
    } else {
      theme = JSON.parse(themeJSON);
    }

    const html = document.querySelector("html");
    html.setAttribute("data-accent-color", theme.color);
    html.setAttribute("data-radius", theme.radius);
    html.setAttribute("data-scale", theme.scale);
    html.setAttribute("data-theme", theme.mode);
    html.setAttribute("data-code-theme", `github-${theme.mode}`);
  })();
</script>

<!--
To make sure the theme is still set on the document after a view transition,
I am listening to the `after-swap` event and setting the attributes
-->
<script>
  import { getTheme, setTheme } from "~/utils/theme";

  function setThemeAfterSwap() {
    const theme = getTheme();
    setTheme(theme);
  }

  document.addEventListener("astro:after-swap", setThemeAfterSwap);
</script>

<style>
  .wui-layout {
    --wui-docs-layout-background: var(--wui-color-white);
    --wui-docs-layout-sidebar-width: calc(296px * var(--wui-scale));

    background: var(--wui-docs-layout-background);
    overscroll-behavior-y: none;
  }

  :global(:is([data-theme="light"])) {
    .wui-layout {
      --wui-docs-layout-background: var(--wui-color-white);

      @media (min-width: 768px) {
        --wui-docs-layout-background: var(--wui-color-grey-1);
      }
    }
  }

  :global(:is([data-theme="dark"])) {
    .wui-layout {
      --wui-docs-layout-background: var(--wui-color-grey-1);

      @media (min-width: 768px) {
        --wui-docs-layout-background: var(--wui-color-black);
      }
    }
  }
</style>
