---
import "@fontsource/inter";
import "@fontsource/geist-mono";
---

<html
  lang="en"
  class="light winnie-ui"
  data-accent-color="brand"
  data-radius="md"
  data-scaling="100%"
>
  <head>
    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>
