<html
  lang="en"
  class="winnie-ui light"
  data-accent-color="brand"
  data-radius="md"
  data-scale="100%"
  data-theme="light"
  data-code-theme="github-light"
>
  <head>
    <slot name="head" />
  </head>
  <body class="wui-layout">
    <slot />
  </body>
</html>

<style>
  .wui-layout {
    --wui-docs-layout-background: var(--wui-color-accent-1);
    --wui-docs-layout-sidebar-width: calc(296px * var(--wui-scale));

    background: var(--wui-color-white-a9);
  }
</style>
