<div class="color-board">
  <slot />
</div>

<style>
  .color-board {
    display: flex;
    flex-direction: column;
    gap: var(--wui-space-6);
    margin-bottom: calc(80px * var(--wui-scale));
  }
</style>
