.dme {
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 100%;

	.dme-radio-group {
		align-items: center;
		background: var(--wui-color-grey-2);
		border: var(--wui-border-width-1) solid var(--wui-color-grey-4);
		border-radius: var(--wui-border-radius-3);
		display: flex;
		gap: var(--wui-space-2);
		padding: var(--wui-space-2);

		.dme-radio-item {
			--size: calc(34px * var(--wui-scale));

			align-items: center;
			border-radius: calc(var(--wui-border-radius-3) - var(--wui-space-2));
			display: flex;
			justify-content: center;
			height: var(--size);
			width: var(--size);

			&[data-hovered] {
				background: var(--wui-color-grey-3);
			}

			&[data-focus-visible] {
				outline: var(--wui-border-width-2) solid var(--wui-color-accent-8);
				outline-offset: 2px;
			}

			&[data-selected] {
				background: var(--wui-color-grey-5);
			}

			& > svg {
				--size: calc(18px * var(--wui-scale));

				height: var(--size);
				width: var(--size);
			}
		}
	}

	.dme-content {
		background: var(--content-background);
		border: var(--wui-border-width-1) solid var(--wui-color-grey-4);
		border-radius: min(var(--wui-border-radius-3), 12px);
		box-shadow: var(--wui-shadow-2);
		margin-top: var(--wui-space-5);
		max-width: 400px;
		padding-top: var(--wui-space-6);
		padding-inline: var(--wui-space-6);
		width: 100%;

		&.dark {
			--content-background: var(--wui-color-grey-2);
			--input-background: var(--wui-color-grey-3);
		}

		&.light {
			--content-background: var(--wui-color-white);
			--input-background: var(--wui-color-grey-2);
		}

		.dme-title {
			color: var(--wui-color-grey-12);
			font-size: var(--wui-font-size-5);
			font-weight: var(--wui-font-weight-medium);
			letter-spacing: var(--wui-letter-spacing-9);
		}

		.dme-control {
			display: flex;
			flex-direction: column;
			margin-top: var(--wui-space-6);
			width: 100%;

			.dme-label {
				color: var(--wui-color-grey-12);
				font-size: var(--wui-font-size-2);
				font-weight: var(--wui-font-weight-medium);
			}

			.dme-input {
				--border-color: var(--wui-color-grey-5);
				background: var(--input-background);
				border: var(--wui-border-width-1) solid var(--border-color);
				border-radius: var(--wui-border-radius-3);
				box-shadow: var(--wui-shadow-1);
				color: var(--wui-color-grey-12);
				height: calc(34px * var(--wui-scale));
				margin-top: var(--wui-space-3);
				padding-inline: var(--wui-space-3);
				width: 100%;

				&:focus {
					outline: var(--wui-border-width-1) solid var(--wui-color-accent-8);
				}
			}
		}

		.dme-footer {
			align-items: center;
			display: flex;
			gap: var(--wui-space-3);
			justify-content: flex-end;
			margin-top: var(--wui-space-4);
			padding-block: var(--wui-space-6);

			.dme-button {
				border-radius: var(--wui-border-radius-3);
				height: calc(34px * var(--wui-scale));
				font-size: var(--wui-font-size-2);
				font-weight: var(--wui-font-weight-medium);
				padding-inline: var(--wui-space-4);
				white-space: nowrap;

				&.dme-create-button {
					background: var(--wui-color-accent-3);
					color: var(--wui-color-accent-11);

					&:hover {
						background: var(--wui-color-accent-4);
					}

					&:active {
						background: var(--wui-color-accent-5);
					}

					&:focus-visible {
						outline: var(--wui-border-width-2) solid var(--wui-color-accent-8);
						outline-offset: 2px;
					}
				}

				&.dme-sign-in-button {
					background: var(--wui-color-accent-9);
					color: var(--wui-color-accent-contrast);

					&:hover {
						background: var(--wui-color-accent-10);
					}

					&:active {
						background: var(--wui-color-accent-10);
					}

					&:focus-visible {
						outline: var(--wui-border-width-2) solid var(--wui-color-accent-8);
						outline-offset: 2px;
					}
				}
			}
		}
	}
}
