---
import BaseHead from "~/components/base-head.astro";
---

<html lang="en">
  <head>
    <BaseHead title="asdfasdf" description="qwerqewrqwerqwer" />
  </head>
  <body>
    <h1 class="bg-red-4">Astro</h1>
  </body>
</html>
