---
// import { Circle, Fullscreen, Layers3, SwatchBook } from "lucide-react";
import BaseHead from "~/layouts/base/base-head.astro";
import BaseLayout from "~/layouts/base/layout.astro";
---

<BaseLayout>
  <BaseHead
    slot="head"
    title="Winnie CSS"
    description="A flexible and opinionated collection of CSS primitives for building applications."
  />
  <main class="hero polka-background">
    <div class="hero-gradient"></div>
    <div class="hero-content">
      <div class="hero-text">
        <h2>css</h2>
        <h1>Winnie</h1>
        <p>
          A <span>flexible</span> and <span>opinionated</span> collection of CSS
          primitives for building applications.
        </p>
      </div>
      <div class="actions">
        <a href="/css/docs/start/quick-start">Start building</a>
      </div>
      <!-- <div class="features"> -->
      <!--   <div class="feature-item"> -->
      <!--     <SwatchBook /> -->
      <!--     <span>Match your brand</span> -->
      <!--   </div> -->
      <!--   <div class="feature-item"> -->
      <!--     <Circle /> -->
      <!--     <span>Pick a radius</span> -->
      <!--   </div> -->
      <!--   <div class="feature-item"> -->
      <!--     <Fullscreen /> -->
      <!--     <span>Change the density</span> -->
      <!--   </div> -->
      <!--   <div class="feature-item"> -->
      <!--     <Layers3 /> -->
      <!--     <span>Built with Layers</span> -->
      <!--   </div> -->
      <!-- </div> -->
    </div>
  </main>
</BaseLayout>

<style>
  main {
    overlay: auto;
  }
  .hero {
    min-height: 100dvh;
    position: relative;

    .hero-gradient {
      height: 100%;
      background: linear-gradient(
        to bottom,
        var(--hero-gradient-1) 50%,
        transparent
      );
      background-size: auto 200px;
      background-repeat: no-repeat;
      position: absolute;
      width: 100%;
    }

    .hero-content {
      position: absolute;

      .hero-text {
        padding: var(--wui-space-6);
        padding-bottom: 0;

        h2 {
          font-weight: var(--wui-font-weight-normal);
          color: var(--wui-color-grey-11);
          font-size: var(--wui-font-size-4);
          letter-spacing: var(--wui-letter-spacing-9);
          line-height: var(--wui-line-height-4);
        }

        h1 {
          color: var(--wui-color-grey-12);
          font-size: var(--wui-font-size-8);
          font-weight: var(--wui-font-weight-semibold);
          letter-spacing: var(--wui-letter-spacing-9);
          line-height: var(--wui-line-height-8);
        }

        p {
          color: var(--wui-color-grey-11);
          font-size: var(--wui-font-size-3);
          line-height: var(--wui-line-height-3);
          margin-top: var(--wui-space-2);

          span {
            color: var(--wui-color-grey-12);
            font-size: var(--wui-font-size-3);
            font-weight: var(--wui-font-weight-medium);
          }
        }
      }

      .actions {
        margin-top: var(--wui-space-5);
        padding-inline: var(--wui-space-6);

        a {
          align-items: center;
          background: var(--wui-color-accent-9);
          border-radius: var(--wui-border-radius-3);
          color: var(--wui-color-accent-contrast);
          display: inline-flex;
          font-size: var(--wui-font-size-2);
          font-weight: var(--wui-font-weight-medium);
          height: calc(34px * var(--wui-scale));
          justify-content: center;
          padding-inline: var(--wui-space-4);
        }
      }

      .features {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: var(--wui-space-5);
        margin-top: var(--wui-space-6);
        padding-inline: var(--wui-space-6);

        .feature-item {
          align-items: center;
          display: flex;
          gap: var(--wui-space-3);

          & svg {
            --size: var(--wui-font-size-4);
            height: var(--size);
            width: var(--size);
          }

          span {
            color: var(--wui-color-grey-12);
            flex: 1;
            font-size: var(--wui-font-size-2);
          }
        }
      }
    }
  }

  .polka-background {
    background-color: var(--polka-background);
    background-image: radial-gradient(
      var(--wui-color-grey-4) 1px,
      var(--polka-background) 1px
    );
    background-size: var(--polka-background-size, 10px 10px);
  }

  :global(:where([data-theme="light"])) {
    .polka-background {
      --polka-background: var(--wui-color-white);
    }

    .hero-gradient {
      --hero-gradient-1: var(--wui-color-white);
    }
  }

  :global(:where([data-theme="dark"])) {
    .polka-background {
      --polka-background: var(--wui-color-grey-1);
    }

    .hero-gradient {
      --hero-gradient-1: var(--wui-color-black);
    }
  }
</style>
