---
// import { Circle, Fullscreen, Layers3, SwatchBook } from "lucide-react";
import BaseHead from "~/layouts/base/base-head.astro";
import BaseLayout from "~/layouts/base/layout.astro";
---

<BaseLayout>
  <BaseHead
    slot="head"
    title="Winnie CSS"
    description="A flexible and opinionated collection of CSS primitives for building applications."
  />
  <main class="hero polka-background" transition:animate="none">
    <div class="hero-gradient"></div>
    <div class="hero-content">
      <div class="hero-area-a">
        <div class="hero-text">
          <h2 class="winnie-ui light" data-accent-color="orange">css</h2>
          <h1>Winnie</h1>
          <p>
            A <span>flexible</span> and <span>opinionated</span> collection of CSS
            primitives for building applications.
          </p>
        </div>
        <div class="actions">
          <a href="/css/docs/start/quick-start">Start building</a>
        </div>
      </div>
      <div class="hero-area-b">
        <div class="demo-container">
          <div class="demo">asdfasfd</div>
        </div>
      </div>
    </div>
  </main>
</BaseLayout>

<style>
  .hero {
    --max-page-width: 1024px;

    display: flex;
    justify-content: center;
    min-height: 100dvh;
    padding-top: var(--wui-space-9);
    position: relative;
    overflow: hidden;

    @media (min-width: 768px) {
      padding-top: 140px;
    }

    .hero-gradient {
      height: 100%;
      background: linear-gradient(
        to bottom,
        transparent,
        var(--hero-gradient-1) 10%,
        transparent 60%
      );
      background-size: auto 300px;
      background-repeat: no-repeat;
      position: absolute;
      width: 100%;

      @media (min-width: 768px) {
        background-size: auto 600px;
      }
    }

    .hero-content {
      position: absolute;
      --grid-column-count: 3;

      display: grid;
      grid-template-columns: repeat(var(--grid-column-count), 1fr);
      gap: var(--wui-space-7);

      @media (min-width: 768px) {
        --grid-column-count: 6;

        max-width: var(--max-page-width);
        margin-inline: auto;
        width: 100%;
      }

      .hero-area-a {
        grid-column: span 3;
        padding-inline: var(--wui-space-6);

        @media (min-width: 768px) {
          grid-column: span calc(var(--grid-column-count) / 2);
        }

        .hero-text {
          h2 {
            background: linear-gradient(
              to bottom right,
              var(--wui-color-accent-9),
              var(--wui-color-accent-8)
            );
            border-radius: var(--wui-border-radius-3);
            font-weight: var(--wui-font-weight-normal);
            color: var(--wui-color-accent-contrast);
            display: inline-block;
            font-size: var(--wui-font-size-5);
            letter-spacing: var(--wui-letter-spacing-9);
            padding-inline: var(--wui-space-3);
            padding-bottom: var(--wui-space-2);
          }

          h1 {
            color: var(--wui-color-grey-12);
            font-size: var(--wui-font-size-9);
            font-size: var(--wui-font-size-9);
            font-weight: var(--wui-font-weight-semibold);
            line-height: var(--wui-line-height-9);
            letter-spacing: var(--wui-letter-spacing-9);
            margin-top: var(--wui-space-6);
          }

          p {
            color: var(--wui-color-grey-11);
            font-size: var(--wui-font-size-4);
            line-height: var(--wui-line-height-4);
            margin-top: var(--wui-space-5);

            span {
              color: var(--wui-color-grey-12);
              font-weight: var(--wui-font-weight-medium);
            }
          }
        }

        .actions {
          margin-top: var(--wui-space-6);

          a {
            align-items: center;
            background: var(--action-background);
            border-radius: var(--wui-border-radius-3);
            color: var(--action-color);
            display: inline-flex;
            font-size: var(--wui-font-size-3);
            font-weight: var(--wui-font-weight-medium);
            height: calc(42px * var(--wui-scale));
            justify-content: center;
            padding-inline: var(--wui-space-5);

            &:hover {
              background: var(--action-background-hover);
            }

            &:active {
              background: var(--action-background-active);
            }

            &:focus-visible {
              outline: var(--wui-border-width-2) solid var(--wui-color-accent-9);
              outline-offset: 2px;
            }

            @media (min-width: 768px) {
              height: calc(42px * var(--wui-scale));
              font-size: var(--wui-font-size-3);
              padding-inline: var(--wui-space-5);
            }
          }
        }
      }

      .hero-area-b {
        grid-column: span 3;
        padding-inline: var(--wui-space-6);

        @media (min-width: 768px) {
          grid-column: span calc(var(--grid-column-count) / 2);
        }
      }
    }
  }

  .polka-background {
    background-color: var(--polka-background);
    background-image: radial-gradient(
      var(--polka-dot-background) 1px,
      var(--polka-background) 1px
    );
    background-size: var(--polka-background-size, 20px 20px);
  }

  :global(:where([data-theme="light"])) {
    --action-background: var(--wui-color-grey-12);
    --action-color: var(--wui-color-white);
    --action-background-hover: var(--wui-color-black);
    --action-background-active: var(--wui-color-black);

    .polka-background {
      --polka-background: var(--wui-color-white);
      --polka-dot-background: var(--wui-color-grey-5);
    }

    .hero-gradient {
      --hero-gradient-1: var(--wui-color-white);
    }
  }

  :global(:where([data-theme="dark"])) {
    --action-background: var(--wui-color-grey-12);
    --action-color: var(--wui-color-black);
    --action-background-hover: var(--wui-color-white);
    --action-background-active: var(--wui-color-white);

    .polka-background {
      --polka-background: var(--wui-color-black);
      --polka-dot-background: var(--wui-color-grey-3);
    }

    .hero-gradient {
      --hero-gradient-1: var(--wui-color-black);
    }
  }
</style>
