---
import BaseHead from "~/layouts/base/base-head.astro";
import BaseLayout from "~/layouts/base/layout.astro";

import { ChevronsUpDown, Search } from "lucide-react";
---

<BaseLayout>
  <BaseHead slot="head" title="playground" description="playground" />
  <div class="center">

    <div class="form">
      <div data-component="field">
        <label data-component="label">Street address</label>
        <input data-component="input" />
      </div>

      <div data-component="field">
        <label data-component="label">Country</label>
        <input data-component="input" />
        <span data-component="description">We only ship to North America.</span>
      </div>

      <div data-component="field">
        <label data-component="label">Country</label>
        <span data-component="description">We only ship to North America.</span>
        <input data-component="input" />
      </div>

      <div data-component="field">
        <label data-component="label">Country</label>
        <span data-component="description">We only ship to North America.</span>
        <input data-component="input" />
        <span data-component="error">Select a county</span>
      </div>
    </div>
  </div>
</BaseLayout>

<style>
  .center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--wui-space-4);
    padding: var(--wui-space-5);
    height: 100dvh;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: var(--wui-space-8);
    max-width: 400px;
    width: 100%;
  }

  .row {
    align-items: center;
    display: flex;
    gap: var(--wui-space-4);
  }

  [data-component="label"] {
    font-family: var(--wui-font-family-sans);
    font-weight: var(--wui-font-weight-medium);
  }

  [data-component="input"] {
    border: var(--wui-border-width-1) solid var(--wui-color-grey-7);
  }

  [data-component="description"] {
    color: var(--wui-color-grey-11);
  }

  [data-component="error"] {
    color: var(--wui-color-red-11);
  }
</style>
