<div class="reference-color-gradient"></div>

<style>
  .reference-color-gradient {
    background: linear-gradient(
      to right,
      var(--wui-color-pink-9),
      var(--wui-color-blue-9)
    );
    border-radius: var(--wui-border-radius-2);
    height: 32px;
    width: 100%;
  }
</style>
