---
import type { MarkdownHeading } from "astro";

import TableOfContents from "./toc/toc.astro";

type Props = {
  title: string;
  description: string;
  headings: MarkdownHeading[];
};

const { title, description, headings } = Astro.props;
---

<main class="wui-docs-layout-content">
  <div class="wui-docs-content-paper" transition:animate="none">
    <article class="wui-docs-content-paper-article">
      <div class="wui-docs-article-heading">
        <h1 class="wui-docs-article-title">{title}</h1>
        <p class="wui-docs-article-description">{description}</p>
      </div>
      <div class="wui-markdown-content">
        <slot />
      </div>
    </article>
    <aside class="wui-docs-minimap">
      <TableOfContents headings={headings} />
    </aside>
  </div>
</main>

<style>
  .wui-docs-layout-content {
    background: var(--wui-docs-layout-background);
    padding: 0;
    width: 100%;

    @media (min-width: 768px) {
      padding-left: var(--wui-docs-layout-sidebar-width);
      padding-right: var(--wui-space-4);
      padding-top: var(--wui-space-4);
      padding-bottom: var(--wui-space-4);
    }

    .wui-docs-content-paper {
      --wui-docs-content-paper-padding-block: calc(112px + var(--wui-space-4));

      align-items: flex-start;
      background: var(--wui-color-white-a11);
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
      border-radius: 0;
      display: flex;
      gap: var(--wui-space-9);
      padding-inline: var(--wui-space-6);
      margin-top: var(--wui-docs-content-paper-padding-block);
      padding-top: var(--wui-space-6);
      min-height: 100%;
      position: relative;

      @media (min-width: 768px) {
        --wui-docs-content-paper-padding-block: var(--wui-space-9);

        border: var(--wui-border-width-1) solid var(--wui-color-grey-4);
        border-radius: min(var(--wui-border-radius-4), 20px);
        box-shadow: -2px 0 8px -2px hsl(var(--wui-shadow-color) /
              calc(var(--wui-shadow-strength) + 10%));
        padding-inline: var(--wui-space-9);
        padding-block: var(--wui-space-9);
        margin-top: 0;
      }

      @media (min-width: 1024px) {
        padding-right: var(--wui-space-6);
      }

      .wui-docs-content-paper-article {
        margin-inline: auto;
        width: 100%;
        max-width: 70ch;

        .wui-docs-article-heading {
          margin-bottom: var(--wui-space-9);

          .wui-docs-article-title {
            color: var(--wui-color-grey-12);
            font-size: var(--wui-font-size-8);
            letter-spacing: var(--wui-letter-spacing-9);
            font-weight: var(--wui-font-weight-semibold);
          }

          .wui-docs-article-description {
            color: var(--wui-color-grey-11);
            font-size: var(--wui-font-size-4);
            line-height: var(--wui-line-height-4);
            margin-top: var(--wui-space-2);
          }
        }

        .wui-markdown-content {
          --wui-markdown-content-font-size: calc(15px * var(--wui-scale));

          a:not(:where(.not-content *), .heading-anchor) {
            color: var(--wui-color-accent-11);
            border-radius: min(var(--wui-border-radius-1), 4px);
            font-size: var(--wui-markdown-content-font-size);
            font-weight: var(--wui-font-weight-medium);

            &:hover {
              color: var(--wui-color-accent-12);
            }

            &:focus-visible {
              outline: var(--wui-border-width-2) solid var(--wui-color-accent-9);
              outline-offset: var(--wui-space-1);
            }
          }

          p:not(:where(.not-content *)) {
            color: var(--wui-color-grey-12);
            font-size: var(--wui-markdown-content-font-size);
            font-weight: var(--wui-font-weight-normal);
            line-height: var(--wui-line-height-3);
            margin: var(--wui-space-6) auto;
          }

          h2 + p:not(:where(.not-content *)) {
            margin-bottom: var(--wui-space-7);
            margin-top: var(--wui-space-5);
          }

          h3 + p:not(:where(.not-content *)) {
            margin-bottom: var(--wui-space-7);
            margin-top: var(--wui-space-5);
          }

          code:not(:where(.not-content *)) {
            background: var(--wui-color-accent-3);
            border: var(--wui-border-width-1) solid var(--wui-color-accent-5);
            border-radius: min(var(--wui-border-radius-2), 6px);
            color: var(--wui-color-accent-12);
            font-family: var(--wui-font-family-mono);
            font-size: var(--wui-font-size-2);
            line-height: 1;
            margin: var(--wui-space-6) auto;
            padding-inline: var(--wui-space-1);
            padding-bottom: var(--wui-space-1);
          }

          ul:not(:where(.not-content)) {
            list-style-type: disc;
            margin: var(--wui-space-6) 0;
            padding-left: var(--wui-space-8);
          }

          table:not(:where(.not-content)) {
            --wui-table-outer-border-color: var(--wui-color-grey-5);
            --wui-table-border-radius: min(var(--wui-border-radius-4), 15px);

            border-spacing: 0px;
            margin: var(--wui-space-9) auto;
            width: 100%;

            thead {
              tr {
                th {
                  background: var(--wui-color-grey-2);
                  border-top: var(--wui-border-width-1) solid
                    var(--wui-table-outer-border-color);
                  border-bottom: var(--wui-border-width-1) solid
                    var(--wui-table-outer-border-color);
                  font-size: var(--wui-font-size-2);
                  font-weight: var(--wui-font-weight-medium);
                  padding: var(--wui-space-4) var(--wui-space-4);
                  text-align: left;

                  &:first-child {
                    border-top-left-radius: var(--wui-table-border-radius);
                    border-left: var(--wui-border-width-1) solid
                      var(--wui-table-outer-border-color);
                  }

                  &:last-child {
                    border-top-right-radius: var(--wui-table-border-radius);
                    border-right: var(--wui-border-width-1) solid
                      var(--wui-table-outer-border-color);
                  }
                }
              }
            }

            tbody {
              tr {
                td {
                  border-bottom: var(--wui-border-width-1) solid
                    var(--wui-color-grey-4);
                  color: var(--wui-color-grey-12);
                  font-size: var(--wui-font-size-2);
                  padding: var(--wui-space-3) var(--wui-space-4);
                  white-space: nowrap;

                  &:first-child {
                    border-left: var(--wui-border-width-1) solid
                      var(--wui-table-outer-border-color);
                  }

                  &:last-child {
                    border-right: var(--wui-border-width-1) solid
                      var(--wui-table-outer-border-color);
                  }
                }

                &:nth-child(even) {
                  background: var(--wui-color-grey-1);
                }

                &:last-child {
                  td:first-child {
                    border-bottom-left-radius: var(--wui-table-border-radius);
                  }

                  td:last-child {
                    border-bottom-right-radius: var(--wui-table-border-radius);
                  }
                }
              }
            }
          }
        }
      }

      .wui-docs-minimap {
        display: none;
        max-width: calc(250px * var(--wui-scale));
        position: sticky;
        top: calc(
          var(--wui-docs-content-paper-padding-block) + var(--wui-space-4)
        );
        width: 100%;

        @media (min-width: 1280px) {
          display: block;
        }

        &:not(:has(a)) {
          display: none;
        }
      }
    }
  }
</style>
