---
import type { CollectionEntry } from "astro:content";

import BaseHead from "~/components/base-head.astro";
import BaseLayout from "../base/layout.astro";
import Sidebar from "./sidebar/sidebar.astro";
import Content from "./content.astro";

type Props = CollectionEntry<"css">["data"];

const { title, description } = Astro.props;
---

<BaseLayout>
  <BaseHead slot="head" title={title} description={description} />
  <div class="wui-docs-body">
    <Sidebar />
    <Content title={title} description={description} />
  </div>
</BaseLayout>

<style>
  body {
    --wui-docs-layout-sidebar-width: 296px;
  }

  .wui-docs-body {
    --wui-docs-layout-background: var(--wui-color-grey-2);

    display: flex;
    min-height: 100dvh;
    gap: var(--wui-space-4);
  }
</style>
