.radius-picker {
  align-items: center;
  display: flex;
  gap: var(--wui-space-3);
  justify-content: flex-start;

  .preview {
    background: var(--wui-color-accent-3);
    border: var(--wui-border-width-1) solid var(--wui-color-accent-6);
    border-radius: var(--wui-border-radius-2);
    height: var(--wui-space-5);
    width: var(--wui-space-5);
  }
}
