.theme-picker-modal-trigger {
  align-items: center;
  border-radius: var(--wui-border-radius-3);
  color: var(--wui-color-grey-12);
  display: flex;
  font-size: var(--wui-font-size-2);
  font-weight: var(--wui-font-weight-semibold);
  gap: var(--wui-space-3);
  height: calc(34px * var(--wui-scale));
  justify-content: center;
  width: calc(34px * var(--wui-scale));

  &:where([data-state="open"], [data-pressed], [data-hovered]) {
    background: var(--wui-color-accent-4);
  }

  &[focus-visible] {
    background: var(--wui-color-accent-3);
  }

  & > svg {
    height: calc(16px * var(--wui-scale));
    width: calc(16px * var(--wui-scale));
  }
}

.theme-picker-modal-overlay {
  align-items: center;
  background: var(--wui-color-white-a7);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  left: 0;
  height: var(--visual-viewport-height);
  padding-top: 150px;
  padding-inline: var(--wui-space-5);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  &[data-entering] {
    animation: wui-fade-in var(--wui-duration-3) var(--wui-bezier-1);
  }

  .theme-picker-modal {
    background: var(--wui-color-white);
    border-radius: min(var(--wui-border-radius-5), 20px);
    border: var(--wui-border-width-1) solid var(--wui-color-grey-2);
    box-shadow: var(--wui-shadow-5);
    max-height: calc(100% - var(--wui-space-4) * 2);
    max-width: calc(100% - var(--wui-space-4) * 2);
    width: 100%;
    transform-origin: center center;
    outline: none;
    overflow: auto;

    &[data-entering] {
      animation: wui-slide-down-enter var(--wui-duration-3) var(--wui-bezier-1);
    }

    @media (min-width: 768px) {
      max-height: 85dvh;
      min-width: 250px;
      max-width: 600px;
    }

    .theme-picker-dialog {
      outline: none;
      position: relative;

      .theme-picker-dialog-header {
        padding: var(--wui-space-6);

        .theme-picker-dialog-title {
          color: var(--wui-color-grey-12);
          font-size: var(--wui-font-size-5);
          font-weight: var(--wui-font-weight-medium);
          letter-spacing: var(--wui-letter-spacing-9);
        }

        .theme-picker-dialog-description {
          color: var(--wui-color-grey-11);
          font-size: var(--wui-font-size-2);
          line-height: var(--wui-line-height-3);
        }
      }

      .theme-picker-dialog-content {
        padding: var(--wui-space-6);
      }

      .theme-picker-dialog-close {
        --size: calc(32px * var(--wui-scale));
        align-items: center;
        background: var(--wui-color-grey-3);
        border-radius: var(--wui-border-radius-2);
        display: flex;
        height: var(--size);
        justify-content: center;
        position: absolute;
        top: var(--wui-space-6);
        right: var(--wui-space-6);
        width: var(--size);

        &[data-hovered] {
          background: var(--wui-color-grey-4);
        }

        &[data-pressed] {
          background: var(--wui-color-grey-5);
        }

        &[data-focus-visible] {
          outline: var(--wui-border-width-2) solid var(--wui-color-accent-9);
          outline-offset: 2px;
        }

        & > svg {
          --size: var(--wui-font-size-4);
          color: var(--wui-color-grey-11);
          height: var(--size);
          width: var(--size);
        }
      }
    }
  }
}
