.theme-picker-popover-trigger {
  align-items: center;
  border-radius: var(--wui-border-radius-3);
  color: var(--wui-color-grey-12);
  display: flex;
  font-size: var(--wui-font-size-2);
  font-weight: var(--wui-font-weight-semibold);
  gap: var(--wui-space-3);
  height: calc(34px * var(--wui-scale));
  justify-content: center;
  width: calc(34px * var(--wui-scale));

  &:where([data-state="open"], [data-pressed], [data-hovered]) {
    background: var(--wui-color-accent-5);
  }

  &[focus-visible] {
    background: var(--wui-color-accent-3);
  }

  & > svg {
    height: calc(16px * var(--wui-scale));
    width: calc(16px * var(--wui-scale));
  }
}

.theme-picker-popover-content {
  background: var(--wui-color-white-a11);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: var(--wui-border-width-1) solid var(--wui-color-grey-4);
  border-radius: min(var(--wui-border-radius-3), 20px);
  box-shadow: var(--wui-shadow-3);
  overflow: auto;
  width: 275px;

  & > section {
    outline: none;
  }
}
