.theme-picker-popover-trigger {
  align-items: center;
  background: transparent;
  border-radius: var(--wui-border-radius-3);
  color: var(--wui-color-accent-11);
  display: flex;
  height: calc(28px * var(--wui-scale));
  justify-content: center;
  width: calc(28px * var(--wui-scale));

  &:where([data-state="open"], [data-pressed], [data-hovered]) {
    background: var(--wui-color-accent-4);
  }

  &[focus-visible] {
    background: var(--wui-color-accent-3);
  }

  & > svg {
    height: calc(16px * var(--wui-scale));
    width: calc(16px * var(--wui-scale));
  }
}

.theme-picker-popover-content {
  background: var(--wui-color-white-a10);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: var(--wui-border-width-1) solid var(--wui-color-grey-4);
  border-radius: min(var(--wui-border-radius-3), 20px);
  box-shadow: var(--wui-shadow-3);
  overflow: auto;
  width: calc(var(--wui-docs-layout-sidebar-width) - var(--wui-space-5) * 2);

  & > section {
    outline: none;
  }
}
