.theme-picker-radio-group {
  margin-top: var(--wui-space-6);

  .radio-label {
    color: var(--wui-color-grey-12);
    display: block;
    font-size: var(--wui-font-size-1);
    font-weight: var(--wui-font-weight-medium);
    line-height: var(--wui-line-height-1);
    margin-bottom: var(--wui-space-4);
  }

  .radio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--wui-space-3);

    .radio-grid-item {
      align-items: center;
      border: var(--wui-border-width-1) solid var(--wui-color-grey-4);
      border-radius: var(--wui-border-radius-3);
      color: var(--wui-color-grey-11);
      font-size: var(--wui-font-size-1);
      padding: var(--wui-space-3);
      text-align: center;
      user-select: none;

      &:is([data-hovered], [data-focus-visible]) {
        background: var(--wui-color-grey-a2);
      }

      &[data-selected] {
        background: var(--wui-color-accent-a2);
        outline: var(--wui-border-width-2) solid var(--wui-color-accent-8);
        outline-offset: -1px;
      }
    }
  }
}
