.theme-picker-modal-trigger {
	align-items: center;
	border-radius: var(--wui-border-radius-3);
	color: var(--wui-color-grey-12);
	display: flex;
	font-size: var(--wui-font-size-2);
	font-weight: var(--wui-font-weight-semibold);
	height: calc(34px * var(--wui-scale));
	justify-content: center;
	margin-right: calc(-1 * var(--wui-space-1));
	width: calc(34px * var(--wui-scale));

	&:where([data-state="open"], :hover) {
		background: var(--wui-color-accent-4);
	}

	&:active {
		background: var(--wui-color-accent-4);
	}

	&:focus-visible {
		outline: var(--wui-border-width-2) solid var(--wui-color-accent-9);
		outline-offset: 2px;
	}

	& > svg {
		height: calc(16px * var(--wui-scale));
		width: calc(16px * var(--wui-scale));
	}
}

.theme-picker-modal-overlay {
	animation: wui-fade-in var(--wui-duration-3) var(--wui-bezier-1);
	background: var(--overlay-background);
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
	inset: 0;
	position: fixed;
	z-index: 2;
}

.theme-picker-modal {
	animation: wui-dialog-open var(--wui-duration-3) var(--wui-bezier-1);
	background: var(--modal-background);
	border-radius: min(var(--wui-border-radius-5), 20px);
	border: var(--wui-border-width-1) solid var(--modal-border-color);
	box-shadow: var(--wui-shadow-5);
	display: flex;
	flex-direction: column;
	left: 50%;
	max-height: calc(100% - var(--wui-space-4) * 2);
	max-width: calc(100% - var(--wui-space-4) * 2);
	transform-origin: center center;
	outline: none;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	z-index: 3;

	@media (min-width: 768px) {
		max-height: 85dvh;
		min-width: 250px;
		max-width: 600px;
	}

	.theme-picker-dialog-header {
		flex-shrink: 0;
		padding: var(--wui-space-6);

		.theme-picker-dialog-title {
			color: var(--wui-color-grey-12);
			font-size: var(--wui-font-size-5);
			font-weight: var(--wui-font-weight-medium);
			letter-spacing: var(--wui-letter-spacing-9);
		}

		.theme-picker-dialog-description {
			color: var(--wui-color-grey-11);
			font-size: var(--wui-font-size-2);
			line-height: var(--wui-line-height-3);
		}
	}

	.theme-picker-dialog-content {
		flex: 1;
		overflow: auto;
		padding: var(--wui-space-6);
	}

	.theme-picker-dialog-close {
		--size: calc(32px * var(--wui-scale));
		align-items: center;
		background: var(--wui-color-grey-3);
		border-radius: var(--wui-border-radius-2);
		display: flex;
		height: var(--size);
		justify-content: center;
		position: absolute;
		top: var(--wui-space-6);
		right: var(--wui-space-6);
		width: var(--size);

		&[data-hovered] {
			background: var(--wui-color-grey-4);
		}

		&[data-pressed] {
			background: var(--wui-color-grey-5);
		}

		&[data-focus-visible] {
			outline: var(--wui-border-width-2) solid var(--wui-color-accent-9);
			outline-offset: 2px;
		}

		& > svg {
			--size: var(--wui-font-size-4);
			color: var(--wui-color-grey-11);
			height: var(--size);
			width: var(--size);
		}
	}
}

:where([data-theme="light"]) {
	.theme-picker-modal-overlay {
		--overlay-background: var(--wui-color-white-a7);
	}

	.theme-picker-modal {
		--modal-background: var(--wui-color-white);
		--modal-border-color: var(--wui-color-grey-5);
	}
}

:where([data-theme="dark"]) {
	.theme-picker-modal-overlay {
		--overlay-background: var(--wui-color-black-a6);
	}

	.theme-picker-modal {
		--modal-background: var(--wui-color-grey-2);
		--modal-border-color: var(--wui-color-grey-4);
	}
}
