@media (prefers-reduced-motion: no-preference) {
  .navigation-list-collapsible-content {
    --wui-collapsible-content-height: var(--radix-collapsible-content-height);

    &[data-state="open"] {
      animation-name: wui-fade-in, wui-collapsible-down;

      /* duration is zero for now until I find a way to prevent the animation from running
       * when a page navigation occurs. the result is some jank layout shift 
       */
      animation-duration: 0;
      /* animation-duration: var(--wui-duration-2); */
      animation-timing-function: var(--wui-bezier-1);
    }

    &[data-state="closed"] {
      animation-name: wui-fade-out, wui-collapsible-up;
      animation-duration: var(--wui-duration-2);
      animation-timing-function: var(--wui-bezier-1);
    }
  }
}
