@layer ds {
  .wui-button {
    font-weight: var(--wui-font-weight-medium);

    &[data-variant="solid"] {
      background: var(--wui-color-accent-9);
      color: var(--wui-color-accent-contrast);

      &[data-hovered] {
        background: var(--wui-color-accent-10);
      }

      &[data-pressed] {
        background: oklch(from var(--wui-color-accent-10) calc(l * 0.9) c h);
      }

      &[data-disabled] {
        background: var(--wui-color-grey-5);
        border-color: var(--wui-color-grey-5);
        color: var(--wui-color-grey-9);
      }
    }

    &[data-variant="soft"] {
      background: var(--wui-color-accent-a3);
      color: var(--wui-color-accent-a11);

      &[data-hovered] {
        background: var(--wui-color-accent-a4);
      }

      &[data-pressed] {
        background: var(--wui-color-accent-a5);
      }

      &[data-disabled] {
        background: var(--wui-color-grey-a3);
        color: var(--wui-color-grey-9);
      }
    }

    &[data-variant="ghost"] {
      background: transparent;
      color: var(--wui-color-accent-a11);

      &[data-hovered] {
        background: var(--wui-color-accent-a3);
      }

      &[data-pressed] {
        background: var(--wui-color-accent-a4);
      }
    }

    &[data-disabled] {
      color: var(--wui-color-grey-9);
    }

    .wui-button__pending {
      align-items: center;
      display: flex;
      justify-content: center;
      height: 100%;
      width: 100%;

      .wui-button__pending-icon {
        animation: spin 2.5s linear;
        animation-iteration-count: infinite;
        height: var(--wui-button-icon-size, var(--wui-button-md-icon-size));
        width: var(--wui-button-icon-size, var(--wui-button-md-icon-size));
        transform-origin: center center;
      }
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
