---
import Field from "./field.astro";
---

<Field>
  <span data-slot="description" class="description" slot="description">Where should we put your package?</span>
</Field>

<style>
  .description {
    color: var(--wui-color-grey-11);
  }
</style>
