---
import Button from "../../../../components/button.astro";
---

<ul class="button-list">
  {
    ["none", "sm", "md", "lg", "round"].map((scale) => {
      return (
        <li class="winnie-ui button-list-item">
          <div class="button-list-item-scale">
            <code>{scale}</code>
          </div>
          <div class="winnie-ui" data-radius={scale}>
            <Button>Sign up</Button>
          </div>
        </li>
      );
    })
  }
</ul>

<style>
  .button-list {
    border: var(--wui-border-width-1) solid var(--wui-color-grey-6);
    border-radius: var(--wui-border-radius-5);
    list-style: none;
    padding: 0;
    width: 100%;

    .button-list-item {
      border-bottom: var(--wui-border-width-2) dashed var(--wui-color-grey-6);
      display: grid;
      gap: var(--wui-space-7);
      grid-template-columns: 60px 1fr;
      padding-inline: var(--wui-space-7);

      &:last-child {
        border-bottom: none;
      }

      .button-list-item-scale {
        align-self: center;
      }

      button {
        max-width: min-content;
      }
    }
  }
</style>
